﻿@{
    ViewBag.Title = "Members and Family";
    ViewBag.Description = "Enroll your child for access to positive role models, educational activities, nourishing meals and opportunities to build character in a safe environment.";
}

<style>

    @@media only screen and (min-width : 1300px) {

        .specialButton4 {
            width: 240px;
        }
    }
</style>
<section class='copyLayout paddingTop'>
   
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/successWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='programs'></div>
            <h2>Programs</h2>
            <p class="title blue">Academic Success</p>
        </div>
        <div class='pull-box quotes'>
            <div class='quote-box'>
                <h2 class='pullquote'>Boys & Girls Clubs of Greater Houston reinforces and enhances the skills and knowledge young people learn at school.</h2>
            </div>
        </div>
        <div class='container'>
            <p>
                Boys & Girls Clubs of Greater Houston reinforces and enhances the skills and knowledge young people learn at school. We create opportunities for high-yield learning activities, which include leisure reading, writing, discussions with knowledgeable adults, homework help, tutoring, helping others and games, like Scrabble, that help develop cognitive skills. BGCGH also has an intensive summer learning program that is helping to close the achievement gap for Houston-area youth.
            </p>
        </div>
    </div>

    @Html.Partial("_progressBar")
    <div class='container'>
        <p class="title blue">Best Buy Teen Tech Center</p>
        <p>
            Boys & Girls Clubs of Greater Houston is proud to announce the creation of a space for teens, dedicated to encouraging youth to explore new levels of their creativity and help them boost their confidence through the use of technology.<br />
            <a class='btnAlternate' href='/Best_Buy_Teen_Tech_Center' style="margin-top:20px;">Learn About the Tech Center</a>
        </p>
    </div>
    <div class='container'>
        <br />
        <p class="title blue">Healthy Lifestyles</p>
    </div>
    <div class='pull-box quotes'>
        <div class='quote-box'>
            <h2 class='pullquote'>The Healthy Lifestyles Program addresses the distressing trends we see in children's health. We address the keys to a healthy body, mind and soul through four proven programs:</h2>
        </div>
    </div>
    <div class='container'>
        <p>
            <strong>Triple Play</strong> is based upon field-tested programming by Boys & Girls Clubs of America to improve the overall health of members ages 6-17. By increasing daily activity, teaching good nutrition, and helping them develop healthy relationships, this holistic program addresses the mind, body and soul of BGCGH members. The “Body” component promotes becoming more physically active through fun daily fitness routines. The “Mind” component is a curricula that teaches young people about the benefits of developing healthy eating choices. The “Soul” component encompasses the social recreation activities that are critical to positive youth development – interpersonal skills, positive behavior and good character.
        </p>
        <p>
            <strong>Smart Girls</strong> is a prevention/education and self-esteem enhancement program to meet the developmental needs of girls ages 8-12 and 13-17. Through dynamic sessions, activities, field trips and mentoring opportunities with adult women, girls explore their own and societal attitudes and values as they build lifelong skills. The program includes tools for eating right, staying physically fit, maintaining good healthcare and developing positive relationships with peers and adults.
        </p>
        <p>
            <strong>Passport to Manhood</strong> promotes and teaches responsibility to boys, ages 11-14, focusing on specific aspects of manhood. Each participant receives his own “passport” to underscore the notion that he is on a personal journey of maturation and growth. Passport to Manhood represents a targeted effort to engage young boys in discussions and activities that reinforce positive behavior.
        </p>
        <p>
            <strong>Smart Moves</strong> incorporates the latest information and approaches about effective prevention of destructive behavior. Participants are exposed to various activities designed to hone their decision-making and critical-thinking skills, as well as learn how to avoid alcohol, tobacco, other drugs and premature sexual activity.
        </p>
        <p>
            <em>A portion of the funding of this program is provided by the City of Houston’s Housing and Community Development Grant.</em>
        </p>
        <p class="title blue">Good Character & Citizenship</p>
    </div>
    <div class='pull-box quotes'>
        <div class='quote-box'>
            <h2 class='pullquote'>Club leadership programs assist youth in developing social-emotional skills and the ‘soft skills’ that make them more confident as they navigate adolescence, enter college and seek to gain employment.</h2>
        </div>
    </div>
    <div class='container'>
        <p>
            Club leadership programs assist youth in developing social-emotional skills and the ‘soft skills’ that make them more confident as they navigate adolescence, enter college and seek to gain employment. With adult guidance, BGCGH youth develop community service programs that provide opportunities for active learning, skill development and personal reflection. Through BGCGH, youth become involved in improving their communities and Clubs. This type of service has been linked to improved academic outcomes, making healthy life choices and a better relationship with school and community.
        </p>
        <p>
            BGCGH youth also show increased levels of school effort, academic confidence, integrity and future connectedness. They are less likely to engage in risky behaviors such as aggression, teen pregnancy, carrying a weapon, and use of alcohol, tobacco and illegal drugs.
        </p>
    </div>
</section>

@Html.Partial("_donateMonthly")
@section scripts {
    <script src="/assets/js/progressBar.js"></script>
    <script src="/assets/js/progressBarControls.js"></script>
}