﻿@{
    ViewBag.Title = "Members and Family";
    ViewBag.Description = "Enroll your child for access to positive role models, educational activities, nourishing meals and opportunities to build character in a safe environment.";
}

<style>


    @@media only screen and (min-width : 1300px) {

        .specialButton4 {
            width: 240px;
        }
    }
</style>
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/familyWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='parentResources'></div>
            <h2 class='blue'>Members & Families</h2>

            <h2>Intent to Apply for 21st Century</h2>
            <a class='btnAlternate' href="~/assets/pdf/2020-Intent-To-Apply-21st-Century.pdf" target='_blank'>Intent to Apply for 21st Century<i class="fa fa-file-word-o" aria-hidden="true"></i></a>
            <hr />
            <h2>Parent Resources</h2>
            <p>Enroll your child in Boys & Girls Clubs of Greater Houston to give them access to positive role models, fun and educational activities, nourishing meals and opportunities to build character in a safe environment. Membership costs just $10 per school year and $25 per summer, and we accept applications for children ages 6-17. </p>
            <p>Please contact your local club for enrollment questions and for hours of operation, although most clubs are open after school until 7:00 pm.</p>
            <br />
            @* <a class='btnAlternate' href='/assets/pdf/Parent-Guide.pdf' target='_blank'>Parent Orientation Guide<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> *@
            <a class='btnAlternate' href='~/assets/pdf/ParentHandbook_v2.pdf' target='_blank'>Parent Handbook<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            <a class='btnAlternate' href='https://www.bgcghprograms.com/caresact' target='_blank'>CARES Act Assistance</a>
        </div>
    </div> 
</section>


@Html.Partial("_donateMonthly")
@section scripts {
    <script src="/assets/js/progressBar.js"></script>
    <script src="/assets/js/progressBarControls.js"></script>
}
