﻿@{
    ViewBag.Title = "Members and Family";
    ViewBag.Description = "Enroll your child for access to positive role models, educational activities, nourishing meals and opportunities to build character in a safe environment.";
}

<style>
    @@media only screen and (min-width : 1300px) {

        .specialButton4 {
            width: 240px;
        }
    }
</style>

<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/opportunityWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='register'></div>
            @*<h2>Five Clubs Open Starting Friday, September 1</h2>
            <p>To provide relief for our families, stability for our youth and teens, and care for our communities recovering from Hurricane Harvey, we are opening five of our Boys &amp; Girls Clubs starting Friday, September 1:</p>
            <ul>
                <li><strong>Allen Parkway Club (815 Crosby Street, Houston, TX 77019):</strong> Open Friday, September 1st from 9:00 a.m. - 5:30 p.m.; Saturday, September 2nd from 10:00 a.m. - 2:00 p.m.; and Monday, September 5th from 9:00 a.m. - 5:30 p.m.</li>
                <br />
                <li><strong>John &amp; Cissy Harvard Club (1520 Airline Road, Houston, TX 77009):</strong> Open Friday, September 1st from 9:00 a.m. - 5:30 p.m.; Saturday, September 2nd from 10:00 a.m. - 2:00 p.m.; and Monday, September 5th from 9:00 a.m. - 5:30 p.m.</li>
                <br />
                <li><strong>Holthouse Club (2411 Canal Street, Houston, TX 77003):</strong> Open Friday, September 1st from 9:00 a.m. - 5:30 p.m.; Saturday, September 2nd from 10:00 a.m. - 2:00 p.m.; and Monday, September 5th from 9:00 a.m. - 5:30 p.m.</li>
                <br />
                <li><strong>Jim &amp; Barbara Morefield Club (5950 Selinsky Road, Houston, TX 77048):</strong> Open Friday, September 1st from 9:00 a.m. - 5:30 p.m.; Saturday, September 2nd from 10:00 a.m. - 2:00 p.m.; and Monday, September 5th from 9:00 a.m. - 5:30 p.m.</li>
                <br />
                <li><strong>Spring Branch Club (8575 Pinter Road, Houston, TX 77048):</strong> Open Open Friday, September 1st from 9:00 a.m. - 5:30 p.m.; and Monday, September 5th from 9:00 a.m. - 5:30 p.m.</li>
            </ul>*@
            <h2>Register for a Club</h2>
            <p>The Boys & Girls Clubs of Greater Houston gives local youth access to positive role models, fun and educational activities, nourishing meals and opportunities to build character in a safe environment. <span class='blue'>Membership costs just $10 per school year and $25 per summer, and we accept applications for children ages 6-17.</span></p>
            <br />
            <a class='btnAlternate' href='/assets/pdf/English_Parent_Handbook-5_10_2020.pdf' target='_blank'>Parent Handbook<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            <a class='btnAlternate' href='~/assets/pdf/Membership_Application_Updated_5_22_2020.pdf' target='_blank'>Membership Application<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            <a class='btnAlternate' href='~/assets/pdf/Membership_Application-SPANISH-5212020.pdf' target='_blank'>Solicitud de Membresía<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            <a class='btnAlternate specialButton4' href='~/assets/pdf/openclose6-8.pdf' target='_blank'>Our Summer Locations<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class='single-item slider-pull-box'>
        <div>
            <img data-lazy='/assets/images/carousels/21.jpg' />
        </div>
        <div>
            <img data-lazy='/assets/images/carousels/22.jpg' />
        </div>
        <div>
            <img data-lazy='/assets/images/carousels/23.jpg' />
        </div>
        <div>
            <img data-lazy='/assets/images/carousels/24.jpg' />
        </div>
    </div>
</section>

@Html.Partial("_donateMonthly")
@section scripts {
    <script src="/assets/js/progressBar.js"></script>
    <script src="/assets/js/progressBarControls.js"></script>
}
