﻿@{
    ViewBag.Title = "Donate to the Boys & Girls Clubs of Greater Houston";
    ViewBag.Description = "Our mission is to inspire and enable local youth to realize their full potential as productive, responsible and caring citizens.";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/inspireWhiteBG.png' />
        <div class='container' style="padding-left:10%">
            <div class='nav-anchor' id='mission'></div>
            <h2>A Place for Youth to Thrive & Achieve</h2>
        </div>
    </div>
    <div class='outer-container' style="display:inline-flex; padding-left:10%;" >
        <div class='container'>
            <div class='nav-anchor' id='mission'></div>
            <p>For more than 70 years, the Youth of the Year program has honored and celebrated the nation’s most inspiring teens and their incredible journeys. Stories of outstanding leadership, service, academic excellence and dedication to living a healthy lifestyle have made Youth of the Year America’s premier leadership and recognition program for teens. These amazing young people represent the voice and spirit of hope for America. Inspiring all kids to lead. To succeed. To inspire</p>
            <p>Each year, one exceptional Club member is selected to be the National Youth of the Year, serving as an ambassador for Boys & Girls Club youth as well as a voice for all of our nation’s young people. Over the decades, these individuals have exemplified the Boys & Girls Club mission and are proof to the impact Clubs make in transforming and saving kids’ lives. National Youth of the Year winners have achieved success in a variety of industries, including entertainment, politics, business and sports.</p>
            <p>Becoming National Youth of the Year is an exciting and inspiring journey. Each year, thousands of Club teens participate in local, state and regional Youth of the Year events. Six teens, including five regional winners and a national military youth winner, advance to the National Youth of the Year Celebration, where one outstanding young person is named Boys & Girls Clubs of America’s national teen spokesperson. The National Youth of the Year is a role model, leader and advocate for over 4.6 million youth served by Boys & Girls Clubs each year, and all of America’s young people.</p>
        </div>
        <div class='container' style="padding-left:5%">
            <figure>
                <figcaption>
                    <img src="~/assets/images/Youth_Of_Year_Photo_2021.jpg" />
                    <span style="display:block; word-wrap:break-word; width:290px; text-align:right;">
                        <p><b>Congratulations, Robert E! -</b><br />2021-22 Boys & Girls Clubs of Greater Houston Youth of the Year from the Johnny Mitchell Club in Galveston</p>
                    </span>
                </figcaption>
            </figure>
        </div>


    </div>
</section>

@Html.Partial("_donateMonthly")