﻿
@{
    ViewBag.Title = "Annual_Report";
}

<section class='copyLayout paddingTop'>

    <div class='container report-container align-to-flex'>
        <div class='nav-anchor' id='annualReport'></div>
        <h2>Annual Report</h2>
        <div class='flex-column'>
            <a class='btnAlternate' style='margin-bottom:0;' href='~/assets/pdf/2019-AnnualReport.pdf' target='_blank'>2019 ANNUAL REPORT<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            <ul style='margin:0 0 0 1rem;'>
                <li class='flex-item-inner'><a href='/assets/pdf/COVID-19_Recovery_Campaign.pdf' target='_blank' class='name'>Whatever It Takes Campaign</a></li>
                <li class='flex-item-inner'><a href='/assets/pdf/Economic-Study.pdf' target='_blank' class='name'>Economic Impact Study</a></li>
                <li class='flex-item-inner'><a href='~/assets/pdf/Boys_and_Girls_Clubs_2019_FS.pdf' target='_blank' class='name'>2019 Audited Financials</a></li>
                <li class='flex-item-inner'><a href='~/assets/pdf/BGCGH_2019_IRS_990_Public_Inspection.pdf' target='_blank' class='name'>2019 Form 990</a></li>
                <li class='flex-item-inner'><a href='~/assets/pdf/BGCGH_Fnd_2019_Form_990_PIC_Final_11_12_2020_Website.pdf' target='_blank' class='name'>2019 Foundation Form 990 (Public Inspection)</a></li>
                <li class='flex-item-inner'><a href='/assets/pdf/501c(3)-Letter.pdf' target='_blank' class='name'>501(c)(3) IRS Determination Letter</a></li>
                <li class='flex-item-inner'><a href='~/assets/pdf/2019_Cash_and_Stock_Wire_Transfer_Instructions_Updated_12-16-19.pdf' target='_blank' class='name'>Cash and Stock Wire Transfer Instructions</a></li>
                <li class='flex-item-inner'><a href='/donor-policy' class='name'>Donor Policy</a></li>
                <li class='flex-item-inner'><a href='~/assets/pdf/Q1_2020-Newsletter.pdf' target="_blank" class='name'>Current Newsletter</a></li>
            </ul>
        </div>
        <img class='annualReportImage' src='~/assets/images/annualReportImg2019.png' />
    </div>

</section>