﻿@model BGCH.Models.InKindDonationForm
@{
    ViewBag.Title = "Donors And Partners";
    ViewBag.Description = "We depend on generous individual gifts, fundraising events and corporate contributions to keep our services affordable to the communities that need us most.";
}
<section class='copyLayout paddingTop'>
    <hr />

    <div class='outer-container'>
        <img class='scriptWord' src='~/assets/images/thankYouWhiteBG.png' />
        <div class='container align-to-flex'>
            <div class='nav-anchor' id='donors'></div>
            <h2>Champions of Caring</h2>
            <p>Boys & Girls Clubs of Greater Houston depends on generous individual gifts, foundation grants, corporate contributions and government support each year to help us reach nearly 26,000 Houston-area youth. Although membership during the school year is only $5.00, it takes much more to provide a safe place where kids can learn about academic success, healthy lifestyles, good character and citizenship, and workforce readiness.</p>
            <p><b>THANK YOU TO ALL OF OUR DONORS</b> whose investments ensure our youth are provided dedicated facilities, trained youth-development professionals and results-oriented programming! While this listing only includes our Champions of Caring (donors who gave $100,000 or more), we are grateful for each and every one of our donors for their generous support.</p>
        </div>


        <div class='distinguished-donors' id="app">

            <!-- FIND THE DONOR LIST STRUCTURED DATA IN THE donorList.js FILE -->
            <div class='container align-to-flex'>
                <div class="distinguishedDonors">
                    2019 Champions of Caring
                    @*<span class="donorStatus">
            2018 Corporate and Foundation Donations ($50,000 + Donors):
        </span>*@
                </div>
                <div class="corporateDonorsContainer">
                    <br />
                    @*<span class="donorStatus">($200,000 + Donors):</span>*@
                    <ul class="flex-container">
                        <li class="flex-item-two" style="max-width:100%;">
                            <ul>
                                <li class="flex-item-inner">
                                    <span v-for="donor in corporateDonors1">
                                        <!-- if a new donor list title is needed, recreate this structure in the DOM and give it a new name, then create the new donor list in a new array with the SAME paired name and mimic the structure of the original arrays (name and url), url can be ommitted if the list is not linked -->
                                        <a style="font-weight:bold;" v-bind:href="donor.url" target="_blank" class='location'>
                                            {{donor.name}}
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span v-for="donor in corporateDonors2">
                                        <a style="font-weight:bold;" v-bind:href="donor.url" target="_blank" class='location'>
                                            {{donor.name}}
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <br />

                    @*<span class="donorStatus">($150,000 + Donors):</span>
                    <ul class="flex-container">
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span v-for="donor in corporateDonors3">
                                        <a style="font-weight:bold;" v-bind:href="donor.url" target="_blank" class='location'>
                                            {{donor.name}}
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span v-for="donor in corporateDonors4">
                                        <a style="font-weight:bold;" v-bind:href="donor.url" target="_blank" class='location'>
                                            {{donor.name}}
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <br />

                    <span class="donorStatus">($100,000 + Donors):</span>
                    <ul class="flex-container">
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span v-for="donor in corporateDonors5">
                                        <a style="font-weight:bold;" v-bind:href="donor.url" target="_blank" class='location'>
                                            {{donor.name}}
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span v-for="donor in corporateDonors6">
                                        <a style="font-weight:bold;" v-bind:href="donor.url" target="_blank" class='location'>
                                            {{donor.name}}
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <br />

                    <span class="donorStatus">($50,000 + Donors):</span>
                    <ul class="flex-container">
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span v-for="donor in corporateDonors7">
                                        <a style="font-weight:bold;" v-bind:href="donor.url" target="_blank" class='location'>
                                            {{donor.name}}
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span v-for="donor in corporateDonors8">
                                        <a style="font-weight:bold;" v-bind:href="donor.url" target="_blank" class='location'>
                                            {{donor.name}}
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>*@

                    @*<br />
                    <br />

                    <div class="distinguishedDonors">Jeremiah Milbank Society <span class="donorStatus">($10,000 + Donors):</span><i class="toggle desktop-only fa fa-chevron-down fa-2x" aria-hidden="true"></i></div>
                    <ul class="flex-container hide hide-desktop-only">
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span class="company" v-for="donor in milbankDonors1">
                                        {{donor.name}}
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span class="company" v-for="donor in milbankDonors2">
                                        {{donor.name}}
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>*@

                    <br class="hideOnMobile" />
   

                    <div class="distinguishedDonors">
                        <span class="headlinePaddingBottom">The Lifetime Giving Society</span>
                        <i class="toggle desktop-only fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                    </div>
                    <ul class="flex-container hide hide-desktop-only">
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span class="company" v-for="donor in lifetimeDonors1">
                                        {{donor.name}}
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span class="company" v-for="donor in lifetimeDonors2">
                                        {{donor.name}}
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <br class="hideOnMobile" />
                    <br />

                    <div class="distinguishedDonors">
                        <span class="headlinePaddingBottom">Community Partners</span>
                        <i class="toggle desktop-only fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                    </div>
                    <ul class="flex-container hide hide-desktop-only">
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span v-for="donor in communityPartners1">
                                        <a style="font-weight:bold;" v-bind:href="donor.url" target="_blank" class='location'>
                                            {{donor.name}}
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="flex-item-two">
                            <ul>
                                <li class="flex-item-inner">
                                    <span v-for="donor in communityPartners2">
                                        <a style="font-weight:bold;" v-bind:href="donor.url" target="_blank" class='location'>
                                            {{donor.name}}
                                        </a>
                                        <br />
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <hr class='special-hr' />
    </div>





</section>


@Html.Partial("_donateMonthly")
@section scripts {
    <script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/donorList.js"></script>
    <!-- donorList.js holds a the arrays from which the donor list is being rendered -->
    <script>
        $(function () {
            $("form.cbp-inkind-form").bind('invalid-form.validate', function () {
                location.href = '#validation-summary-errors';
            })

            $("form.cbp-inkind-form").submit(function (e) {
                if ($(this).valid()) {
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: $(this).prop('action'),
                        data: $(this).serialize(),
                        success: function (data) {
                            $("form.cbp-inkind-form").html(data);
                        }
                    })
                }
            })
        })

    </script>
}
