﻿@{
    ViewBag.Title = "Great Futures Society";
    ViewBag.Description = "Links for Great Futures Society";
}
<style>
    .button {
        color: floralwhite;
        text-align: center;
        font-size: medium;
        cursor: pointer;
        padding: 8px 15px;
        border: 2px solid #f90;
        text-decoration: none;
        display: block;
        transition-duration: 0.25s;
        border-radius: 2px;
        margin: 0 auto;
        background-color: #f90
    }

        .button:hover {
            background-color: #f0f0f0;
            border: 2px solid #f90;
            color: black;
        }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #0081be;
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #eee;
    }

    .clubBlueLogo {
        width: 25%;
        padding: 0 1rem
    }
</style>
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/inspireWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='Club Blue'></div>
            <h2>Club Blue</h2>

            <h5>
                <b>
                    <span class="boldBlue">
                        Donate monthly and become a Club Blue partner for Boys & Girls Clubs of Greater Houston.
                    </span>
                </b>
            </h5>

            <p>
                BGCGH is the region’s leading youth-development organization. With support from our generous partners and donors,
                we are able to engage, educate, and empower low-income youth and implement success in their lives. 


            </p>
        </div>

        <center>
            <img src="/assets/images/ClubBlueT.png" class="clubBlueLogo" />
        </center>

        <br />

        <div class='container'>
            <p>
                Club Blue represents a community of supporters who have pledged to make a gift to BGCGH once a month.
                By becoming a monthly donor, you are helping create a safe haven for kids who commonly live in the midst of chaos.
                Your support helps our kids be involved in positive relationships, as well as build good character- changing lives forever. 
            </p>

            <br />
            <br />

            <h4>
                <span class="boldBlue">
                    The Impact of your Gift
                </span>
            </h4>
            <table>
                <tr>
                    <th>Supporter</th>
                    <th>Champion</th>
                    <th>Advocate</th>
                    <th>Hero</th>
                    <th> </th>
                </tr>
                <tr>
                    <td>
                        <b>$25+ / month</b>
                        Provides a nutritious snack to two Club members after school each day.
                    </td>
                    <td>
                        <b>$50+ / month</b>
                        Supports five hours of after school homework help and tutoring each month for a Club members in need.
                    </td>
                    <td>
                        <b>$100+ / month</b>
                        Covers the membership fee for 10 Club members for an entire school year.
                    </td>
                    <td>
                        <b>$200+ / month</b>
                        Covers the cost of school supplies for one Club member for the entire school year.
                    </td>
                    <td>
                        <b>YOU CHOOSE</b>
                    </td>
                </tr>
            </table>

            <br />
            <br />
            <br />

            <h4>
                <span class="boldBlue">
                    Why become a Monthly Donor?
                </span>
            </h4>
            <p>
                Joining BGCGH <span class="boldBlue">Club Blue</span> is an easy and affordable way to help our youth!
                All members will receive a welcome gift and website recognition. Depending on level of support, other benefits may apply.
            </p>
            <p>
                We work to ensure your privacy and confidentiality. Automatic monthly payments through a credit or debit card are easy and convenient.
                No need to worry about sending a check on time each month.  
            </p>

            <br />
            <br />

            <h4>
                <span class="boldBlue">
                    Our Club Blue Donors
                </span>
            </h4>
            <br />
            <h5>
                <span class="boldBlue">
                    Supporters
                </span>
            </h5>
            <p>
                L. Alexandra Beverly<br />
                Angele Cherbonnier<br />
                Vanessa Eastmond<br />
                Tom Herrick<br />
                Alec Lapin<br />
                Sarah Starry <br />
            </p>
            <br />
            <h5>
                <span class="boldBlue">
                    Champions
                </span>
            </h5>
            <p>
                Lisa Harris<br />
                Hexagon Plumbing, LLC<br />
                Omar Majzoub<br />
                Johnny Thompson<br />
            </p>
            <br />
            <h5>
                <span class="boldBlue">
                    Advocates
                </span>
            </h5>
            <p>
                Adrian Joseph<br />
                Carla and Stephen Strake<br />
            </p>
            <br />
            <button type="button" class="button" onclick="window.location.href = '/Donors-And-Partners/Donate';">Become a Member*</button>
            <br />

            <p>
                <center>
                    *please check the “recurring monthly gift box”
                </center>
            </p>
        </div>
    </div>
</section>

@Html.Partial("_donateMonthly")