﻿@{
    ViewBag.Title = "Great Futures Society";
    ViewBag.Description = "Links for Great Futures Society";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/inspireWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='donors'></div>
            <h2>Great Futures Society</h2>

            <p><b><span class="title blue">WHAT IS THE GREAT FUTURES SOCIETY?</span></b></p>
            <p>The Great Futures Society is a giving society comprised of generous individuals who choose to make leadership gifts of $10,000 or more to Boys & Girls Clubs of Greater Houston (BGCGH). This giving society is an easy way to provide ongoing, reliable support to BGCGH so youth who need us most can continue to attend a Club for safe after school and summer programming. Gifts to the Boys & Girls Clubs of Greater Houston at or above this leadership level make up a very significant portion of giving totals. When you give at Great Future Society level, you make a difference for our youth and communities.</p>
            <p><b><span class="title blue">HOW DO I BECOME A MEMBER?</span></b></p>
            <p>
                Membership is obtained by investing $10,000 or more in BGCGH. You can make a gift by: Visiting our website at <a href="bgcgh.org/donate" target="_blank">bgcgh.org/donate</a>.Sending a check to our administrative offices Communicating your intent by emailing development at <span class="title blue">development@bgcgh.org</span>. Once your gift or intent is received in writing, a member of the development team will contact you to ensure your donor preferences are met.
            </p>
            <p><b><span class="title blue">WHY SHOULD I JOIN?</span></b></p>
            <p>
                Boys & Girls Clubs of Greater Houston provides a safe, affordable place for thousands of kids and teens during critical out-of-school time. Since 1952, we have achieved an enviable record of creatively engaging, educating and empowering underserved youth in ways that improve their chances of achieving and sustaining academic and economic success. Our vision is to put success within reach for our Club members and keep them on track to graduate from high school. We have a bold plan to close the opportunity gap by scaling our life-changing impact, preparing our kids and teens to be the problem solvers, innovators and leaders who shape our world.
            </p>
            <p><b><span class="title blue">WHAT ARE THE BENEFITS OF MEMBERSHIP?</span></b></p>
            <p>
                We appreciate our donors whose significant investment provides a year of after school and summer programs for 4+ youth, including meals, homework assistance, college preparation, mentoring, sports leagues, and family engagement. By giving at this level, you will be provided with:
            </p>
            <p>
                <ul style="padding: 0 1rem;">
                    <li>&bull; Invitations to exclusive Great Futures Society events and receptions</li>
                    <li>&bull; Lunch with the President & CEO and/or the Board Chair</li>
                    <li>&bull; Entrance into the national Jeremiah Milbank Society</li>
                    <li>&bull; Name listed at Boys & Girls Clubs of Greater Houston Headquarters on donor wall</li>
                    <li>&bull; Custom framed art by BGCGH member</li>
                    <li>&bull; Listing in the Annual Report</li>
                </ul>
            </p>


            </p>
        </div>
        </div>
           
</section>

@Html.Partial("_donateMonthly")