﻿@model BGCH.Models.InKindDonationForm
@{
    ViewBag.Title = "Donors And Partners";
    ViewBag.Description = "We depend on generous individual gifts, fundraising events and corporate contributions to keep our services affordable to the communities that need us most.";
}
<section class='copyLayout paddingTop'>
 

    <hr />

    <div class='outer-container'>
        <img class='scriptWord' src='~/assets/images/inKindWhiteBG.png' />
        <div class='container contactFlex'>
            <div class='flexSeperator'>
                <div class='nav-anchor' id='inKind'></div>
                <h2>Wish Donations</h2>
                <p>In-kind donations to the Boys & Girls Clubs of Greater Houston help ensure our clubs are equipped to serve the needs of our members. These generous donations of new or gently-used items help reduce costs. Please reference the list below for items currently needed.</p>
            </div>
            <div class='card-container'>
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Caroline Alvarez</span>
                        <p>Development Associate</p>
                    </div>
                    <div class='card-action'>
                        <span class='tooltipContainer'>
                            <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="tooltip">Copy to clipboard</span>
                        </span>
                        <textarea class='email'>calvarez@bgcgh.org</textarea>
                        <a href="tel:7134002946" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i>713-400-2958</a>
                    </div>
                </div>
            </div>
        </div>

        <div class='container align-to-flex'>
            <div id='validation-summary-errors'></div>
            <p class="titleExec toggleParent cardMatch">
                In-Kind Donation Form
                <i class="toggle fa fa-chevron-down fa-2x" aria-hidden="true"></i>
            </p>
            <form class="cbp-inkind-form flex-container hide" method="post" action="">

                @Html.ValidationSummary(false, "Please correct the following errors:")
                @Html.AntiForgeryToken()
                <p style="width: 100%;margin-left: 30px;">Required fields marked with <span class="required">*</span></p>

                <div class="cbp-inkind-column">
                    <div class='space-padding'>
                        <label>Club Supplies</label>
                        <hr />
                        <div class='share-padding'>
                            <div class="tag">Brooms, mops, cleaning supplies</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-1" class="regular-checkbox" value="Brooms, mops, cleaning supplies" /><label for="checkbox-4-1" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Hand tools</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-2" class="regular-checkbox" value="Hand tools" /><label for="checkbox-4-2" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Decorations</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-3" class="regular-checkbox" value="Decorations" /><label for="checkbox-4-3" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Folding Tables, tablecloths</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-4" class="regular-checkbox" value="Folding Tables, tablecloths" /><label for="checkbox-4-4" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Lotion, hand soap, deodorant</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-5" class="regular-checkbox" value="Lotion, hand soap, deodorant" /><label for="checkbox-4-5" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Paper Towels, toilet paper</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-7" class="regular-checkbox" value="Paper Towels, toilet paper" /><label for="checkbox-4-7" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Rugs</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-8" class="regular-checkbox" value="Rugs" /><label for="checkbox-4-8" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Pens, copy paper, folders, binders, sticky notes, etc.</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-9" class="regular-checkbox" value="Pens, copy paper, folders, binders, sticky notes, etc." /><label for="checkbox-4-9" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Board games</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-10" class="regular-checkbox" value="Board games" /><label for="checkbox-4-10" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Copiers</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-11" class="regular-checkbox" value="Copiers" /><label for="checkbox-4-11" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Digital camera</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-12" class="regular-checkbox" value="Digital camera" /><label for="checkbox-4-12" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Flat screen TV</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-13" class="regular-checkbox" value="Flat screen TV" /><label for="checkbox-4-13" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Kindles</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-14" class="regular-checkbox" value="Kindles" /><label for="checkbox-4-14" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">LCD Projector</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-15" class="regular-checkbox" value="LCD Projector" /><label for="checkbox-4-15" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Educational toys</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-16" class="regular-checkbox" value="Educational toys" /><label for="checkbox-4-16" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Markers, crayons, pens, pencils</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-17" class="regular-checkbox" value="Markers, crayons, pens, pencils" /><label for="checkbox-4-17" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Printer</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-18" class="regular-checkbox" value="Printer" /><label for="checkbox-4-18" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Stereo</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-4-19" class="regular-checkbox" value="Stereo" /><label for="checkbox-4-19" class='checkbox-label'></label>
                        </div>

                    </div>

                </div>

                <div class="cbp-inkind-column">

                    <div class='space-padding'>
                        <label>Services</label>
                        <hr />
                        <div class='share-padding'>
                            <div class="tag">Health Trainer</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-5-1" class="regular-checkbox" value="Health Trainer" /><label for="checkbox-5-1" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Nutritionist</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-5-2" class="regular-checkbox" value="Nutritionist" /><label for="checkbox-5-2" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Coach</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-5-3" class="regular-checkbox" value="Coach" /><label for="checkbox-5-3" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Psychologist</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-5-4" class="regular-checkbox" value="Psychologist" /><label for="checkbox-5-4" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Chef</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-5-5" class="regular-checkbox" value="Chef" /><label for="checkbox-5-5" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Photographer</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-5-6" class="regular-checkbox" value="Photographer" /><label for="checkbox-5-6" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Videographer</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-5-7" class="regular-checkbox" value="Videographer" /><label for="checkbox-5-7" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Musician</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-5-8" class="regular-checkbox" value="Musician" /><label for="checkbox-5-8" class='checkbox-label'></label>
                        </div>

                    </div>

                    <div class='space-padding'>
                        <label>gift cards</label>
                        <hr />
                        <div class='share-padding'>
                            <div class="tag">Walmart</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-2-1" class="regular-checkbox" value="Walmart" /><label for="checkbox-2-1" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Starbucks</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-2-2" class="regular-checkbox" value="Starbucks" /><label for="checkbox-2-2" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Subway</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-2-3" class="regular-checkbox" value="Subway" /><label for="checkbox-2-3" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Whataburger</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-2-4" class="regular-checkbox" value="Whataburger" /><label for="checkbox-2-4" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Spa</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-2-5" class="regular-checkbox" value="Spa" /><label for="checkbox-2-5" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Stamps</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-2-6" class="regular-checkbox" value="Stamps" /><label for="checkbox-2-6" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Visa</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-2-7" class="regular-checkbox" value="Visa" /><label for="checkbox-2-7" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Party City</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-2-8" class="regular-checkbox" value="Party City" /><label for="checkbox-2-8" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">FedEx</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-2-9" class="regular-checkbox" value="FedEx" /><label for="checkbox-2-9" class='checkbox-label'></label>
                        </div>

                    </div>

                </div>

                <div class="cbp-inkind-column">

                    <div class='space-padding'>
                        <label>club member needs</label>
                        <hr />
                        <div class='share-padding'>
                            <div class="tag">School Uniform Pants</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-1-1" class="regular-checkbox" value="School Uniform Pants" /><label for="checkbox-1-1" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Socks and Gloves</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-1-2" class="regular-checkbox" value="Socks and Gloves" /><label for="checkbox-1-2" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Tennis Shoes</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-1-3" class="regular-checkbox" value="Tennis Shoes" /><label for="checkbox-1-3" class='checkbox-label'></label>
                        </div>
                    </div>

                    <div class='space-padding'>
                        <label>Teen Incentives</label>
                        <hr />
                        <div class='share-padding'>
                            <div class="tag">Beats by Dre (headphones)</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-3-1" class="regular-checkbox" value="Beats by Dre (headphones)" /><label for="checkbox-3-1" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Gift cards</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-3-2" class="regular-checkbox" value="Gift cards" /><label for="checkbox-3-2" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">iPad</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-3-3" class="regular-checkbox" value="iPad" /><label for="checkbox-3-3" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">iPod</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-3-4" class="regular-checkbox" value="iPod" /><label for="checkbox-3-4" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Laptops</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-3-5" class="regular-checkbox" value="Laptops" /><label for="checkbox-3-5" class='checkbox-label'></label>
                        </div>

                        <div class='share-padding'>
                            <div class="tag">Xbox/Playstation/etc.</div>
                            <input name="DonatedItems" type="checkbox" id="checkbox-3-6" class="regular-checkbox" value="Xbox/Playstation/etc." /><label for="checkbox-3-6" class='checkbox-label'></label>
                        </div>

                    </div>



                    <div class='space-padding'>
                        <label for="misc">other</label>
                        <hr />
                        @Html.EditorWithPlaceholderFor(x => x.OtherItemsToDonate)
                    </div>

                </div>



                <div class="cbp-inkind-column">
                    <label for="EstimatedFairMarketValue">Estimated Fair Market Value (efmv) of donation:</label>
                    @Html.EditorWithPlaceholderFor(x => x.EstimatedFairMarketValue)

                    <label for="estimate">Method used to determine efmv:</label>
                    @Html.EditorWithPlaceholderFor(x => x.MethodUsedToEstimate)

                    <label for="date">Date of Donation <span class="required">*</span></label>
                    @Html.EditorWithPlaceholderFor(x => x.DateOfDonation, "mm/dd/yyyy")
                    <label for="donorName">Donor Name <span class="required">*</span></label>
                    @Html.EditorWithPlaceholderFor(x => x.DonorName, "John Doe")

                </div>

                <div class="cbp-inkind-column">
                    <label for="title">Contact and Title (if applicable):</label>
                    @Html.EditorWithPlaceholderFor(x => x.ContactAndTitle, "Mr./Mrs. etc...")
                    <label for="phone">Phone Number <span class="required">*</span></label>
                    @Html.EditorWithPlaceholderFor(x => x.Phone, "999 999 9999")
                    <label for="email">Email Address <span class="required">*</span></label>
                    @Html.EditorWithPlaceholderFor(x => x.Email, "jon@doe.com")
                    <label for="instructions">Special Instructions:</label>
                    @Html.EditorWithPlaceholderFor(x => x.SpecialInstructions)
                </div>

                <div class="cbp-inkind-column">
                    <label for="street">Street Address</label>
                    @Html.EditorWithPlaceholderFor(x => x.StreetAddress)
                    <label for="city">City</label>
                    @Html.EditorWithPlaceholderFor(x => x.City)
                    <label for="state">State</label>
                    @Html.StateDropDownListFor(x => x.State)
                    <label for="zip">Zip</label>
                    @Html.EditorWithPlaceholderFor(x => x.Zip)
                    <button type="submit" class='btnAlternate btnMargin cardMatch flex-negate'>Donate In-Kind</button>
                </div>

            </form>

            @* <a class='btnAlternate btnMargin cardMatch flex-negate' href='/assets/pdf/In-Kind-Donation-Acceptance-Form.pdf' target='_blank'>Donate In-Kind<i class="fa fa-dropbox" aria-hidden="true"></i></a> *@

        </div>
    </div>

    

</section>


@Html.Partial("_donateMonthly")
@section scripts {
    <script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/donorList.js"></script>
    <!-- donorList.js holds a the arrays from which the donor list is being rendered -->
    <script>
        $(function () {
            $("form.cbp-inkind-form").bind('invalid-form.validate', function () {
                location.href = '#validation-summary-errors';
            })

            $("form.cbp-inkind-form").submit(function (e) {
                if ($(this).valid()) {
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: $(this).prop('action'),
                        data: $(this).serialize(),
                        success: function (data) {
                            $("form.cbp-inkind-form").html(data);
                        }
                    })
                }
            })
        })

    </script>
}
