﻿@model BGCH.Models.InKindDonationForm
@{
    ViewBag.Title = "Donors And Partners";
    ViewBag.Description = "We depend on generous individual gifts, fundraising events and corporate contributions to keep our services affordable to the communities that need us most.";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='~/assets/images/generosityWhiteBG.png' />
				<div class='container align-to-flex'>
					<div class='nav-anchor' id='donate'></div>
					<h2>Donors &amp; Partners</h2>
					<div class="resp-container">
						<iframe class="resp-iframe" width="560" height="315" src="https://www.youtube.com/embed/rQhz0hdoL7s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<h2>Invest in Youth Today</h2>
					<p>
						Boys & Girls Clubs of Greater Houston depends on generous gifts from individuals, foundations, corporations and the government to impact Houston-area youth at the Clubs. Invest in Houston’s future by investing in Houston’s youth at the Boys & Girls Clubs. You can donate monthly or give a one-time gift to impact Club members ages 6-17.
						<br />
					</p>
					<ul style="padding: 0 1rem;">
						<li>&bull; $20 a month, or $250 a year, allows 10 Club members to go on five field trips to museums, businesses, and sporting events.</li>
						<li>&bull; $40 a month, or $500 a year, provides background checks, training and orientation for 25 volunteers to help youth with homework, character building, and sports leagues.</li>
						<li>&bull; $125 a month, or $1,500 a year, covers all costs associated with one child participating in Boys & Girls Clubs’ daily programs for a year. Families pay only $5 per child per year for after school programs, and $20 per child for summer programs.</li>
						<li>&bull; $200 a month, or $2,500 a year, gives 150 kids one season of organized sports leagues, teaching them teamwork, leadership and responsibility.</li>
						<li>&bull; $400 a month, or $5,000 a year, gives 100 Club members help with college preparation and workforce development.</li>
					</ul>
					<br />
					<a href='/Donors-And-Partners/Donate'><button class='btn btnGreen no-margin flex-negate'>Set Up a Recurring Gift<i class="fa fa-repeat" aria-hidden="true"></i></button></a>
					<a href='/Donors-And-Partners/Donate'><button class='btn btnAlternate no-margin flex-negate'>Donate Now<i class="fa fa-credit-card-alt" aria-hidden="true"></i></button></a>
					<a href='/assets/pdf/2017 BGC  Donation Card.pdf' target="_blank"><button class='btn btnAlternate no-margin flex-negate'>Donate By Mail<i class="fa fa-envelope-open-o" aria-hidden="true"></i></button></a>
				</div>
    </div>

   
</section>


@Html.Partial("_donateMonthly")
@section scripts {
    <script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/donorList.js"></script>
    <!-- donorList.js holds a the arrays from which the donor list is being rendered -->
    <script>
        $(function () {
            $("form.cbp-inkind-form").bind('invalid-form.validate', function () {
                location.href = '#validation-summary-errors';
            })

            $("form.cbp-inkind-form").submit(function (e) {
                if ($(this).valid()) {
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: $(this).prop('action'),
                        data: $(this).serialize(),
                        success: function (data) {
                            $("form.cbp-inkind-form").html(data);
                        }
                    })
                }
            })
        })

    </script>
}
