﻿@{
    ViewBag.Title = "1952 Legacy Society";
    ViewBag.Description = "Links for 1952 Legacy Society";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/inspireWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='donors'></div>
            <h2>1952 Legacy Society</h2>

            <p><b><span class="title blue">What is the 1952 Legacy Society?</span></b></p>
            <p>
                The 1952 Legacy Society is a giving society that was created to recognize planned gifts to the Boys & Girls Clubs of Greater Houston. The Legacy Society will provide donors the opportunity to make a lasting gift to the Clubs through their estate. These gifts ensure that the future needs of youth and teens in the Greater Houston area are met and might be included in a will, a charitable gift annuity, a trust or an insurance policy.
            </p>
            <p><b><span class="title blue">Why Should I Become a Member?</span></b></p>
            <p>
                Boys & Girls Clubs of Greater Houston provides a safe, affordable place for kids and teens during critical out-of-school time in 23 Clubs across the Greater Houston area. While we have seen tremendous growth and success, there is still more work to be done as we continue to increase the number of youth we serve. We have a bold plan to close the opportunity gap by scaling our life-changing impact, preparing our kids and teens to be the problem solvers, innovators and leaders who shape our world.
                Your support through a planned gift ensures that future generations will have the opportunity to live successful and productive lives in a safe, positive and caring environment.
            </p>
            <p><b><span class="title blue">How Can I Become a Member of the 1952 Legacy Society?</span></b></p>
            <p>
                Joining the Legacy Society is easy. Communicate your intention by signing and returning the attached card, or by emailing your intent to Development at development@bgcgh.org. Once intent is received in writing, you will be contacted to ensure your donor preferences are met, and that you are enrolled.
            </p>
            <p><b><span class="title blue">What are the Benefits of Membership?</span></b></p>
            <p>
                We appreciate our donors who have the desire to leave a Legacy to our Clubs. When you join the 1952 Legacy Society, you will be provided with:
            </p>
            <p>
                <ul style="padding: 0 1rem;">
                    <li>&bull;Contact information for someone who can help make an addendum to your already existing will.</li>
                    <li>&bull; A lapel pin that indicates you are a member of the 1952 Legacy Society.</li>
                    <li>&bull; Recognition in the Boys & Girls Clubs of Greater Houston Annual Report.</li>
                    <li>&bull; Invitations to member only events.</li>
                    <li>&bull; Planned Giving resources from the Boys & Girls Clubs of America (BGCA).</li>
                    <li>&bull; National recognition in the BGCA Planned Giving Society – The Heritage Club.</li>
                </ul>
            </p>
            <p><b><span class="title blue">Making an Addendum to your Existing Will</span></b></p>
            <p>
                If you would like to add Boys & Girls Clubs of Greater Houston as a beneficiary, please contact the Development Office at <span class="title blue">713-400-2958</span> or <span class="title blue">development@bgcgh.org</span>. We will put you in contact with someone who can provide an addendum pro bono to donors wishing to join the Legacy Society.
            </p>
        </div>
</section>

@Html.Partial("_donateMonthly")