﻿@model BGCH.Models.YoungProfessionalsForm

@{
	ViewBag.Title = "Volunteers";
	ViewBag.Description = "We are actively recruiting positive, skilled and committed volunteers that are looking to make a difference in their community. Join us today!";
}

<section class='copyLayout paddingTop'>
	<div class='outer-container'>
		<img class='scriptWord' src='/assets/images/mentorWhiteBG.png' />
		
		<!--CORPORATE VOLUNTEERS-->
		<div class='container contactFlex' style="margin-bottom:30px;">
			<div class='flexSeperator flex-right'>
				<div class='nav-anchor' id='corporate'></div>
				<h2 class='blue'>Volunteers</h2>
				<h2>Corporate Volunteers</h2>
				<p>Boys & Girls Clubs of Greater Houston is fortunate to partner with many of the most successful companies in Houston who are investing in the leaders and workforce of tomorrow, our Club members. These partnerships include a financial investment, marketing/PR benefits and volunteer opportunities.</p>
				<p><strong>MONDAY - FRIDAY<br /> 3:00 PM - 7:00 PM (ALL OR PART) DURING SCHOOL YEAR<br /> 9:00 AM - 5:00 PM DURING SUMMER</strong></p>
				<p><span class='blue'><strong><em>You can volunteer in many ways</em></strong></span> – host an event for one of our Clubs, tutor our Club members or work on a facilities project. To schedule a corporate or group volunteer event, contact Corporate Outreach Manager Tiffani Wesson.</p>
			</div>
			<div class='card-container flex-start'>
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title">Tiffani Wesson</span>
						<p>Corporate Outreach Manager</p>
					</div>
					<div class='card-action'>
						<span class='tooltipContainer'>
							<span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
							<span class="tooltip">Copy to clipboard</span>
						</span>
						<textarea class='email'>twesson@bgcgh.org</textarea>
						<a href="tel:7134002949" target="_blank" style="color:#ffab40"><i class="fa fa-phone left-of" aria-hidden="true"></i>713-400-2949</a>
					</div>
				</div>
			</div>
		</div>


		<!--INDIVDUAL VOLUNTEERS-->
		<div class='container contactFlex' style="margin-bottom:30px;">
			<div class='flexSeperator flex-left'>
				<div class='nav-anchor' id='individual'></div>
				<h2>Individual Volunteers</h2>
				<p><strong>Boys & Girls Clubs of Greater Houston is actively recruiting positive, skilled and committed volunteers.</strong> Our needs are ongoing, and we are always looking to expand our volunteer roster. We currently have one-time volunteer opportunities as well as consistent volunteer opportunities in our Club settings. Must be at least 18 years old to volunteer individually. Youth under 18 can volunteer through school projects during the school year.</p>

				<p><strong>MONDAY - FRIDAY<br /> 3:00 PM - 7:00 PM (ALL OR PART) DURING SCHOOL YEAR<br /> 9:00 AM - 5:00 PM DURING SUMMER</strong></p>

				<p>We have many volunteer opportunities within our Clubs that can be customized to your schedule. Clubs are typically open between 3:00-7:00 p.m. To volunteer individually, please fill out volunteer application and email to <a href="mailto:twesson@bgcgh.org">twesson@bgcgh.org</a>.</p>
				<p>
					<strong>Court Ordered Community Service Volunteer – UNACCEPTED</strong><br />
					The BGCGH will no longer accept court-ordered community service requests. Moving forward, all court-ordered requests will be denied.
				</p>
				<a class='btnAlternate' style='margin-bottom:-10px;' href='~/assets/pdf/Volunteer-Application-Form-2019.pdf' target='_blank'>Volunteer Application<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
			</div>
			<div class='card-container flex-start'>
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title">Tiffani Wesson</span>
						<p>Corporate Outreach Manager</p>
					</div>
					<div class='card-action'>
						<span class='tooltipContainer'>
							<span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
							<span class="tooltip">Copy to clipboard</span>
						</span>
						<textarea class='email'>twesson@bgcgh.org</textarea>
						<a href="tel:7134002949" target="_blank" style="color:#ffab40"><i class="fa fa-phone left-of" aria-hidden="true"></i>713-400-2949</a>
					</div>
				</div>
			</div>
		</div>

		<!--OPPORTUNITIES-->
		<div class='container contactFlex'>
			<div class=''>
				<h2>Areas of Volunteer Opportunity:</h2>
				<ul>
					<li>
						<p class='title blue'>Homework Help/Tutoring</p>
					</li>
				</ul>
				<p>
					Work with youth ages 6 – 17 to help them with their homework, build healthy study habits and give them the skills they need to succeed in school! Focus areas are math, language arts and science.
				</p>

				<ul>
					<li>
						<p class='title blue'>Coaching</p>
					</li>
				</ul>
				<p>
					Coach youth ages 6 – 17 in structured team sports such as flag football, basketball and soccer, while teaching the fundamentals of teamwork and sportsmanship.
				</p>

				<ul>
					<li>
						<p class='title blue'>Program Assistance</p>
					</li>
				</ul>
				<p>
					Provide valuable assistance to staff. From greeting club members and assisting at the front desk, to helping organize/setup programming activities, each day will bring a new adventure.
				</p>

				<ul>
					<li>
						<p class='title blue'>IT Volunteers</p>
					</li>
				</ul>
				<p>
					Offer technical support for our staff, providing guidance on troubleshooting, server administration, Office 365 and SharePoint.
				</p>
			</div>
		</div>
    </div>

	<!--SLIDER-->
    <div class='single-item slider-pull-box extra-margin'>
        <div>
            <img data-lazy='/assets/images/carousels/5.jpg' />
        </div>
        <div>
            <img data-lazy='/assets/images/readingToTheKids.jpg' />
        </div>
        <div>
            <img data-lazy='/assets/images/carousels/8.jpg' />
        </div>
        <div>
            <img data-lazy='/assets/images/carousels/2.jpg' />
        </div>
        <div>
            <img data-lazy='/assets/images/carousels/16.jpg' />
        </div>
    </div>
</section>


@Html.Partial("_donateMonthly")

@section scripts{

	<script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>
	<script src="/assets/js/jquery.validate.min.js"></script>
	<script src="/assets/js/jquery.validate.unobtrusive.min.js"></script>
	<script>
		$(function () {
			$("form.cbp-inkind-form").bind('invalid-form.validate', function () {
				location.href = '#validation-summary-errors';
			})

			$("form.cbp-inkind-form").submit(function (e) {
				if ($(this).valid()) {
					e.preventDefault();
					$.ajax({
						type: "POST",
						url: $(this).prop('action'),
						data: $(this).serialize(),
						success: function (data) {
							$("form.cbp-inkind-form").html(data);
						}
					})
				}
			})
		})

	</script>
}
