﻿@model BGCH.Models.YoungProfessionalsForm

@{
	ViewBag.Title = "Volunteers";
	ViewBag.Description = "We are actively recruiting positive, skilled and committed volunteers that are looking to make a difference in their community. Join us today!";
}

<section class='copyLayout paddingTop'>
    <div class='container align-to-flex'>
        <div class='nav-anchor' id='youngProfs'></div>
        <h2>BGCGH Young Professionals</h2>
        <p>BGCGH Young Professionals Organization is a membership organization of passionate young professionals whose purpose is to support the mission of the Boys & Girls Clubs of Greater Houston. Comprised of individuals in their 20’s and 30’s, this group focuses on volunteering, fundraising, socializing and networking. <strong>Membership dues are $50/individual per year or $75/couple. </strong></span></p>

		<p>Become a member today and receive monthly updates on Young Professional events, volunteer events and BGCGH events. You also can sign up to volunteer and be a mentor at one of our Clubs!</p>

		@*<a class='btnAlternate' href='/assets/pdf/BGC YP Membership Form.pdf' target='_blank'>Join the Young Professionals Organization<i class="fa fa-sign-in" aria-hidden="true"></i></a>*@

	</div>

	<div class='container align-to-flex'>
		<div id='validation-summary-errors'></div>
		<p class="titleExec toggleParent cardMatch fullWidth">
			Join The Young Professionals Organization
			<i class="toggle fa fa-chevron-down fa-2x" aria-hidden="true"></i>
		</p>
		<form class="cbp-inkind-form flex-container hide" method="post" action="">

			@Html.ValidationSummary(false, "Please correct the following errors:")
			@Html.AntiForgeryToken()
			<p style="width: 100%;margin-left: 30px;">Required fields marked with <span class="required">*</span></p>

			<div class="cbp-inkind-column volunteerform">
				<label for="Name">Name<span class="required">*</span></label>
				@Html.EditorWithPlaceholderFor(x => x.Name)

				<label for="title">Title</label>
				@Html.EditorWithPlaceholderFor(x => x.Title)

				<label for="title">Company</label>
				@Html.EditorWithPlaceholderFor(x => x.Company)

				<label for="phone">Phone Number<span class="required">*</span></label>
				@Html.EditorWithPlaceholderFor(x => x.Phone, "999 999 9999")

				<label for="email">Email Address <span class="required">*</span></label>
				@Html.EditorWithPlaceholderFor(x => x.Email, "jon@doe.com")

				<label for="street">Street Address</label>
				@Html.EditorWithPlaceholderFor(x => x.StreetAddress)

				<label for="city">City</label>
				@Html.EditorWithPlaceholderFor(x => x.City)

				<label for="state">State</label>
				@Html.StateDropDownListFor(x => x.State)

				<label for="zip">Zip</label>
				@Html.EditorWithPlaceholderFor(x => x.Zip)

				<button type="submit" class='btnAlternate btnMargin cardMatch flex-negate'>Submit</button>
			</div>

		</form>
	</div>


	<div class='container align-to-flex'>

		<p class="titleBoard toggleParent matchWidth">
			Young Professionals Board
			<i class="toggle fa fa-chevron-down fa-2x" aria-hidden="true"></i>
		</p>
		<ul class="flex-container hide">
			<li class="flex-item">
				<ul>
					<li class="flex-item-inner"><span class="name">Margaret Cates</span></li>
					<li class="flex-item-inner"><span class="name">Tim Davis</span></li>
					<li class="flex-item-inner"><span class="name">Tom Herrick</span></li>
					<li class="flex-item-inner"><span class="name">Brandon Hollek</span></li>
					<li class="flex-item-inner"><span class="name">Paige Kuznar Hollek</span></li>
					<li class="flex-item-inner"><span class="name">Harrison Kane</span></li>
					<li class="flex-item-inner"><span class="name">Morgan Kleinschmidt</span></li>
				</ul>
			</li>
			<li class="flex-item">
				<ul>
					<li class="flex-item-inner"><span class="name">Alec Lapin</span></li>
					<li class="flex-item-inner"><span class="name">Allie LeClair</span></li>
					<li class="flex-item-inner"><span class="name">Jay Lee</span></li>
					<li class="flex-item-inner"><span class="name">Laine Lieberman</span></li>
					<li class="flex-item-inner"><span class="name">Tory Lieberman</span></li>
					<li class="flex-item-inner"><span class="name">Matt Luna</span></li>
					<li class="flex-item-inner"><span class="name">Sarah Starry</span></li>
				</ul>
			</li>
			<li class="flex-item">
				<ul>
					<li class="flex-item-inner"><span class="name">Brad Strake</span></li>
					<li class="flex-item-inner"><span class="name">Stephen Strake</span></li>
					<li class="flex-item-inner"><span class="name">Vince Strake</span></li>
					<li class="flex-item-inner"><span class="name">Jonny Thompson</span></li>
					<li class="flex-item-inner"><span class="name">Ali Webre</span></li>
					<li class="flex-item-inner"><span class="name">Kyle Whitney</span></li>
				</ul>
			</li>
		</ul>
	</div>

</section>


@Html.Partial("_donateMonthly")

@section scripts{

	<script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>
	<script src="/assets/js/jquery.validate.min.js"></script>
	<script src="/assets/js/jquery.validate.unobtrusive.min.js"></script>
	<script>
		$(function () {
			$("form.cbp-inkind-form").bind('invalid-form.validate', function () {
				location.href = '#validation-summary-errors';
			})

			$("form.cbp-inkind-form").submit(function (e) {
				if ($(this).valid()) {
					e.preventDefault();
					$.ajax({
						type: "POST",
						url: $(this).prop('action'),
						data: $(this).serialize(),
						success: function (data) {
							$("form.cbp-inkind-form").html(data);
						}
					})
				}
			})
		})

	</script>
}
