﻿@{
    ViewBag.Title = "Club Safety";
    ViewBag.Description = "Our mission is to inspire and enable local youth to realize their full potential as productive, responsible and caring citizens.";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <div class="container">
            <h1><span class="title blue"><strong>Child Safety Is Our No. 1 Priority!</strong></span></h1>
            <img src="~/assets/images/Commitment_Safety_logo.png" alt="Commitment to Safety" class="safetyLogo" />
        </div>

        <div class='container'>
            <h2>At Boys & Girls Clubs of Greater Houston child safety and wellbeing is our number one priority.</h2>
            <p>Ensuring child safety is fundamental to the mission of Boys & Girls Clubs of Greater Houston.</p>
        </div>

        <div class='container'>
            <p>
                <span class="safetyBold">The Safety and Wellbeing of Young People is Our Number One Priority</span><br />
                We work every day to create a safe, fun environment so kids can have every opportunity to be successful in life. We have ZERO tolerance for inappropriate behavior of any kind, including child sexual abuse or misconduct, and we put resources behind that stance.
            </p>

            <p><span class="safetyBold">Culture of Safety:</span> &nbsp;Boys & Girls Clubs of Greater Houston continually updates robust safety policies, programs and training for our staff and volunteers that are designed to promote child safety and protect young people from threats that are present in our society. We implement layers of safety policies and guidelines to keep our kids safe.</p>

            <p><span class="safetyBold">Safety Policies:</span> &nbsp;Boys & Girls Clubs of Greater Houston has comprehensive safety policies in place that protect youth – including, but not limited to, supervision, transportation, communication and prohibiting private one-on-one contact.</p>

            <p><span class="safetyBold">24-hour Toll-free Child Safety Hotline:</span> &nbsp;We encourage all staff, members and families to report any incident or situation they feel is unsafe. Through our national partnership with <a href="https://website.praesidiuminc.com/wp/" target="_blank" class="location">Praesidium</a>, one of the nation’s leading safety experts, Boys & Girls Clubs of Greater Houston members and staff have access to a confidential 24-hour toll-free Child Safety Hotline, <a href="tel:+1-866-607-7233" target="_blank" class="location">866-607-SAFE (7233)</a> or email <a href="mailto:SafeClub@Praesidiuminc.com" target="_blank" class="location">SafeClub@Praesidiuminc.com</a>.</p>

            <p><span class="safetyBold">Mandatory Background Checks:</span> &nbsp;Mandatory criminal background checks are required every year for every staff and board member at Boys & Girls Clubs of Greater Houston. In addition, criminal background checks are required for any volunteer who has direct contact with children.</p>

            <p><span class="safetyBold">Required Immediate Reporting:</span> &nbsp;Boys & Girls Clubs of Greater Houston staff and volunteers are all mandated reporters. We are required to report any critical incident/safety concern to local authorities immediately. We are also required to report any critical incident to Boys & Girls Clubs of America within 24 hours.</p>

            <p><span class="safetyBold">Mandatory Annual Safety Assessments:</span> &nbsp;We complete a safety assessment each year to ensure we continually make improvements to safety at our Clubs.</p>

            <p><span class="safetyBold">Safety Trainings:</span> &nbsp;Ongoing training and supervision of staff is critical. We participate in a wide variety of child safety trainings such as CPR and First Aid, Active Shooter, Recognizing Child Abuse as mandated reporters, and Bullying training, to name a few. We also engage leading third-party safety experts to provide guidance for our policies and approaches, including Praesidium, the National Center for Missing & Exploited Children, and the National Children’s Advocacy Center.</p>

            <p><span class="safetyBold">Sub-Safety Committee:</span> &nbsp;Boys & Girls Clubs of Greater Houston has a dedicated sub-safety committee to provide input and guidance on local policies and safety strategies. Priorities and initiatives include:</p>
            <ul class="safetyList">
                <li>Meet monthly to implement safety moments at all staff meetings</li>
                <li>Conducts monthly drills and holds safety roundtables to ensure all Clubs are meeting safety standards set forth by BGCA’s safety requirements, as well as local and state laws </li>
            </ul>
            
            <p><span class="safetyBold">Mandatory Employee Reference:</span> &nbsp;Any employee interested in moving to another Boys & Girls Club is required to have a reference from the previous Club, even if the Clubs are within the same community.</p>

            <p><span class="safetyBold">State and Local Laws:</span> &nbsp;We comply with federal, state and local safety laws, including those impacting facilities and vehicles.</p>

            <p><span class="safetyBold">Safety Partnerships:</span> &nbsp;Nationally, Boys & Girls Clubs of America works with leading experts in the areas of safety, security and technology to develop state-of-the-art solutions for Clubs. Partners include:</p>

            <ul class="safetyList">
                <li>National Child Safety Advisory Task Force, made up of leading experts and organizations</li>
                <li>Blue Ribbon Taskforce, comprised of local Club leaders charged with providing input on the safety direction and key safety initiatives</li>
                <li>Mental Health First Aid, a national program that teaches skills to recognize and respond to signs of mental illness and substance abuse</li>
                <li>Crisis Text Line, a confidential text message service for youth in times of crisis</li>
            </ul>

            <p>Nationally, Boys & Girls Clubs of America has advocated the passage of the <a href="https://www.congress.gov/bill/108th-congress/senate-bill/151" target="_blank" class="location">U.S. PROTECT Act</a>, which improved background screening systems and access. The national organization has also partnered with the <a href="https://www.fbi.gov/" target="_blank" class="location">FBI</a>, the <a href="http://www.missingkids.com/home" target="_blank" class="location">National Center for Missing & Exploited Children</a> and the <a href="https://www.cdc.gov" target="_blank" class="location">Centers for Disease Control</a> to contribute to the development of safety practices that benefit ALL youth-serving organizations.</p>

            <p>America’s young people deserve nothing less than our constant focus on their safety and our firm commitment to protect every child who is entrusted to our care at Boys & Girls Clubs of Greater Houston. To <a href="https://www.bgca.org/kids-in-need/child-safety/safety-policies-and-actions" target="_blank" class="location">learn more</a> about our national safety policies and actions, please visit Boys & Girls Clubs of America’s Child Safety page, <a href="https://www.bgca.org/kids-in-need/child-safety" target="_blank" class="location">here</a>.</p>
        </div>
    </div>
</section>