﻿@{
    ViewBag.Title = "Calendar";
    ViewBag.Description = "Links to the page about the events calendar";
}

<section class='copyLayout paddingTop calendar-page'>
    <div class='outer-container'>
        <img class='scriptWord' src='~/assets/images/generosityWhiteBG.png' />
        <div class='single-item slider-pull-box above-calendar'>
            <div>
                <img data-lazy='/assets/images/carousels/7.jpg' />
            </div>
            <div>
                <img data-lazy='/assets/images/artsAndCrafts.jpg' />
            </div>
            <div>
                <img data-lazy='/assets/images/carousels/3.jpg' />
            </div>
            <div>
                <img data-lazy='/assets/images/carousels/11.jpg' />
            </div>
        </div>
        <div class='pull-box calendar-box'>
            <img src='/assets/images/logo.png' />
            <div id='calendar'>
                <div class='nav-anchor' id='calendarLink'></div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_donateMonthly")

@section scripts {
<script src="~/assets/js/moment.js"></script>
<script src="~/assets/js/fullcalendar.js"></script>
<script src="~/assets/js/gcal.min.js"></script>
<script>
  $('#calendar').fullCalendar({

        googleCalendarApiKey: 'AIzaSyDyjor1ZQm14ieDIjhJaKPgZt4veQRDJl4',
        events: {
            googleCalendarId: 'bgclubsgh@gmail.com',
            color: 'yellow',   // an option!
            textColor: 'black' // an option!
        },
        eventLimit: true, // allow "more" link when too many events
        navLinks: true,
        header: {
  				left: 'prev,next today',
  				center: 'title',
  				right: 'month,basicWeek,basicDay'
  			}
    })
</script>
}
