﻿@{ 
    ViewBag.Title = "Great Futures Dinner";
    ViewBag.Description = "Links to the page about the Great Futures Dinner event";
}

    <section class='copyLayout paddingTop calendar-page'>
        <div class='outer-container'>
            <img class='scriptWord' src='~/assets/images/generosityWhiteBG.png' />
            <div class='container contactFlex'>
                <div class='flexSeperator'>
                    <h2>2021 Great Futures Dinner</h2>
                    <p>Honoring Sysco and The Dobson Foundation</p>
                    <p>
                        <span class="boldBlue">Thursday, October 21, 2021</span><br />
                        Hilton Americas Hotel
                    </p>
                    <p>
                        <span class="boldBlue">About the Great Futures Dinner</span><br />

                    </p>

                    <p>
                        Join us as we celebrate Sysco and The Dobson Foundation for their partnership with Boys & Girls Clubs of Greater Houston! The Great Futures Dinner is the premier annual fundraiser of Boys & Girls Clubs of Greater Houston. This even showcases how youth are positively impacted by our Clubs every day and how the Clubs have helped them overcome seemingly insurmountable obstacles.
                    </p>
                    <p>
                        While this event is currently scheduled to be held in person utilizing the latest COVID-19 guidelines set forth by the CDC and health department, we will continue to monitor the situation, and will transition to a virtual event if necessary. We are truly grateful for the support of our community and hope you will join us!
                    </p>
                    <p>
                        For more information or to sponsor the event, please contact Sarah Burns at <span class="boldBlue">sburns@bgcgh.org</span>.
                    </p>
                    @*<p>We are also excited to announce this year’s dinner will feature <span class="boldBlue">Evander Holyfield</span>, retired boxing Heavyweight Champion, as guest speaker. Mr. Holyfield is an alumnus of the Boys & Girls Clubs and will be sharing his personal story of how the Clubs have impacted his life.</p>
                    <p>Typically, this event is held in the fall. However, given that two of the past three years have had weather related issues on or close to the event during this timeframe, we made the decision to move the event to the spring starting in 2020. We hope you can join us for this amazing night!</p>*@

                    @*<a class="btnAlternate btnMargin" href="~/assets/pdf/Auction_Donation_Form_2020.pdf" target="_blank">Donate an Auction Item<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>*@
                </div>

                <div class="logo-container">
                    <img src="~/assets/images/2021_GOLD_GFD_logo.png" alt="GFD Logo" class="GFDLogo" />
                </div>

                <a class="btnAlternate btnMargin" href="~/assets/pdf/2021_GFD_Sponsor_Form.pdf" target="_blank">Sponsor a Table<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
s

                @* <p><strong>For sponsorship opportunities, contact:</strong></p> *@
                <div class='card-container'>
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Sarah Burns</span>
                            <p>Development Manager – Special Event</p>
                        </div>
                        <div class='card-action'>
                            <span class='tooltipContainer'>
                                <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <span class="tooltip">Copy to clipboard</span>
                            </span>
                            <textarea class='email'>sburns@bgcgh.org</textarea>
                            @* <a href="tel:7134002160"><i class="fa fa-phone left-of" aria-hidden="true"></i>713-400-2160</a> *@
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </section>