﻿@{
    ViewBag.Title = "Rise and Shine Breakfast";
    ViewBag.Description = "Description of Rise and Shine Breakfast";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/inspireWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='donors'></div>
            <div class="logo-container">
                <img src="~/assets/images/Rise_&_Shine_Spring_Breakfast_Logo.png" alt="GFD Logo" class="GFDLogo" />
            </div>
            <p>
                <span class="boldBlue">
                    Thursday, June 10, 2021
                </span><br />
                Breakfast and Program 7:30AM <br />
                In-person registration 7:00AM
            </p>

            <p>
                <span class="boldBlue">River Oaks Country Club</span><br />
                1600 River Oaks Boulevard<br />
                Houston, TX 77019<br />
            </p>

            <p>
                The Rise & Shine Breakfast is an opportunity to educate the community about the services and programs Boys & Girls Clubs of Greater Houston provides to the more than 31,000 at-risk youth through after school and summer programs.
            </p>

            <p>
                There is no cost to attend the breakfast, however space is limited and attendees are asked to make a contribution to support the thousands of youth and teens who need us most in our community.
            </p>

            <p>
                This year, the breakfast will be held both in-person and virtually. For more information on attending or hosting a table, please contact Sarah Burns at <span class="title blue">sburns@bgcgh.org</span>.
            </p>
            <br />
            <h1>Presented By</h1>
            <div class="logo-container">
                <img src="~/assets/images/Kirkland_&_Ellis.png" alt="GFD Logo" class="GFDLogo" />
            </div>

        </div>
</section>

@Html.Partial("_donateMonthly")