﻿@{
    ViewBag.Title = "Santa Project";
    ViewBag.Description = "Links to the page about the Santa Project event";
}

<section class='copyLayout paddingTop calendar-page'>
    <div class='container contactFlex'>
        <div class='flexSeperator'>
            <h2>Santa Project</h2>
            <p>Generously sponsored by Kroger and CW39</p>
            @*<p>
                <span class="boldBlue">Thursday, September 24, 2020</span><br />
                Live Program to begin at 7:00 p.m.
            </p>*@
            @*<p>
                <span class="boldBlue">Chair</span><br />
                Cynthia Sanford
            </p>*@
            @*<p>
                <span class="boldBlue">Keynote Speaker</span><br />
                Evander Holyfield
            </p>*@
            @*<p>
                <span class="boldBlue">Location – Virtual!</span><br />
                Visit our event website at <a href="https://bgcgh.home.qtego.net/" target="_blank">https://bgcgh.home.qtego.net/</a> for more information or to view the live event.
            </p>*@
            <p>
                <span class="boldBlue">About The Santa Project</span><br />
                COVID-19 has brought uncertainty and disruption to the communities we serve, but Boys & Girls Clubs of Greater Houston’s (BGCGH) top priority has not changed. For over fifteen years, the Boys & Girls Club of Greater Houston has implemented the Santa Project. The Santa Project is a volunteer driven program that matches Boys & Girls Club members in need with sponsors during the holiday season. Due to the need in the local communities, the project has grown over the years from sponsoring under 100 members to 1689 members in 2019. This year’s goal is to sponsor over 1000 members.
            </p>
            @*<p>
                <span class="boldBlue">Here’s how you can help:</span><br />
                • Complete an <a href='/assets/pdf/santa_project_2020.pdf' target='_blank'>interest form</a> indicating the number of Club Members you and/or your company are willing to sponsor.<br />
                •  Email completed interest form to santaproject@bgcgh.org no later than November 30th.<br />
                •  All gifts should be dropped off between December 3rd through December 9th at BGCGH Headquarters. See interest form for more details.
            </p>*@<p>If you have additional questions or need collection ideas, please contact Lucresia Montez at 713-400-2176 or 832-525-0822.</p>
            <a class="btnAlternate btnMargin" href="https://www.bgcghprograms.com/santaproject" target="_blank">Santa Project</a>

            @*<p>We are also excited to announce this year’s dinner will feature <span class="boldBlue">Evander Holyfield</span>, retired boxing Heavyweight Champion, as guest speaker. Mr. Holyfield is an alumnus of the Boys & Girls Clubs and will be sharing his personal story of how the Clubs have impacted his life.</p>
            <p>Typically, this event is held in the fall. However, given that two of the past three years have had weather related issues on or close to the event during this timeframe, we made the decision to move the event to the spring starting in 2020. We hope you can join us for this amazing night!</p>*@
            @*<a class="btnAlternate btnMargin" href="~/assets/pdf/2020_GFD_Sponsor_Form_Virtual.pdf" target="_blank">Sponsor a Table<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>*@
            @*<a class="btnAlternate btnMargin" href="~/assets/pdf/Auction_Donation_Form_2020.pdf" target="_blank">Donate an Auction Item<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>*@
        </div>

        @* <p><strong>For sponsorship opportunities, contact:</strong></p> *@

        <div class='card-container'>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Lucresia Montez</span>
                    <p>Family Engagement Manager</p>
                </div>
                <div class='card-action'>
                    <span class='tooltipContainer'>
                        <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span class="tooltip">Copy to clipboard</span>
                    </span>
                    <textarea class='email'>santaproject@bgcgh.org</textarea>
                    @* <a href="tel:7134002160"><i class="fa fa-phone left-of" aria-hidden="true"></i>713-400-2160</a> *@
                </div>
            </div>
        </div>
    </div>
</section>