﻿@{
    ViewBag.Title = "Sporting Clays Tournament";
    ViewBag.Description = "We host a variety of events for club members, volunteers and donors. Find out how you can get involved and support area youth.";
}
<section class='copyLayout paddingTop calendar-page'>
    <div class='outer-container'>
        
        <img class='scriptWord' src='~/assets/images/generosityWhiteBG.png' />
        <div class='container contactFlex'>
            <div class='flexSeperator'>
                <h2 class="flex-right">6th Annual Boys & Girls Clubs Sporting Clays Tournament</h2>
                <p>
                    <span class="boldBlack">Benefiting Fort Bend, Galveston and Wharton Clubs</span>
                </p>
                <p>
                    <span class="boldBlue">
                        Friday, November 19, 2021
                    </span><br />
                    Breakfast and Registration 9:00AM<br />
                    Shoot begins at 10:00AM
                </p>
                <p>
                    <span class="boldBlue">Greater Houston Sports Club</span><br />
                    6700 McHard Rd<br />
                    Houston, TX 77053<br />
                </p>
                <p class="flex-right">
                    The 6th annual Boys & Girls Clubs Sporting Clays Tournament is your opportunity to support a worthy cause while participating in a fun and challenging sporting clay event! This event raises critical fund sto support our Fort Bend, Galveston and Wharton Clubs and ensures they will continue to be accessible to the youth who need us most.
                    <br /> <a class='btnAlternate btnMargin' href='~/assets/pdf/2021 Sporting Clays Sponsorship Form.pdf' target='_blank' style="margin-bottom:5px;">Sponsorship Form<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            </div>

            <div class="logo-container">
                <img src="~/assets/images/2021_Sporting_Clays_Logo.png" alt="GFD Logo" class="GFDLogo" />
            </div>

            <div class='card-container'>
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Sarah Burns</span>
                        <p>Development Manager – Special Event</p>
                    </div>
                    @* <div class="card-action">
                        <a href="mailto:ncantu@bgcgh.org" target="_blank"><i class="fa fa-envelope left-of" aria-hidden="true"></i>ncantu@bgcgh.org</a>
                        <a href="tel:2812327632" target="_blank"><i class="fa fa-phone left-of" aria-hidden="true"></i>281-232-7632</a>
                    </div> *@
                    <div class='card-action'>
                        <span class='tooltipContainer'>
                            <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="tooltip">Copy to clipboard</span>
                        </span>
                        <textarea class='email'>sburns@bgcgh.org</textarea>
                        @*<a href="tel:7134002160"><i class="fa fa-phone left-of" aria-hidden="true"></i>713-400-2160</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>