﻿@{
    ViewBag.Title = "Donate to the Boys & Girls Clubs of Greater Houston";
    ViewBag.Description = "Our mission is to inspire and enable local youth to realize their full potential as productive, responsible and caring citizens.";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/inspireWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='mission'></div>
            <h2>In the News</h2>

            <div class='flex-column'>
                <ul style='margin:0 0 0 1rem;'>
                    <li class='flex-item-inner'><h4> March </h4></li>
                    <li class='flex-item-inner'><a href='https://thebuzzmagazines.com/articles/2021/03/rumor-has-it-march-2021' target='_blank' class='name'>Comcast Lift Zone</a></li>
                    <li class='flex-item-inner'><a href='https://www.houstonchronicle.com/news/houston-texas/health/article/COVID-Help-Desk-What-s-safe-during-spring-break-16016369.php' target='_blank' class='name'>Spring Break Tips</a></li>
                </ul>
            </div>
            <div class='flex-column'>
                <ul style='margin:0 0 0 1rem;'>
                    <li class='flex-item-inner'><h4> February </h4></li>
                    <li class='flex-item-inner'><a href='https://thekatynews.com/2021/02/26/robert-ellis-named-2021-youth-of-the-year-for-boys-girls-clubs-of-greater-houston-during-virtual-watch-party/' target='_blank' class='name'>Robert Ellis named BGCGH Youth of the Year</a></li>
                    <li class='flex-item-inner'><a href='https://www.houstonchronicle.com/texas-sports-nation/texans/article/Texans-Laremy-Tunsil-giving-back-to-community-15971002.php' target='_blank' class='name'>Tunsil Gives Back to BGCGH Families</a></li>
                    <li class='flex-item-inner'><a href='https://www.click2houston.com/sponsored/2021/02/04/celebrating-houston-history-makers-meet-this-years-8-award-winners/' target='_blank' class='name'>Mayor's History Makers - Grady Prestage Award</a></li>
                </ul>
            </div>
            <div class='flex-column'>
                <ul style='margin:0 0 0 1rem;'>
                    <li class='flex-item-inner'><h4> January </h4></li>
                    <li class='flex-item-inner'><a href='https://thekatynews.com/2021/01/07/boys-girls-clubs-of-greater-houston-launches-campaign-to-show-appreciation-to-frontline-workers/' target='_blank' class='name'>BGCGH Launches Campaign to Thank Frontline Workers (1)</a></li>
                    <li class='flex-item-inner'><a href='https://cw39.com/cw39/boys-girls-clubs-of-greater-houston-launches-campaign-to-show-appreciation-to-frontline-workers/' target='_blank' class='name'>BGCGH Launches Campaign to Thank Frontline Workers (2)</a></li>
                    <li class='flex-item-inner'><a href='https://www.bizjournals.com/houston/news/2020/12/30/op-ed-protecting-our-youth-service-providers-param.html' target='_blank' class='name'>Op Ed - Protecting Our Youth Service Providers is Paramount</a></li>
                    <li class='flex-item-inner'><a href='https://www.houstonchronicle.com/neighborhood/sugarland/news/article/Fort-Bend-County-Junior-Service-League-accepting-15887904.php' target='_blank' class='name'>Fort Bend Junior Service League funds BGCGH</a></li>
                    <li class='flex-item-inner'><a href='https://thekatynews.com/2021/01/28/bhp-gives-500000-gift-to-boys-girls-clubs-of-greater-houston-to-continue-serving-youth-during-global-pandemic/' target='_blank' class='name'>BHP Donates $500k to BGCGH</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_donateMonthly")