﻿
@{
    ViewBag.Title = "Newsletter";
}

    <section class='copyLayout paddingTop calendar-page'>

        <div class='outer-container'>
            <div class='container contactFlex'>
                <div class='flexSeperator'>
                    <h2>Behind the Blue Door</h2>
                    <p>Learn about upcoming events and important initiatives of the Boys &amp; Girls Clubs of Greater Houston in our quarterly e-newsletter.</p>
                    <a class="btnAlternate btnMargin" href="~/assets/pdf/2021-Q1_Newsletter_FINAL.pdf" target="_blank">Q1 - 2021 Newsletter<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

    </section>