﻿@{
    ViewBag.Title = "Careers";
    ViewBag.Description = "Our mission is to inspire and enable local youth to realize their full potential as productive, responsible and caring citizens.";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/careersWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='careers'></div>
            <h2>Career Opportunities</h2>
            <p class="title blue">Equal Employment Opportunity</p>
            <p>Thank you for your interest in a career with the Boys & Girls Clubs of Greater Houston. Please click on the link below to view our available career opportunities.</p>
        </div>
    </div>

    <div class='container'>
        <p>Boys & Girls Clubs of Greater Houston is committed to a policy of equal employment opportunity. The organization will not discriminate against employees or applicants for employment on any legally recognized basis including, but not limited to, veteran status, race, color, religion, sex, national origin, physical or mental disability, age, or any other protected group status as defined by law. Boys & Girls Clubs of America will also not discriminate against employees or applicants based on sexual orientation or gender identity.</p>
        <p>As part of its commitment to equal employment opportunity, Boys & Girls Clubs provide reasonable accommodations to individuals with disabilities. If you are an individual with a disability and require any type of accommodation in connection with the application process, please call our Talent Acquisition Coordinator at <a href="tel:7134002943" target="_blank">713-400-2943</a>.</p>
        @* <p>Boys & Girls Clubs of Greater Houston will not discharge or in any other manner discriminate against employees or applicants because they have inquired about, discussed, or disclosed their own pay or the pay of another employee or applicant. However, employees who have access to the compensation information of other employees or applicants as a part of their essential job functions cannot disclose the pay of other employees or applicants to individuals  who do not otherwise have access to compensation information, unless the disclosure is (a) in response to a formal complaint or charge, (b) in furtherance of an investigation, proceeding, hearing, or action, including an investigation conducted by the employer, or (c) consistent with the contractor’s legal duty to furnish information. See our <a href="https://www.dol.gov/ofccp/pdf/pay-transp_formattedESQA508c.pdf" target="_blank">Pay Transparency Nondiscrimination Provision</a> for more information.</p> *@
        <a class="btnAlternate" href="https://bgcgh.gethired.com/" target="_blank">Current Openings<i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
</section>

@Html.Partial("_donateMonthly")
