﻿@{
    ViewBag.Title = "Club Locations";
    ViewBag.Description = "Our mission is to inspire and enable local youth to realize their full potential as productive, responsible and caring citizens.";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' id='mapAnchor' src='/assets/images/connectedWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='locations'></div>
            <h2>Locations</h2>
            <p class="title blue">Clubs throughout Greater Houston!</p>
            <p>If you would like your child to join a Club, please complete a Membership Application and submit the application and membership fee to the Club Director upon registration.  Please contact your Club of interest for membership fee information.</p>
            <br />
            <a class='btnAlternate' href='/assets/pdf/Membership-Application.pdf' target='_blank'>Membership Application<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            <a class='btnAlternate' href='/assets/pdf/Membership-Application-Spanish.pdf' target='_blank'>Solicitud de Membresía<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>

            @Html.Partial("_googleMap")

        </div>
    </div>
</section>

@Html.Partial("_donateMonthly")
@section scripts {
    @Html.Partial("_GoogleMapsAPI")
    <script src="~/assets/js/map.js"></script>
}