﻿@{
    ViewBag.Title = "Board of Directors & Executive Committee";
    ViewBag.Description = "Our mission is to inspire and enable local youth to realize their full potential as productive, responsible and caring citizens.";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/leadersWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='ourTeam'></div>
            <h2>Board of Directors</h2>
        </div>

        <div class="container">
            <p class="title blue">Chairman of the Board</p>
            <div class='inner-container' style="width:100%;">
                <ul class="flex-container flex-image-container leadershipTeam">
                    <li class="flex-item" data-person="Young">
                        <div class='flex-item-inner'>
                            <div class='image-container'>
                                <img class='portrait' src="~/assets/images/executiveTeam/JuliusYoung.jpg" />
                                <i class="fa Young fa-plus-circle" aria-hidden="true"></i>
                            </div>
                            <span class='execName'>Julius Young</span>
                            <span class='title'>Market Executive, Wells Fargo Bank</span>
                            <p class='leaderBio Young mobile hide'>
                                Julius Young is Market Executive within Government &amp; Institutional Banking for Wells Fargo. In this role, Julius leads a team of industry professionals covering an 18-state region supporting the comprehensive banking needs of government entities. In addition, Julius has a diversified financial services background covering Corporate Banking, Middle-Market, International, Financial Institutions and Asset Management.
                                <br /><br />

                                Julius is Chairman of the Board for Boys &amp; Girls Clubs of Greater Houston, one of Houston’s leading nonprofit organizations, which serves some 26,000 youths over a five-county area. As Chairman, he leads the Board and the Executive Committee in carrying out their governance functions.
                                <br /><br />

                                In recognition of his leadership in social and racial justice, Julius was invited to serve on Boys &amp; Girls Clubs of America’s Diversity, Equity and Inclusion (DEI) Task Force, a national initiative. This task force is charged with developing and monitoring strategies to create meaningful, action-oriented solutions for Clubs in addressing social injustice and racial inequities that impede success for kids and teens, focusing on black, brown and indigenous youth.
                                <br /><br />

                                Originally from Los Angeles, Julius holds an undergraduate degree in economics from Oregon State University and currently lives in Houston with his wife, son and twin daughters. He is a past Regent for Oregon State’s Honors College.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <p class='leaderBio Young desktop hide'>
                Julius Young is Market Executive within Government &amp; Institutional Banking for Wells Fargo. In this role, Julius leads a team of industry professionals covering an 18-state region supporting the comprehensive banking needs of government entities. In addition, Julius has a diversified financial services background covering Corporate Banking, Middle-Market, International, Financial Institutions and Asset Management.
                <br /><br />

                Julius is Chairman of the Board for Boys &amp; Girls Clubs of Greater Houston, one of Houston’s leading nonprofit organizations, which serves some 26,000 youths over a five-county area. As Chairman, he leads the Board and the Executive Committee in carrying out their governance functions.
                <br /><br />

                In recognition of his leadership in social and racial justice, Julius was invited to serve on Boys &amp; Girls Clubs of America’s Diversity, Equity and Inclusion (DEI) Task Force, a national initiative. This task force is charged with developing and monitoring strategies to create meaningful, action-oriented solutions for Clubs in addressing social injustice and racial inequities that impede success for kids and teens, focusing on black, brown and indigenous youth.
                <br /><br />

                Originally from Los Angeles, Julius holds an undergraduate degree in economics from Oregon State University and currently lives in Houston with his wife, son and twin daughters. He is a past Regent for Oregon State’s Honors College.
            </p>
        </div>

        <div class="container" style="margin-top: 90px">
            <a class="btnAlternate" href="/assets/pdf/2021BoardOfDirectors.pdf" target="_blank">
                Board of Directors<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </a>
        </div>
        </div>
    </div>
</section>


@Html.Partial("_donateMonthly")