﻿@{
    ViewBag.Title = "Mission and History";
    ViewBag.Description = "Our mission is to inspire and enable local youth to realize their full potential as productive, responsible and caring citizens.";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/inspireWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='mission'></div>
            <h2>Mission and History</h2>
            <p><span class="title blue">Mission:</span> &nbsp;To inspire and enable all youth, especially those who need us most, to realize their full potential as productive, responsible and caring citizens.</p>
        </div>

        <div class='single-item slider-pull-box'>
            <div>
                <img data-lazy='/assets/images/carousels/13.jpg' />
            </div>
            <div>
                <img data-lazy='/assets/images/carousels/19.jpg' />
            </div>
            <div>
                <img data-lazy='/assets/images/carousels/18.jpg' />
            </div>
            <div>
                <img data-lazy='/assets/images/carousels/20.jpg' />
            </div>
        </div>

        <div class='container'>
            <p><span class="title blue">History:</span> &nbsp;Boys & Girls Clubs of Greater Houston is the region’s leading youth-development organization. Since our beginning in 1952 as The Variety Boys Club, we’ve achieved an enviable record of creatively engaging, educating and empowering low-income youth in ways that improve their chances of achieving and sustaining academic and economic success.</p>
            <p>Our vision is to put success within reach for our Club members and keep them on track to graduate from high school.  We help them realize a positive plan for the future that includes good character, citizenship, and a healthy lifestyle.</p>
        </div>
    </div>

    <div class='container'>
        <p>Over 17,000 youth ages 6 to 17 walk through our doors each year for our after school and summer programs. BGCGH is a safe haven for kids  who commonly live in the midst of chaotic, dangerous neighborhoods and have limited positive relationships.  At our Clubs, youth are provided meals, strong role models, homework assistance, organized athletics, character development and access to the arts. At our Clubs, there’s an opportunity for every kid to get involved and learn something new.</p>
        <p>None of our work would be possible without the vision of our founders, Paul Boesch, Eddy Scurlock, Bob Smith and George Strake, Sr., and the commitment of our dedicated Board of Trustees, Leadership Team, full- and part-time employees and our more than 800 corporate and individual volunteers. A private, nonprofit organization, Boys & Girls Clubs of Greater Houston relies on private, corporate, individual and United Way funding to fill the gap between membership dues of just $5.00 per child per year and our operational expenses.</p> <br />
    </div>

    <div class="container">
        <div class="resp-container">
            <iframe class="resp-iframe" width="560" height="350" src="https://www.youtube.com/embed/Y0kHIL5qOmk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</section>


@Html.Partial("_donateMonthly")