﻿@{
    ViewBag.Title = "Our Team";
    ViewBag.Description = "Our mission is to inspire and enable local youth to realize their full potential as productive, responsible and caring citizens.";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/leadersWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='ourTeam'></div>
            <h2>Our Team</h2>
            <p class="title blue">Leadership Team</p>
        </div>

        <div class='container'>
            <div class='inner-container' style="width:100%;">
                <ul class="flex-container flex-image-container leadershipTeam">
                    <li class="flex-item" data-person="hattery">
                        <div class='flex-item-inner'>
                            <div class='image-container'>
                                <img class='portrait' src="~/assets/images/executiveTeam/kevinHattery.jpg" />
                                <i class="fa hattery fa-plus-circle" aria-hidden="true"></i>
                            </div>
                            <span class='execName'>Kevin Hattery</span>
                            <span class='title'>President &amp; CEO</span>
                            <p class='leaderBio hattery mobile hide'>
                                Kevin joined Boys & Girls Clubs of Greater Houston in February 2013 as President & CEO. He is responsible for ensuring that Boys & Girls Clubs meets its overall strategic and operational objectives. Before joining BGCGH, Kevin spent 15 years with Junior Achievement serving in multiple roles at the national headquarters and three affiliate offices in Georgia, New Mexico and Southeast Texas.
                                <br /><br />
                                Kevin has focused on community development, economic development and education development.  He holds a bachelors degree from Eastern Kentucky University and is a class XXXI member of Leadership Houston.
                            </p>
                        </div>
                    </li>

                    <li class="flex-item" data-person="bosker">
                        <div class='flex-item-inner'>
                            <div class='image-container'>
                                <img class='portrait' src="~/assets/images/executiveTeam/MariBosker.jpg" />
                                <i class="fa bosker fa-plus-circle" aria-hidden="true"></i>
                            </div>
                            <span class='execName'>Mari Bosker</span>
                            <span class='title'>Director of Board Governance and Communications</span>
                            <p class='leaderBio bosker mobile hide'>
                                Mari Bosker has more than 20 years of experience in fundraising and leadership development and has raised more than $70 million at nonprofits in Houston.  As the Director of Board Governance and Communications for Boys & Girls Clubs of Greater Houston, she manages the strategic direction for the 41 member board, as well as oversees marketing and communications for the Houston Clubs. Prior to joining Boys & Girls Clubs, Mari worked in the fundraising departments at Baylor College of Medicine, DePelchin Children's Center, The Center for Hearing and Speech and The United Way of Greater Houston.
                                <br /><br />
                                Mari received a bachelor’s degree from the University of Florida and was awarded a Certified Fund Raising Executive (CFRE) certificate in 2007.  She has served on the boards of the Planned Giving Council of Houston (2010 Gift Planning Conference Chair); the Association of Fundraising Professionals (2013 National Philanthropy Day Awards Chair); Power Tools for Nonprofits Advisory Board Member (2009) and Strategic Planning Chairman for The Junior League of Houston (2010).
                                <br /><br />
                                Recent Presentations and publications
                                June 2020 – Effectively Utilizing your Board In A Crisis – Association of Fundraising Professionals Houston<br />
                                February 2020 – How to Create an Effective Board (Blog) – Association of Fundraising Professionals Houston<br />
                                November 2019 – Thinking Big in a Small Shop – Powertools for Nonprofits presented by Center Point<br />
                                October 2019 – Developing a Marketing Plan for any Size Club – Boys & Girls Clubs of America, East Texas Area Council<br />
                                June 2019 – Capital Campaigns – Ask the Experts presented by Association of Fundraising Professionals Houston
                            </p>
                        </div>
                    </li>

                    <li class="flex-item" data-person="Bridgeforth">
                        <div class='flex-item-inner'>
                            <div class='image-container'>
                                <img class='portrait' src="~/assets/images/executiveTeam/JelitaBridgeforth.jpg" />
                                <i class="fa Bridgeforth fa-plus-circle" aria-hidden="true"></i>
                            </div>
                            <span class='execName'>Jelita Bridgeforth</span>
                            <span class='title'>Senior Director of Human Resources</span>
                            <p class='leaderBio Bridgeforth mobile hide'>
                                Jelita J. Bridgeforth is a certified, strategic and solutions-oriented Human Resources Professional with 20 years of experience. She is currently the Sr. Director Human Resources and will focus on all facets of the Human Resources Department from employee relations, employee engagement, leadership and staff development, benefits management and talent management. Jelita has worked in the industries of Healthcare, Business Development, PEO, Manufacturing and Veterinary Medicine. Jelita has a BS from Tennessee State University and a Master’s Degree from Emory University.
                            </p>
                        </div>
                    </li>

                    <li class="flex-item" data-person="Campbell">
                        <ul>
                            <li class='flex-item-inner'>
                                <div class='image-container'>
                                    <img class='portrait' src='/assets/images/executiveTeam/zenaeCampbell.jpg' />
                                    <i class="fa Campbell fa-plus-circle" aria-hidden="true"></i>
                                </div>
                                <span class='execName'>Zenae Campbell</span>
                                <span class='title'>Vice President of Program Services</span>
                                <p class='leaderBio Campbell mobile hide'>
                                    Zenae joined Boys & Girls Clubs of Greater Houston in December 2013 as Vice President of Program Services. She is responsible for all program services, inclusive of traditional and shared space programming, as well as program outcomes, operations, program development and implementation and budget management.
                                    <br /><br />
                                    Before joining BGCGH, she spent over a decade designing, implementing and managing youth, adult, school and community programs in California with agencies such as the Anti-Defamation League, California/Nevada Community Action Partnership and the Sacramento City Unified School District. Zenae has also consulted for various organizations throughout the country, including the Harris County Department of Education Cooperative for After-School Enrichment (CASE).
                                    <br /><br />
                                    Zenae brings a wealth of knowledge around education and community partnerships and development. She earned her Bachelors of Arts in Political Science from the University of California, Riverside and also has a Masters of Public Administration.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <!-- First row bios -->
                    <p class='leaderBio hattery desktop hide'>
                        Kevin joined Boys & Girls Clubs of Greater Houston in February 2013 as President & CEO. He is responsible for ensuring that Boys & Girls Clubs meets its overall strategic and operational objectives. Before joining BGCGH, Kevin spent 15 years with Junior Achievement serving in multiple roles at the national headquarters and three affiliate offices in Georgia, New Mexico and Southeast Texas.
                        <br /><br />
                        Kevin has focused on community development, economic development and education development.  He holds a bachelors degree from Eastern Kentucky University. Kevin is a class XXXI member of Leadership Houston.
                    </p>
                    <p class='leaderBio bosker desktop hide'>
                        Mari Bosker has more than 20 years of experience in fundraising and leadership development and has raised more than $70 million at nonprofits in Houston.  As the Director of Board Governance and Communications for Boys & Girls Clubs of Greater Houston, she manages the strategic direction for the 41 member board, as well as oversees marketing and communications for the Houston Clubs. Prior to joining Boys & Girls Clubs, Mari worked in the fundraising departments at Baylor College of Medicine, DePelchin Children's Center, The Center for Hearing and Speech and The United Way of Greater Houston.
                        <br /><br />
                        Mari received a bachelor’s degree from the University of Florida and was awarded a Certified Fund Raising Executive (CFRE) certificate in 2007.  She has served on the boards of the Planned Giving Council of Houston (2010 Gift Planning Conference Chair); the Association of Fundraising Professionals (2013 National Philanthropy Day Awards Chair); Power Tools for Nonprofits Advisory Board Member (2009) and Strategic Planning Chairman for The Junior League of Houston (2010).
                        <br /><br />
                        Recent Presentations and publications
                        June 2020 – Effectively Utilizing your Board In A Crisis – Association of Fundraising Professionals Houston<br />
                        February 2020 – How to Create an Effective Board (Blog) – Association of Fundraising Professionals Houston<br />
                        November 2019 – Thinking Big in a Small Shop – Powertools for Nonprofits presented by Center Point<br />
                        October 2019 – Developing a Marketing Plan for any Size Club – Boys & Girls Clubs of America, East Texas Area Council<br />
                        June 2019 – Capital Campaigns – Ask the Experts presented by Association of Fundraising Professionals Houston
                    </p>
                    <p class="leaderBio Bridgeforth desktop hide">
                        Jelita J. Bridgeforth is a certified, strategic and solutions-oriented Human Resources Professional with 20 years of experience. She is currently the Sr. Director Human Resources and will focus on all facets of the Human Resources Department from employee relations, employee engagement, leadership and staff development, benefits management and talent management. Jelita has worked in the industries of Healthcare, Business Development, PEO, Manufacturing and Veterinary Medicine. Jelita has a BS from Tennessee State University and a Master’s Degree from Emory University.
                    </p>
                    <p class='leaderBio Campbell desktop hide'>
                        Zenae joined Boys & Girls Clubs of Greater Houston in December 2013 as Vice President of Program Services. She is responsible for all program services, inclusive of traditional and shared space programming, as well as program outcomes, operations, program development and implementation and budget management.
                        <br /><br />
                        Before joining BGCGH, she spent over a decade designing, implementing and managing youth, adult, school and community programs in California with agencies such as the Anti-Defamation League, California/Nevada Community Action Partnership and the Sacramento City Unified School District. Zenae has also consulted for various organizations throughout the country, including the Harris County Department of Education Cooperative for After-School Enrichment (CASE).
                        <br /><br />
                        Zenae brings a wealth of knowledge around education and community partnerships and development. She earned her Bachelors of Arts in Political Science from the University of California, Riverside and also has a Masters of Public Administration.
                    </p>

                    <li class="flex-item" data-person="Cantu">
                        <ul>
                            <li class='flex-item-inner'>
                                <div class='image-container'>
                                    <img class='portrait' src='~/assets/images/executiveTeam/NickCantu.jpg' />
                                    <i class="fa Cantu fa-plus-circle" aria-hidden="true"></i>
                                </div>
                                <span class='execName'>Nick Cantu</span>
                                <span class='title'>Senior Director of Club Operations</span>
                                <p class='leaderBio Cantu mobile hide'>
                                    Nick joined the Boys & Girls of Greater Houston in October 2015 as the Fort Bend County Director, and in 2019 was promoted to Sr. Director of Club Operations. His responsibilities among many is to lead strategies to increase key performance indicators in a club setting; establish and support policies to ensure efficiencies organization wide, and establish safety plans and opportunities of growth in efficiencies and standard operating procedures.
                                    <br /><br />
                                    Nick started his career in 1995 working for the Extended Day Program in Fort Bend Independent School District. He has held various positions within the district during his 20 year tenure most recently as the building administrator for the Ridgemont Early Childhood Center. Nick’s main responsibilities were to lead, research, design and implement a plan to assess, evaluate, and collect data of various programs at the center. Under Nick’s Leadership the Ridgemont Early Childhood Center was an HEB Statewide Early Childhood Finalist, and was the Executive Service of Houston Client of the Year.
                                    <br /><br />
                                    Nick brings over 20 years of youth experience, leadership, and community partnerships. Nick earned a Bachelor’s Degree in Science and Master’s Degree in Education.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <li class="flex-item" data-person="Ewing">
                        <ul>
                            <li class='flex-item-inner '>
                                <div class='image-container'>
                                    <img class='portrait' src='~/assets/images/executiveTeam/MichaelEwing.jpg' />
                                    <i class="fa Ewing fa-plus-circle" aria-hidden="true"></i>
                                </div>
                                <span class='execName'>Michael Ewing</span>
                                <span class='title'>Director of Program Services</span>
                                <p class='leaderBio Ewing mobile hide'>
                                    Michael joined Boys & Girls Clubs of Greater Houston in January 2019 as Director of Program Services. He is responsible for all program services, inclusive of traditional and shared space programming, as well as program outcomes, and program development.
                                    <br /><br />
                                    Before joining BGCGH, Michael spent over a decade designing, implementing student support programs as a central office administrator in local area school districts.  Programs Michael supported in schools include special education, Section 504, response to intervention, English Language Learners (ELL), restorative practices, and social emotional learning.  Prior to his central office roles, Michael spent over five years as a classroom English/Reading teacher in high school and middle school.
                                    <br /><br />
                                    Michael brings a wealth of knowledge around education, youth development, and social emotional learning.  Michael earned his Bachelors of Arts in Social Work from Texas Southern University and a Masters of Arts in Education from Prairie View A & M University.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <li class="flex-item" data-person="Fields">
                        <ul>
                            <li class='flex-item-inner '>
                                <div class='image-container'>
                                    <img class='portrait' src='~/assets/images/executiveTeam/VFields.jpg' />
                                    <i class="fa Fields fa-plus-circle" aria-hidden="true"></i>
                                </div>
                                <span class='execName'>V. Fields</span>
                                <span class='title'>Director of Finance</span>
                                <p class='leaderBio Fields mobile hide'>
                                    V. Fields joined the Boys & Girls Clubs of Greater Houston as the Director of Finance in May 2020. She has more than eight years of non-profit experience. She is responsible for managing all financial functions including: accounting, payroll, accounts payable, grant accounting, financial operations, budgeting, employee benefits, insurance coverage, financial reporting, annual audit and tax form preparation.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <li class="flex-item" data-person="Martin">
                        <ul>
                            <li class='flex-item-inner '>
                                <div class='image-container'>
                                    <img class='portrait' src='~/assets/images/executiveTeam/MarkMartin.jpg' />
                                    <i class="fa Martin fa-plus-circle" aria-hidden="true"></i>
                                </div>
                                <span class='execName'>Mark Martin</span>
                                <span class='title'>Director of Development</span>
                                <p class='leaderBio Martin mobile hide'>
                                    Mark Martin has been a member of the Boys & Girls Clubs of Greater Houston team since 2015. His career with the organization started as Club Director at the Stafford Boys & Girls Club. As Club Director Mark managed a top producing Club with respect to membership goals and average daily attendance. Under his leadership the Club became more visible in the community; resulting in an increase in membership and community partners.
                                    <br /><br />
                                    In June 2017, Mark left the programs team and accepted a position as Development Manager. As Development Manager he immediately realized his passion for fundraising. Two months later, Hurricane Harvey made landfall in eastern Texas causing unprecedented flooding and destruction. Immediately after the storm, he worked directly with the BGCGH Executive Team to assess damage and create a strategy to raise funds for Hurricane Harvey Relief including a grant award that exceeded $1 million dollars. As a result of his success he was promoted to Director of Development in March 2018. Mark continues to work in this role and he was selected to participate in the Boys & Girls Clubs of America Advanced Leadership in Resource Development Track program in 2019.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <!-- Second row bios -->

                    <p class='leaderBio Cantu desktop hide'>
                        Nick joined the Boys & Girls of Greater Houston in October 2015 as the Fort Bend County Director, and in 2019 was promoted to Sr. Director of Club Operations. His responsibilities among many is to lead strategies to increase key performance indicators in a club setting; establish and support policies to ensure efficiencies organization wide, and establish safety plans and opportunities of growth in efficiencies and standard operating procedures.
                        <br /><br />
                        Nick started his career in 1995 working for the Extended Day Program in Fort Bend Independent School District. He has held various positions within the district during his 20 year tenure most recently as the building administrator for the Ridgemont Early Childhood Center. Nick’s main responsibilities were to lead, research, design and implement a plan to assess, evaluate, and collect data of various programs at the center. Under Nick’s Leadership the Ridgemont Early Childhood Center was an HEB Statewide Early Childhood Finalist, and was the Executive Service of Houston Client of the Year.
                        <br /><br />
                        Nick brings over 20 years of youth experience, leadership, and community partnerships. Nick earned a Bachelor’s Degree in Science and Master’s Degree in Education.
                    </p>
                    <p class='leaderBio Ewing desktop hide'>
                        Michael joined Boys & Girls Clubs of Greater Houston in January 2019 as Director of Program Services. He is responsible for all program services, inclusive of traditional and shared space programming, as well as program outcomes, and program development.
                        <br /><br />
                        Before joining BGCGH, Michael spent over a decade designing, implementing student support programs as a central office administrator in local area school districts.  Programs Michael supported in schools include special education, Section 504, response to intervention, English Language Learners (ELL), restorative practices, and social emotional learning.  Prior to his central office roles, Michael spent over five years as a classroom English/Reading teacher in high school and middle school.
                        <br /><br />
                        Michael brings a wealth of knowledge around education, youth development, and social emotional learning.  Michael earned his Bachelors of Arts in Social Work from Texas Southern University and a Masters of Arts in Education from Prairie View A & M University.
                    </p>
                    <p class='leaderBio Fields desktop hide'>
                        V. Fields joined the Boys & Girls Clubs of Greater Houston as the Director of Finance in May 2020. She has more than eight years of non-profit experience. She is responsible for managing all financial functions including: accounting, payroll, accounts payable, grant accounting, financial operations, budgeting, employee benefits, insurance coverage, financial reporting, annual audit and tax form preparation.
                    </p>
                    <p class='leaderBio Martin desktop hide'>
                        Mark Martin has been a member of the Boys & Girls Clubs of Greater Houston team since 2015. His career with the organization started as Club Director at the Stafford Boys & Girls Club. As Club Director Mark managed a top producing Club with respect to membership goals and average daily attendance. Under his leadership the Club became more visible in the community; resulting in an increase in membership and community partners.
                        <br /><br />
                        In June 2017, Mark left the programs team and accepted a position as Development Manager. As Development Manager he immediately realized his passion for fundraising. Two months later, Hurricane Harvey made landfall in eastern Texas causing unprecedented flooding and destruction. Immediately after the storm, he worked directly with the BGCGH Executive Team to assess damage and create a strategy to raise funds for Hurricane Harvey Relief including a grant award that exceeded $1 million dollars. As a result of his success he was promoted to Director of Development in March 2018. Mark continues to work in this role and he was selected to participate in the Boys & Girls Clubs of America Advanced Leadership in Resource Development Track program in 2019.
                    </p>


                    <li class="flex-item" data-person="Smith">
                        <ul>
                            <li class='flex-item-inner '>
                                <div class='image-container'>
                                    <img class='portrait' src='~/assets/images/executiveTeam/susySmith.jpg' />
                                    <i class="fa Smith fa-plus-circle" aria-hidden="true"></i>
                                </div>
                                <span class='execName'>Susy Smith</span>
                                <span class='title'>Vice President of Development</span>
                                <p class='leaderBio Smith mobile hide'>
                                    Susy Smith joined the Boys & Girls Clubs of Greater Houston as the Vice President of Development in August 2017. Susy is responsible for providing strategy, direction and oversight in all development areas, including donor engagement, major gifts, annual fund, marketing and communications, and special events, to reach our fundraising goals.
                                    <br /><br />
                                    Susy brings a successful background of more than 20 years in planning strategies and directing operations for fund development and special events, managing major gift giving program opportunities, establishing corporate and volunteer relations, and identifying grant proposals and evaluating programs that meet established corporate and foundation guidelines.
                                    <br /><br />
                                    Prior to accepting this role, Susy served as the Regional Development Officer of the Southwest Region for Boys & Girls Clubs of America (BGCA) since 2014. In this position, she was responsible for an annual fundraising goal of $3.9 million with a team of three. She has also worked closely with BGCA's Trustees across the eight-state Southwest Region. Before joining BGCA, Susy served in progressive development roles for local Houston non-profits including Red Cross, Discovery Green Conservancy, Memorial Hermann Foundation and United Way.
                                    <br /><br />
                                    Susy’s professional associations include the Association of Fundraising Professionals and Leadership Houston, Class XX. She earned her Bachelors of Science degree in Education from the University of Houston.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <li class="flex-item" data-person="Sturgis">
                        <ul>
                            <li class='flex-item-inner '>
                                <div class='image-container'>
                                    <img class='portrait' src='~/assets/images/executiveTeam/jonathanSturgis.png' />
                                    <i class="fa Sturgis fa-plus-circle" aria-hidden="true"></i>
                                </div>
                                <span class='execName'>Jonathan Sturgis</span>
                                <span class='title'>Vice President of Finance and Business Operations</span>
                                <p class='leaderBio Sturgis mobile hide'>
                                    Jonathan Sturgis joined the Boys & Girls Clubs of Greater Houston as the Vice President of Finance and Business Operations in June 2018.  He is responsible for overseeing Boys & Girls of Greater Houston’s financial management and business operation functions including Finance, Human Resources and Information Technology.
                                    <br /><br />
                                    Jonathan brings a successful background of more than twenty-eight years of progressive senior leadership in finance and operations.  Prior to accepting this role, he was the Chief Financial Officer at Houston Methodist San Jacinto Hospital where he was responsible for the finances of the hospital as well as leadership of multiple hospital support operations departments.  He earned a Bachelor’s Degree in Accounting from Miami University (Ohio) and a Masters of Business Administration from Texas Woman’s University.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <li class="flex-item" data-person="Woodruff">
                        <ul>
                            <li class='flex-item-inner '>
                                <div class='image-container'>
                                    <img class='portrait' src='~/assets/images/executiveTeam/ShannonWoodruff.jpg' />

                                    <i class="fa Woodruff fa-plus-circle" aria-hidden="true"></i>
                                </div>
                                <span class='execName'>Shannon Woodruff</span>
                                <span class='title'>Senior Director of Development</span>
                                <p class='leaderBio Woodruff mobile hide'>
                                    Shannon Woodruff joined the Boys & Girls Clubs of Greater Houston as the Senior Director of Development in December of 2018. Shannon leads a team of fundraisers who are responsible for major gifts, events, young professionals and annual fund.
                                    <br /><br />
                                    Shannon has nearly 20 years of fundraising experience, including launching a Young Professionals program, leading development teams at Houston area private schools, creating major gift programs, establishing corporate and foundation partnerships, as well as successfully planning and executing multimillion-dollar events. She has experience with board and volunteer management, as well as developing strategies for successful fundraising programs.
                                    <br /><br />
                                    Prior to joining the development team at BGCGH, Shannon served as the Regional Development Officer for the Boys & Girls Clubs of America in the Southwest Region. The eight-state region included overseeing the $3 million gala dinner and working closely with National Trustees. Prior to that, she served as the Southwest Region’s Major Gift Officer for two years. In addition, Shannon has served in various roles for Houston non-profits including Red Cross, Grace School, The Monarch School and United Way of Greater Houston.
                                    <br /><br />
                                    Shannon is involved in the Association of Fundraising Professionals, is a member of the Fort Bend Leadership Forum Class of 2008 and the Central Fort Bend Leadership Class of 2020. She earned her Bachelor of Business Administration in Marketing from Harding University and her Masters of Business Administration from Stephen F. Austin State University.
                                </p>
                            </li>
                        </ul>
                    </li>

                    <!-- Third row bios -->

                    <p class='leaderBio Smith desktop hide'>
                        Susy Smith joined the Boys & Girls Clubs of Greater Houston as the Vice President of Development in August 2017. Susy is responsible for providing strategy, direction and oversight in all development areas, including donor engagement, major gifts, annual fund, marketing and communications, and special events, to reach our fundraising goals.
                        <br /><br />
                        Susy brings a successful background of more than 20 years in planning strategies and directing operations for fund development and special events, managing major gift giving program opportunities, establishing corporate and volunteer relations, and identifying grant proposals and evaluating programs that meet established corporate and foundation guidelines.
                        <br /><br />
                        Prior to accepting this role, Susy served as the Regional Development Officer of the Southwest Region for Boys & Girls Clubs of America (BGCA) since 2014. In this position, she was responsible for an annual fundraising goal of $3.9 million with a team of three. She has also worked closely with BGCA's Trustees across the eight-state Southwest Region. Before joining BGCA, Susy served in progressive development roles for local Houston non-profits including Red Cross, Discovery Green Conservancy, Memorial Hermann Foundation and United Way.
                        <br /><br />
                        Susy’s professional associations include the Association of Fundraising Professionals and Leadership Houston, Class XX. She earned her Bachelors of Science degree in Education from the University of Houston.
                    </p>
                    <p class='leaderBio Sturgis desktop hide'>
                        Jonathan Sturgis joined the Boys & Girls Clubs of Greater Houston as the Vice President of Finance and Business Operations in June 2018.  He is responsible for overseeing Boys & Girls of Greater Houston’s financial management and business operation functions including Finance, Human Resources and Information Technology.
                        <br /><br />
                        Jonathan brings a successful background of more than twenty-eight years of progressive senior leadership in finance and operations.  Prior to accepting this role, he was the Chief Financial Officer at Houston Methodist San Jacinto Hospital where he was responsible for the finances of the hospital as well as leadership of multiple hospital support operations departments.  He earned a Bachelor’s Degree in Accounting from Miami University (Ohio) and a Masters of Business Administration from Texas Woman’s University.
                    </p>
                    <p class='leaderBio Woodruff desktop hide'>
                        Shannon Woodruff joined the Boys & Girls Clubs of Greater Houston as the Senior Director of Development in December of 2018. Shannon leads a team of fundraisers who are responsible for major gifts, events, young professionals and annual fund.
                        <br /><br />
                        Shannon has nearly 20 years of fundraising experience, including launching a Young Professionals program, leading development teams at Houston area private schools, creating major gift programs, establishing corporate and foundation partnerships, as well as successfully planning and executing multimillion-dollar events. She has experience with board and volunteer management, as well as developing strategies for successful fundraising programs.
                        <br /><br />
                        Prior to joining the development team at BGCGH, Shannon served as the Regional Development Officer for the Boys & Girls Clubs of America in the Southwest Region. The eight-state region included overseeing the $3 million gala dinner and working closely with National Trustees. Prior to that, she served as the Southwest Region’s Major Gift Officer for two years. In addition, Shannon has served in various roles for Houston non-profits including Red Cross, Grace School, The Monarch School and United Way of Greater Houston.
                        <br /><br />
                        Shannon is involved in the Association of Fundraising Professionals, is a member of the Fort Bend Leadership Forum Class of 2008 and the Central Fort Bend Leadership Class of 2020. She earned her Bachelor of Business Administration in Marketing from Harding University and her Masters of Business Administration from Stephen F. Austin State University.
                    </p>
                </ul>
            </div>
        </div>
    </div>
</section>


@Html.Partial("_donateMonthly")