﻿@{
  string cookieName = ".AspNet.Consent";
  string CookieString;
  var cookie = Request.Cookies.Get(cookieName);

  if (cookie == null || cookie.Value != "yes")
  {
    CookieString = string.Format(".AspNet.Consent=yes; expires={0}; path=/; SameSite=lax", Helpers.Now("GMT Standard Time").AddYears(1).ToString("r"));

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/assets/css/cookieconsent.css" rel="stylesheet" />
    <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-bottom" role="alert">
      <div class="container-navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
            <span class="sr-only">Toggle cookie consent banner</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand"><i class="fa fa-info-circle" aria-hidden="true" style="font-size: 24px;"></i></span>
        </div>
        <div class="collapse navbar-collapse">
          <p class="navbar-text">
            This website uses cookies to ensure you get the best experience on our website.
          </p>
          <div class="navbar-right">
            <a class="btn btn-info navbar-btn" href="/donor-policy">Learn More</a>
            <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@CookieString">Accept</button>
          </div>
        </div>
      </div>
    </nav>

    <script>
      (function () {
        document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
          document.cookie = el.target.dataset.cookieString;
          document.querySelector("#cookieConsent").classList.add("hidden");
        }, false);

        document.querySelector(".navbar-toggle").addEventListener("click", function (el) {
          document.cookie = el.target.dataset.cookieString;
          document.querySelector(".navbar-collapse").classList.toggle('show');
        }, false);
      })();

    </script>
  }
}