<div id='donate-background'></div>
<div class="donate-area" id='donate-area'>
  <div class='inner-content'>
    <img class='paypal' src='/assets/images/paypal-icon.png' />
    <img class='exit-donate' src='/assets/images/x.png' />
    <div class='cbp-mc-form'>
          <div class="cbp-mc-column non-GFD">
            <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" />
            <label for="checkbox-1" class="checkbox-custom-label"><strong>Yes!</strong> I want to support my local Boys and Girls Club with a monthly, recurring gift.</label>
          </div>
          <div class="cbp-mc-column GFD hide-me">
            <h2 class='GFD'>Sponsorship Payment</h2>
            <p class='GFD'>
              Thank you for sponsoring our Great Futures Dinner. This annual event raises critical funds to support the overall mission of the Boys & Girls Clubs of Greater Houston. Please select your sponsorship level below to submit your payment.
            </p>
          </div>
      <div class="cbp-mc-column H hide-me">
        <h2 class='H' style="color: black;">Hurricane Harvey Relief</h2>
        <p class='H' style="font-size:calc(0.8em + .3vw + .3vh) !important;">
          As we move into this recovery phase, we are assessing with our Club families to ensure they are safe and determine if there are any specific pressing needs such as supplies or counseling, and at the same time determine any new staffing gaps. We want every Club member to get back to some normalcy as soon as possible, and we know the Boys & Girls Clubs plays a tremendous role in establishing that normalcy.<br /><br />
          Your donation will provide vital support to local children and teens in their greatest time of need. Funds will be used for immediate needs such as minor repairs to facilities and equipment that support the operations of the Clubs.
        </p>
      </div>
          <form id='donate-form' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" id="hostedValue" value="" />
            <div class="cbp-mc-column non-GFD non-recurring">
              <button data-hostedValue="UCU5AUMLBJZAJ" class="btn btnPaypal form-btn" type="submit" name="submit">$10.00</button>
              <button data-hostedValue="VUHSXX4QNHUQS" class="btn btnPaypal form-btn" type="submit" name="submit">$25.00</button>
              <button data-hostedValue="AZHP4UX4HK8A2" class="btn btnPaypal form-btn" type="submit" name="submit">$50.00</button>
              <button data-hostedValue="QXCG92EFSDMH6" class="btn btnPaypal form-btn" type="submit" name="submit">$100.00</button>
              <button data-hostedValue="9TJF83FH9S25Q" class="btn form-btn last" type="submit" name="submit">choose my own amount</button>
            </div>
            <div class="cbp-mc-column recurring hide-me">
              <button data-hostedValue="EWXUWVDQ5ZS52" class="btn btnPaypal form-btn" type="submit" name="submit" >$10.00</button>
              <button data-hostedValue="B2GXTY9MNU8N8" class="btn btnPaypal form-btn" type="submit" name="submit" >$25.00</button>
              <button data-hostedValue="7MR98YAF3AL76" class="btn btnPaypal form-btn" type="submit" name="submit">$50.00</button>
              <button data-hostedValue="TJ37RN7ZUT2GG" class="btn btnPaypal form-btn" type="submit" name="submit">$100.00</button>
            </div>
            <div class="cbp-mc-column  GFD hide-me">
              <button data-hostedValue="A3S9PF7ML3X58" class="btn btnPaypal form-btn" type="submit" name="submit">Bronze Sponsor - $5,000</button>
              <button data-hostedValue="54DKDSMLSRZ6S" class="btn btnPaypal form-btn" type="submit" name="submit">Silver Sponsor - $10,000</button>
              <button data-hostedValue="6VWAHMSMQQREJ" class="btn btnPaypal form-btn" type="submit" name="submit">Silver Plus Sponsor - $15,000</button>
              <button data-hostedValue="FQ79ZL36KDSUS" class="btn btnPaypal form-btn" type="submit" name="submit">Gold Sponsor - $25,000</button>
              <button data-hostedValue="5M89N6YD9NQ5L" class="btn form-btn last" type="submit" name="submit">Presenting 65 Club Sponsor - $65,000</button>
            </div>
            <div class="cbp-mc-column  LB hide-me">
              <button data-hostedValue="CDLSY87N29X8S" class="btn btnPaypal form-btn" type="submit" name="submit">$25</button>
              <button data-hostedValue="HPEKQATN8R8F6" class="btn btnPaypal form-btn" type="submit" name="submit">$50</button>
              <button data-hostedValue="PDT6PF3KPSY2Y" class="btn btnPaypal form-btn" type="submit" name="submit">$75</button>
              <button data-hostedValue="RK4XUC7VWT636" class="btn btnPaypal form-btn" type="submit" name="submit">$100</button>
              <button data-hostedValue="Z4GGNKXYUWYH6" class="btn form-btn last" type="submit" name="submit">choose my own amount</button>
            </div>
            <div class="cbp-mc-column  H hide-me">
              <button data-hostedValue="YTC3V978829YS" class="btn btnPaypal form-btn" type="submit" name="submit">$50</button>
              <button data-hostedValue="C8588789MZJ52" class="btn btnPaypal form-btn" type="submit" name="submit">$100</button>
              <button data-hostedValue="328ZG6JRUYBEJ" class="btn btnPaypal form-btn" type="submit" name="submit">$200</button>
              <button data-hostedValue="XUPCXGJNGYBTG" class="btn btnPaypal form-btn" type="submit" name="submit">$500</button>
              <button data-hostedValue="7J44E4RUEFJVL" class="btn form-btn last" type="submit" name="submit">choose my own amount</button>
            </div>
          </form>
          <form class='userChoice hide-me' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <div class="cbp-mc-column column-user-choice">
              <input type="hidden" name="cmd" value="_xclick-subscriptions" />
              <input type="hidden" name="business" value="YUM6QLUC488B2" />
              <input type="hidden" name="lc" value="US" />
              <input type="hidden" name="item_name" value="BGCH-userChoice-recur" />
              <input type="hidden" name="item_number" value="chooseDollarRecur" />
              <input type="hidden" name="no_note" value="1" />
              <input type="hidden" name="no_shipping" value="1" />
              <input type="hidden" name="src" value="1" />
              <input type="hidden" name="a3" value="1.00" />
              <input type="hidden" name="p3" value="1" />
              <input type="hidden" name="t3" value="M" />
              <input type="hidden" name="currency_code" value="USD" />
              <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribe_LG.gif:NonHosted" />
                <button class="btn form-btn btn-recur-input last">choose my own amount</button>
                <input id='recurringInput' type="number" name="a3" maxlength="10" required />
            </div>
          </form>
    </div>
  </div>
</div>
