﻿<section class='donateMonthly'>
    <div class='container'>
        <div class='inner-container'>
            <h2>Join our monthly giving program now and a donor will match your first month.</h2>
            <p>
                100% of your monthly donation brings hope and opportunity to children and families in need.
            </p>
            <a href='/Donors-And-Partners/Donate' class='btn btnGreen no-margin flex-negate'>Give Monthly<i class="fa fa-repeat" aria-hidden="true"></i></a>

            @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_xclick-subscriptions" />
                <input type="hidden" name="business" value="YUM6QLUC488B2" />
                <input type="hidden" name="lc" value="US" />
                <input type="hidden" name="item_name" value="BGCH-userChoice-recur" />
                <input type="hidden" name="item_number" value="chooseDollarRecur" />
                <input type="hidden" name="no_note" value="1" />
                <input type="hidden" name="no_shipping" value="1" />
                <input type="hidden" name="src" value="1" />
                <input type="hidden" name="a3" value="1.00" />
                <input type="hidden" name="p3" value="1" />
                <input type="hidden" name="t3" value="M" />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribe_LG.gif:NonHosted" />
                  <input type="number" name="a3" min="1" maxlength="10" required placeholder="USD/MONTH" />
                  <button class="btn submit" type='submit'>GIVE MONTHLY<i class="fa fa-repeat" aria-hidden="true"></i></button>
            </form>*@

        </div>
    </div>
</section>
