﻿        <form data-id="embedded_signup:form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
            <input data-id="ca:input" type="hidden" name="ca" value="286d43a1-075d-45d2-9cc6-6ecca7139a22">
            <input data-id="list:input" type="hidden" name="list" value="1992180524">
            <input data-id="source:input" type="hidden" name="source" value="EFD">
            <input data-id="required:input" type="hidden" name="required" value="list,email">
            <input data-id="url:input" type="hidden" name="url" value="">
            <input data-id="Email Address:input" id='emailInput' class='email' type="email" placeholder="your email" name='email' maxlength="80">
            <input class='submit' type="submit" value="+" data-enabled="enabled">
        </form>
        <br/>
        <span id="success_message" style="display:none;width:100%;">
            <p style='font-weight:bold;margin-top:1em;margin-bottom:0;color:#0082bf;'>Thanks for signing up!</p>
        </span>
