</div>
<div class='pull-box map-box'>
    <div id='mapTop'></div>
    <div id='map'></div>
</div>

<div class='outer-container'>
    <div class='container mapLocationContainer'>
        <p class="titleExec toggleParent desktop-only-map">Location List
            <i class="toggle desktop-only-map fa fa-chevron-down fa-2x" aria-hidden="true"></i>
        </p>
        <ul class="flex-container mapLocations hide hide-desktop-only-map">
          <li class="flex-item">
              <ul>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location headquarters' href="javascript:google.maps.event.trigger(gmarkers[13],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">BGCGH Headquarters</span>
                      </a>
                      <div class='space-left'>
                          815 Crosby St,
                          <br />Houston, TX 77019
                          <br /><span class="company">(Downtown)
                      </div>
                      <span class="phone"><a href='tel:17138683426'><i class="fa fa-phone headquarters" aria-hidden="true"></i></a></span>713-868-3426
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope headquarters" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>contact@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[0],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Fort Bend Club</span>
                      </a>
                      <div class='space-left'>
                          5525 Hobby St, Houston, TX 77053
                          <br /><span class="company">(Post Oak area)
                      </div>
                      <div class="director space-left">Anthony Johnson<span class="company">, Director</span>
                      <br /> <span class="director ">Lionese Whittaker</span><span class="company">, Area Manager</span>
                      </div>

                      <span class="phone"><a href='tel:12814384720'><i class="fa fa-phone" aria-hidden="true"></i></a></span>281-438-4720
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>ajohnson@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[21],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Mission Bend Club</span>
                      </a>
                      <div class='space-left'>
                          8709 Addicks Clodine, Houston, TX 77083
                          <br /><span class="company">
                      </div>
                      <div class="director space-left"> Andrea Clark<span class="company">, Director</span>
                       <br /> <span class="director ">Lionese Whittaker</span><span class="company">, Area Manager</span>
                      </div>
                      <span class="phone"><a href='tel:18326898239'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-689-8239
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>aclark@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[1],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Jim & Barbara Morefield Club</span>
                      </a>
                      <br /> <div class='space-left'>
                          5950 Selinsky Rd, Houston, TX 77048
                          <br /> <span class="company">(Southeast Houston near MLK Blvd)</span>
                      </div>
                      <span class="director space-left">Ashley Shields</span><span class="company">, Director</span>
                      <br /><span class="director space-left">Brian Ervin</span><span class="company">, Area Manager</span>
                      <br /> <span class="phone"><a href='tel:1713-9915083'><i class="fa fa-phone" aria-hidden="true"></i></a></span>713-991-5083
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>ashields@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[2],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">John & Cissy Havard Club</span>
                      </a>
                      <br /><div class='space-left'>
                          1520 Airline Dr., Houston, TX 77009
                          <br /> <span class="company">(North Main & I45)</span>
                      </div>
                      <span class="director space-left">Sara Rodriguez</span><span class="company">, Director</span>
                      <br /><span class="director space-left">Carla Jones-Adams</span><span class="company">, Area Manager</span>
                      <br /> <span class="phone"><a href='tel:17138627404'><i class="fa fa-phone" aria-hidden="true"></i></a></span>713-862-7404
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>srodriguez@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[14],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Wharton Dobson Club</span>
                      </a>
                      <br /><div class='space-left'>
                          2120 Newton St., Wharton, TX 77488
                          <br /> <span class="company">(Near North Richmond St.)</span>
                      </div>
                      <span class="director space-left">Ressa Zambrano</span><span class="company">, Director</span>
                      <br /> <span class="director space-left ">Carla Jones-Adams</span><span class="company">, Area Manager</span>
                      <br /> <span class="phone"><a href='tel:9792829660'><i class="fa fa-phone" aria-hidden="true"></i></a></span>979-282-9660
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>rzambrano@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[16],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Spring Oaks Middle Club</span>
                      </a>
                      <br /><div class='space-left'>
                          2150 Shadowdale Dr.,<br /> Houston, TX 77043
                          <br /> <span class="company">(North West Houston)</span>
                      </div>
                      <span class="director space-left">Kendra Prestage</span><span class="company">, Director</span>
                      <br /> <span class="director space-left ">Dexter Lockett</span><span class="company">, Area Manager</span>
                      <span class="phone"><a href='tel:8323683956'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-368-3956
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>kprestage@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[19],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Woodview Elementary Club</span>
                      </a>
                      <br /><div class='space-left'>
                          9749 Cedardale Dr.,<br /> Houston, TX 77055
                          <br /> <span class="company">(Near I10)</span>
                      </div>
                      <span class="director space-left">Kim Bonner</span><span class="company">, Director</span>
                      <br /> <span class="director space-left ">Dexter Lockett</span><span class="company">, Area Manager</span>
                      <span class="phone"><a href='tel:8327521657'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-752-1657
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>kbonner@bgcgh.org</textarea>
                  </li>
              </ul>
          </li>
          <li class="flex-item">
              <ul>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[3],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Spring Branch Club</span>
                      </a>
                      <br /> <div class='space-left'>
                            8575 Pitner Rd., Houston, TX 77080
                            <br /> <span class="company">(Near 290 and 43rd St.)</span>
                            <br /> <span class="director ">Marcos Virula</span><span class="company">, Director</span>
                            <br /> <span class="director ">Brian Ervin</span><span class="company">, Area Manager</span>
                        </div>
                      <span class="phone"><a href='tel:17136903946'><i class="fa fa-phone" aria-hidden="true"></i></a></span>713-690-3946
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>mvirula@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[4],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Stafford Club</span>
                      </a>
                      <br /> <div class='space-left'>
                            3110 5th St, Stafford, Texas 77477
                            <br /> <span class="company">(Fort Bend County)</span>
                            <br /> <span class="director ">Tamara Brown</span><span class="company">, Director</span>
                            <br /> <span class="director ">Lionese Whittaker</span><span class="company">, Area Manager</span>
                        </div>
                      <span class="phone"><a href='tel:18324712588'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-471-2588
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>tbrown@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[5],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Johnny Mitchell Club</span>
                      </a>
                      <br /> <div class='space-left'>
                                4420 Avenue P, Galveston, TX 77550
                                <br /> <span class="company">(Galveston Island)</span>
                                <br /> <span class="director">VACANT</span><span class="company">, Director</span>
                                <br /> <span class="director ">Carla Jones-Adams</span><span class="company">, Area Manager</span>
                            </div>
                      <span class="phone"><a href='tel:14097632227'><i class="fa fa-phone" aria-hidden="true"></i></a></span>409-763-2227
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>cjones@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[5],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Johnny Mitchell Teen Club</span>
                      </a>
                      <br /> <div class='space-left'>
                                4420 Avenue P, Galveston, TX 77550
                                <br /> <span class="company">(Galveston Island)</span>
                                <br /> <span class="director">Cheryl Chatman</span><span class="company">, Director</span>
                                <br /> <span class="director ">Carla Jones-Adams</span><span class="company">, Area Manager</span>
                            </div>
                      <span class="phone"><a href='tel:14097632227'><i class="fa fa-phone" aria-hidden="true"></i></a></span>409-763-2227
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>cchatman@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[6],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Richmond-Rosenberg Club</span>
                      </a>
                      <br /> <div class='space-left'>
                            1800 James L. Pink Blvd, Richmond, TX 77469
                            <span class="company">(Fort Bend County)</span>
                            <br /> <span class="director">Brandon Mouton</span><span class="company">, Director</span>
                            <br /> <span class="director ">Brian Ervin</span><span class="company">, Area Manager</span>
                        </div>
                      <span class="phone"><a href='tel:12812327599'><i class="fa fa-phone" aria-hidden="true"></i></a></span>281-232-7599
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>bmouton@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[7],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Royal ISD</span>
                      </a>
                      <br /> <div class='space-left'>
                        2500 Durkin Rd., Pattison, TX 77423
                        <span class="company">(West of Katy)</span>
                        <br /> <span class="director">Taylor Franklin</span><span class="company">, Director</span>
                        <br /> <span class="director">Brian Ervin</span><span class="company">, Area Manager</span>
                    </div>
                      <span class="phone"><a href='tel:12819343184'><i class="fa fa-phone" aria-hidden="true"></i></a></span>281-934-3184
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>tfranklin@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[14],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Wharton Teen Scene Club</span>
                      </a>
                      <br /><div class='space-left'>
                          2120 Newton St., Wharton, TX 77488
                          <br /> <span class="company">(Near North Richmond St.)</span>
                      </div>
                      <span class="director space-left">Tobi Shonowo</span><span class="company">, Director</span>
                      <br /> <span class="director space-left ">Carla Jones-Adams</span><span class="company">, Area Manager</span>
                      <br /> <span class="phone"><a href='tel:9792829660'><i class="fa fa-phone" aria-hidden="true"></i></a></span>979-282-9660
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>tshonowo@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[17],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">The Women's Home Club</span>
                      </a>
                      <br /><div class='space-left'>
                          1905 Jacquelyn Road<br /> Houston, TX 77055
                          <br /> <span class="company">(Westview & Spring Branch East)</span>
                      </div>
                      <span class="director space-left">Shenita Sneed-Harris</span><span class="company">, Director</span>
                      <br /> <span class="director space-left">Dexter Lockett</span><span class="company">, Area Manager</span>
                      <span class="phone"><a href='tel:8324533979'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-453-3979
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>sharris@bgcgh.org</textarea>
                  </li>

                
              </ul>
          </li>
          <li class="flex-item">
              <ul>
                <li class="flex-item-inner">
                    <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[8],'click');">
                        <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Houston Texans Teen Club</span>
                    </a>
                    <br /> <div class='space-left'>
                        1520-A Airline Drive,<br />Houston Texas 77009
                        <br /> <span class="director">VACANT</span><span class="company">, Director</span>
                        <br /> <span class="director">Carla Jones-Adams</span><span class="company">, Area Manager</span>
                    </div>
                    <span class="phone"><a href='tel:18328047812'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-804-7812
                    <br />
                    <span class='tooltipContainer'>
                      <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <span class="tooltip">Copy to clipboard</span>
                    </span>
                    <textarea class='email'>cjones@bgcgh.org</textarea>
                </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[9],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Allen Parkway Club</span>
                      </a>
                      <br /> <div class='space-left'>
                            1001 Bluebonnet Place Circle, Houston, Texas 77019
                            <br /> <span class="company">(Downtown)</span>
                            <br /> <span class="director">LaTasha Augustine</span><span class="company">, Director</span>
                            <br /> <span class="director">Lionese Whittaker</span><span class="company">, Area Manager</span>
                        </div>
                      <span class="phone"><a href='tel:7134002179'><i class="fa fa-phone" aria-hidden="true"></i></a></span>713-400-2179
                      <br />
                      <span class='tooltipContainer'>
                        <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                      <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>lmitchell@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[10],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Housman Club</span>
                      </a>
                      <br /> <div class='space-left'>
                            6705 Housman, Houston, Texas 77005
                            <br /> <span class="company">(Spring Branch ISD)</span>
                            <br /> <span class="director">Andrea Govea</span><span class="company">, Director</span>
                            <br /> <span class="director ">Dexter Lockett</span><span class="company">, Area Manager</span>
                        </div>
                      <span class="phone"><a href='tel:18322446563'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-244-6563
                      <br />
                      <span class='tooltipContainer'>
                        <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                      <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>agovea@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[11],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Buffalo Creek Club</span>
                      </a>
                      <br /> <div class='space-left'>
                            2801 Blalock Rd., Houston, Texas 77080
                            <br /> <span class="company">(Spring Branch ISD)</span>
                            <br /> <span class="director">Dominque Garcia</span><span class="company">, Director</span>
                            <br /> <span class="director ">Dexter Lockett</span><span class="company">, Area Manager</span>
                        </div>
                      

                      <span class="phone"><a href='tel:18327921006'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-792-1006
                      <br />
                      <span class='tooltipContainer'>
                        <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                      <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>dgarcia@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[12],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">KIPP Sunnyside Club</span>
                      </a>
                      <br /> <div class='space-left'>
                            11000 Scott, Houston Texas 77047
                            <br /> <span class="company">(Post Oak area)</span>
                            <br /> <span class="director">Kameron Bazile</span><span class="company">, Director</span>
                            <br /> <span class="director ">Brian Ervin</span><span class="company">, Area Manager</span>
                        </div>
                      <span class="phone"><a href='tel:8328469971'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-846-9971
                      <br />
                      <span class='tooltipContainer'>
                        <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                      <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>kbazile@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[15],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Spring Branch Elementary Club</span>
                      </a>
                      <br /><div class='space-left'>
                          1700 Campbell Rd., Houston, TX 77080
                          <br /> <span class="company">(North West Houston)</span>
                      </div>
                      <span class="director space-left">Tori Light</span><span class="company">, Director</span>
                      <br /> <span class="director space-left">Dexter Lockett</span><span class="company">, Area Manager</span>
                      <span class="phone"><a href='tel:8324539298'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-453-9298
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>tlight@bgcgh.org</textarea>
                  </li>

                  <li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[18],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Westwood Elementary Club</span>
                      </a>
                      <br /><div class='space-left'>
                          10595 Hammerly Blvd.,<br /> Houston, TX 77043
                          <br /> <span class="company">(North West Houston)</span>
                      </div>
                      <span class="director space-left">VACANT</span><span class="company">, Director</span>
                      <br /> <span class="director space-left ">Dexter Lockett</span><span class="company">, Area Manager</span>
                      <span class="phone"><a href='tel:8324893355'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-489-3355
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>dlockett@bgcgh.org</textarea>
                  </li>

                  @*<li class="flex-item-inner">
                      <a onclick="location.href='#mapTop'" class='location' href="javascript:google.maps.event.trigger(gmarkers[22],'click');">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="name">Kashmere Gardens/North<br /> Forest Club</span>
                      </a>
                      <br /><div class='space-left'>
                          4802 Lockwood Dr.,<br /> Houston, TX 77026
                      </div>
                     <span class="director space-left">VACANT</span><span class="company">, Director</span><br />
                      <span class="phone"><a href='tel:8325282948'><i class="fa fa-phone" aria-hidden="true"></i></a></span>832-528-2948
                      <br />
                      <span class='tooltipContainer'>
                          <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                          <span class="tooltip">Copy to clipboard</span>
                      </span>
                      <textarea class='email'>lwhittaker@bgcgh.org</textarea>
                  </li>*@
              </ul>
          </li>
        </ul>

    </div>
