﻿<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#fff">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">
    <title>@ViewBag.Title | Boys and Girls Club Greater Houston</title>
    <meta name="description" content="@(ViewBag.Description ?? "The Boys & Girls Clubs of Greater Houston puts academic and economic success within reach by creatively engaging and empowering 11,000+ local, low-income youth.")" />

    <!-- TWITTER OG -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content=@("@bgcghouston") />
    <meta name="twitter:title" content="@(ViewBag.ogTitle ?? "Boys and Girls Clubs of Greater Houston")" />
    <meta name="twitter:description" content="@(ViewBag.ogDescription ?? "The Boys & Girls Clubs of Greater Houston puts academic and economic success within reach by creatively engaging and empowering 11,000+ local, low-income youth.")" />
    <meta name="twitter:image" content="http://www.bgcgh.org/assets/images/common/capture.jpg">

    <!-- FB OG -->
    <meta property="og:title" content="@(ViewBag.ogTitle ?? "Boys and Girls Clubs of Greater Houston")" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:image" content="@(ViewBag.ogImage ?? "http://www.bgcgh.org/assets/images/common/capture.jpg")" />
    <meta property="og:description" content="@(ViewBag.ogDescription ?? "The Boys & Girls Clubs of Greater Houston puts academic and economic success within reach by creatively engaging and empowering 11,000+ local, low-income youth.")" />

    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/materialize.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    @*	<link rel="stylesheet" href="/assets/css/font-awesome.css">*@
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @*    <link rel="stylesheet" href="/assets/css/font-awesome.css">*@

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    @*<link rel="stylesheet" href="/assets/css/global.css">*@

    <!--<link rel="stylesheet" href="/assets/css/styles.min.css">-->
    <link href="//fonts.googleapis.com/css?family=EB+Garamond|Open+Sans:300,400,700" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
    <style>
        .dropdown:hover > .dropdown-menu {
            display: block;
        }

        .dropdown > .dropdown-toggle:active {
            /*Without this, clicking will make it sticky*/
            pointer-events: none;
        }

        .navbar-light .navbar-nav .nav-link {
            color: #146dbb;
        }

            .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
                color: #146dbb;
            }

            .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
                color: #146dbb;
            }

        .navbar.center .navbar-inner {
            text-align: center;
        }

            .navbar.center .navbar-inner .nav {
                display: inline-block;
                float: none;
            }

        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0.8rem;
            padding-left: 0.8rem;
        }

        .navbar-expand-lg {
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-pack: start;
            justify-content: flex-start;
            display: inline-block;
        }

        .scale-image {
            height: 100%;
            width: 100%;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
        }

        .m-siteheader {
            height: 150px;
        }

        .navbar-brand {
            margin-right: 0;
        }

        a:hover {
            text-decoration: none;
        }

        .btn {
            letter-spacing: 1px;
            display: inline-block;
            color: #fff;
            background: #6c3;
            border-color: #6c3;
            padding: 2.25% 4%;
            font-size: calc(.3em + .75vw + .06vh);
            text-align: center;
            border: 2px solid #6c3;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            outline: none;
            overflow: hidden;
            font-weight: bold;
            border-radius: 0;
        }

        .btnAlter {
            letter-spacing: 1px;
            display: inline-block;
            color: #fff;
            background: #f90;
            border-color: #f90;
            padding: 2.25% 4%;
            font-size: calc(.3em + .75vw + .06vh);
            text-align: center;
            border: 2px solid #f90;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            outline: none;
            overflow: hidden;
            font-weight: bold;
            border-radius: 0;
        }

        .dropdown-nav-links {
            background-color: white;
            font-size: 16px;
            font-weight: 700;
            align-self: flex-end;
            width: 100%;
            max-width: 100%;
        }

        .dropdown-item {
            color: #16719c;
            font-weight: bold;
            font-size: 15px;
            width: 100%;
            max-width: 100%;
        }

            .dropdown-item, .dropdown-item:focus {
                background-color: #fff;
            }

        .dropdown-menu border border-primary rounded:hover {
            color: whitesmoke;
        }

            

    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown, .btn-group").hover(function () {
                var dropdownMenu = $(this).children(".dropdown-menu");
                if (dropdownMenu.is(":visible")) {
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86286977-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body id="f">
    <div id='allowScrollParallax' class='allowScrollParallax'>
        <header class="mainheader">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-lg-2">
                        <div class="headerlogo">
                            <a class='scrollToTop' href="/">
                                <img src='~/assets/images/logo.png' />
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="row">
                            <div class="col dropdown-nav-links" style="margin-left:30px">
                                <ul class="nav-ul hide-header-items">
                                    <li class='contact-list-item'>
                                        <ul class='contact-ul'>
                                            <li><a target='_blank' href='//facebook.com/BGCHouston/'><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a target='_blank' href='//twitter.com/bgcghouston'><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a target='_blank' href='//instagram.com/bgchouston/'><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                            <li><a target='_blank' href='//youtube.com/channel/UCmIUp50mhWx2rGt-y9w05wQ'><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                            <li><a href='tel:17138683426'><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                            <li><a href='mailto:contact@bgcgh.org'><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                            <li><a class='scrollToMap' href='/About-Us/Club-Locations'><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5 hide-header-items">
                                <div id="google_translate_element"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9" style="font-weight: 700;">
                                <div class="header-navbar">
                                    <nav class="navbar navbar-expand-xl navbar-light" style="width:100%">
                                        <div class="mobileLogo">
                                            <a class="navbar-brand" href="/">
                                                <img src='~/assets/images/logo.png' width="100" height="100" />
                                            </a>
                                        </div>
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>

                                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                                                <div class="mobile-social-media">
                                                    <div class="col dropdown-nav-links" style="margin-top:10px; padding-left:0px">
                                                        <ul class="nav-ul">
                                                            <li class='contact-list-item'>
                                                                <ul class='contact-ul'>
                                                                    <li><a target='_blank' href='//facebook.com/BGCHouston/'><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                                    <li><a target='_blank' href='//twitter.com/bgcghouston'><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                                    <li><a target='_blank' href='//instagram.com/bgchouston/'><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                                    <li><a target='_blank' href='//youtube.com/channel/UCmIUp50mhWx2rGt-y9w05wQ'><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                                                    <li><a href='tel:17138683426'><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                                                    <li><a href='mailto:contact@bgcgh.org'><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                                                    <li><a class='scrollToMap' href='/About-Us/Club-Locations'><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                @* Header & Pages for Homepage *@
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                                </li>

                                                @* Header & Pages for SafetyAndSecurity *@
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/Safety-And-Security/Club-Safety" Safety &amp; Security <span class="sr-only">Safety &amp; Security</span></a>
                                                </li>

                                                @* Header & Pages for AboutUs *@
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="/About-Us" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        About Us
                                                    </a>
                                                    <div class="dropdown-menu border border-primary rounded" aria-labelledby="navbarDropdown">
                                                        <a class="dropdown-item" href="/About-Us/Mission-And-History">Mission and History</a>
                                                        <a class="dropdown-item" href="/About-Us/Our-Team">Our Team</a>
                                                        <a class="dropdown-item" href="/About-Us/Executive-Committee-And-Board">Executive Committee And Board</a>
                                                        <a class="dropdown-item" href="/About-Us/Club-Locations">Club Locations</a>
                                                        <a class="dropdown-item" href="/About-Us/Careers">Careers</a>
                                                    </div>
                                                </li>

                                                @* Header & Pages for OurImpact *@
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Our Impact
                                                    </a>
                                                    <div class="dropdown-menu border border-primary rounded" aria-labelledby="navbarDropdown">
                                                        <a class="dropdown-item" href="/Our-Impact/Parent-Resources">Parent Resources</a>
                                                        <a class="dropdown-item" href="/Our-Impact/Registration">Registration</a>
                                                        <a class="dropdown-item" href="/Our-Impact/High-Quality-Club-Experience">High Quality Club Experience</a>
                                                        <a class="dropdown-item" href="/Our-Impact/Youth-Of-The-Year">Youth of the Year</a>
                                                    </div>
                                                </li>

                                                @* Header & Pages for Donors and Partners*@
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Donors &amp; Partners
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <a class="dropdown-item" href="/Donors-And-Partners/Invest-In-Youth-Today">Invest in Youth Today</a>
                                                        <a class="dropdown-item" href="/Donors-And-Partners/Young-Professionals">Young Professionals</a>
                                                        <a class="dropdown-item" href="/Donors-And-Partners/Great-Futures-Society">Great Futures Society</a>
                                                        <a class="dropdown-item" href="/Donors-And-Partners/Nineteen-Fifty-Two-Legacy-Society">1952 Legacy Society</a>
                                                        <a class="dropdown-item" href="/Donors-And-Partners/In-Kind-Donations">In-Kind Donations</a>
                                                        <a class="dropdown-item" href="/Donors-And-Partners/Volunteers">Volunteers</a>
                                                        <a class="dropdown-item" href="/Donors-And-Partners/Champions-Of-Caring">Champions Of Caring</a>
                                                        <a class="dropdown-item" href="/Donors-And-Partners/Club-Blue">Club Blue</a>
                                                        <a class="dropdown-item" href="/Donors-And-Partners/Annual_Reporting">Annual Reporting</a>
                                                    </div>
                                                </li>

                                                @* Header & Pages for Events*@
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Events
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <a class="dropdown-item" href="/Events/Rise-And-Shine-Breakfast">Rise &amp; Shine Breakfast</a>
                                                        <a class="dropdown-item" href="/Events/Great-Futures-Dinner">Great Futures Dinner</a>
                                                        <a class="dropdown-item" href="/Events/Sporting-Clays-Tournament">Sporting Clays Tournament</a>
                                                        <a class="dropdown-item" href="/Events/Santa-Project">Santa Project</a>
                                                    </div>
                                                </li>

                                                @* Header & Pages for News and Media*@
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        News &amp; Media
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        <a class="dropdown-item" href="/News-And-Media/Newsletter">Newsletter</a>
                                                        <a class="dropdown-item" href="/News-And-Media/In-The-News">In the News</a>
                                                    </div>
                                                </li>

                                                <div class="hide-navbar-button">
                                                    <button onclick="window.location.href = '/About-Us/Careers';" type="button" class="btnAlternate learn">Careers</button>
                                                    </br>
                                                    <div style="padding-bottom:10px"> </div>
                                                    <button onclick="window.location.href = '/Donors-And-Partners/Donate';" type="button" class="btn learn learn4">
                                                        Donate Now
                                                    </button>
                                                </div>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                            <div class="col">
                                <div class="hide-header-items">
                                    <button onclick="window.location.href = '/About-Us/Careers';" type="button" class="btnAlternate learn standard-button-size">Careers</button>
                                </div>
                            </div>
                            <div class="col-1" style="float: left;white-space:nowrap;">
                                <div class="hide-header-items">
                                    <button onclick="window.location.href = '/Donors-And-Partners/Donate';" type="button" class="btn learn learn4 standard-button-size">
                                        Donate Now
                                    </button>
                                </div>
                            </div>

                            <div class="col" style="padding:0;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        @RenderBody()
        <section class='m-siteFooter_footerHero' id='skrollr-body'>
            <div class="parallax-image">
            </div>
        </section>
        <footer class='m-siteFooter'>
            <div class='container footer-container'>
                <img class='footer-logo' src='/assets/images/logoWhite.png' />
                <p class='footer-p'>
                    © @DateTime.Now.Year Boys & Girls Clubs of Greater Houston. All rights reserved. 815 Crosby Street, Houston, Texas 77019 · 713-868-3426
                    <br />Boys & Girls Clubs of Greater Houston is a 501(C)(3) charity. Contact us at: <span><a href='mailto:contact@bgcgh.org' style='color:inherit;font-family:inherit;'>contact@bgcgh.org</a>.</span>
                </p>
                <ul class='orgs-ul'>
                    <li><img src='/assets/images/BBB.png' /></li>
                    <li><img src='/assets/images/UW.png' /></li>
                    <li><img src='/assets/images/CN.png' /></li>
                    <li><img src='/assets/images/guideStarSeal_2018_2.png' /></li>
                </ul>
                <p class='footer-p'>
                    <a class='footer-p' id="sitemap" href='/donor-policy'>Donor Policy</a>
                </p>
            </div>
            <div class='social-icons'>
                <ul class='social-list'>
                    <li class='social-list-item-fb'><a target='_blank' href='//facebook.com/BGCHouston/'><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a></li>
                    <li class='social-list-item-twit'><a target='_blank' href='//twitter.com/bgcghouston'><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a></li>
                    <li class='social-list-item-insta'><a target='_blank' href='//instagram.com/bgchouston/'><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
    @Html.Partial("_donateModal")
    @RenderSection("outsideBody", false)



    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-86286977-1' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="/assets/js/priority-nav.min.js"></script>
    <script>
        /**
         * Initiate priorityNav
         */
        var wrapper = document.querySelector(".nav-wrapper");
        var nav = priorityNav.init({
            mainNavWrapper: ".nav-wrapper", // mainnav wrapper selector (must be direct parent from mainNav)
            mainNav: ".nav-ul", // mainnav selector. (must be inline-block)
            navDropdownLabel: '<div class="hamburger">more</div>',
            navDropdownBreakpointLabel: '<div class="hamburger">menu</div>',
            navDropdownClassName: "nav__dropdown", // class used for the dropdown.
            navDropdownToggleClassName: "nav__dropdown-toggle", // class used for the dropdown toggle.
            throttleDelay: 50,
            breakPoint: 736
        });
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    @* <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> *@
    @* <script src="/assets/js/debouncedResize.js"></script>
        <script src="/assets/js/slick.min.js"></script> *@
    @* <script src='//cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script> *@
    @* <script src="/assets/js/throttledScroll.js"></script> *@
    @RenderSection("scripts", false)
    <script src="/assets/dist/js/app.min.js"></script>
    @Html.Partial("_CookieConsent")
</body>
</html>
