﻿<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#fff">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">
    <title>@ViewBag.Title | Boys and Girls Club Greater Houston</title>
    <meta name="description" content="@(ViewBag.Description ?? "The Boys & Girls Clubs of Greater Houston puts academic and economic success within reach by creatively engaging and empowering 11,000+ local, low-income youth.")" />

    <!-- TWITTER OG -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content=@("@bgcghouston") />
    <meta name="twitter:title" content="@(ViewBag.ogTitle ?? "Boys and Girls Clubs of Greater Houston")" />
    <meta name="twitter:description" content="@(ViewBag.ogDescription ?? "The Boys & Girls Clubs of Greater Houston puts academic and economic success within reach by creatively engaging and empowering 11,000+ local, low-income youth.")" />
    <meta name="twitter:image" content="http://www.bgcgh.org/assets/images/common/capture.jpg">

    <!-- FB OG -->
    <meta property="og:title" content="@(ViewBag.ogTitle ?? "Boys and Girls Clubs of Greater Houston")" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:image" content="@(ViewBag.ogImage ?? "http://www.bgcgh.org/assets/images/common/capture.jpg")" />
    <meta property="og:description" content="@(ViewBag.ogDescription ?? "The Boys & Girls Clubs of Greater Houston puts academic and economic success within reach by creatively engaging and empowering 11,000+ local, low-income youth.")" />

    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/materialize.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    @*	<link rel="stylesheet" href="/assets/css/font-awesome.css">*@
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @*    <link rel="stylesheet" href="/assets/css/font-awesome.css">*@
    
    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    *@

    @*<link rel="stylesheet" href="/assets/css/global.css">*@

    <!--<link rel="stylesheet" href="/assets/css/styles.min.css">-->
    <link href="//fonts.googleapis.com/css?family=EB+Garamond|Open+Sans:300,400,700" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86286977-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body id="pageTop" class="home page-template page-template-templates page-template-page-home page-template-templatespage-home-php page page-id-11 page-parent">
    <header class="site-header hidden-print">
        
        <div class="site-header-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-9 col-sm-5">
                        @*<a href="/" class="logo" style="width:166px;height:89px;background-size: 166px 89px;vertical-align:middle;display: inline-block;background:url('/assets/images/logo.png') no-repeat center center" title="Go to Home Page"></a>*@
                        <div class='logo-holder'>
                            <div class="logo">
                                <a href="/" class="scrollToTop" title="Go to Home Page"></a>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-xs-3 col-sm-7 text-right">
                        <nav class="nav-secondary hidden-xs">
                            <ul id="menu-secondary-navigation" class="">
                                <li id="menu-item-3101" class="btn btn-sm btn-green menu-item menu-item-type-post_type menu-item-object-page menu-item-3101"><a href="careers/">Careers<i class="caret"></i></a></li>
                                <li id="menu-item-1060" class="btn btn-sm btn-orange btn-donate menu-item menu-item-type-post_type menu-item-object-page menu-item-1060"><a href="/donate/">Donate Now<i class="caret"></i></a></li>
                            </ul>
                        </nav>
                        <a class="hamburger collapsed hidden-md hidden-lg" data-toggle="collapse" data-target="#nav-mobile" aria-expanded="false" aria-controls="nav-mobile">
                            <span class="hamburger-icon"></span>
                        </a>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="site-header-bottom visible-xs-block visible-md-block visible-lg-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="nav-primary header-mobile-hidden">
                            <ul id="menu-primary-navigation" class="">
                                <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1024">
                                    <a href="about-us/">About Us<i class="caret"></i></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1025" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1025"><a href="about-us/mission-and-history/">Mission and History<i class="caret"></i></a></li>
                                        <li id="menu-item-1026" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1026"><a href="about-us/out-team/">Our Team<i class="caret"></i></a></li>
                                        <li id="menu-item-1027" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1027"><a href="about-us/executive-committee/">Executive Committee  &amp; Board of Directors<i class="caret"></i></a></li>
                                        <li id="menu-item-1028" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1028"><a href="about-us/club-locations/">Club Locations<i class="caret"></i></a></li>
                                        <li id="menu-item-1029" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1029"><a href="about-us/careers/">Careers<i class="caret"></i></a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-1033" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1033">
                                    <a href="what-we-do/">What we do<i class="caret"></i></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1035" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1035"><a href="get-involved/volunteer/">Volunteer<i class="caret"></i></a></li>
                                        <li id="menu-item-2889" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2889"><a href="home/homeclub/">Home Club<i class="caret"></i></a></li>
                                        <li id="menu-item-1036" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1036"><a href="get-involved/alumni-club/">Alumni Club<i class="caret"></i></a></li>
                                        <li id="menu-item-1686" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1686"><a href="get-involved/partners-sponsorship/">Partners &amp; Sponsorship<i class="caret"></i></a></li>
                                        <li id="menu-item-1037" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1037"><a href="get-involved/partner-opportunities/">Partner Opportunities<i class="caret"></i></a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-1039" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1039">
                                    <a href="donors-and-partners/">Donors and Partners<i class="caret"></i></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1041" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1041"><a href="events/amplify-houston/">Amplify Houston<i class="caret"></i></a></li>
                                        <li id="menu-item-1042" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1042"><a href="events/great-futures-spring-luncheon/">Great Futures Spring Luncheon<i class="caret"></i></a></li>
                                        <li id="menu-item-1282" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1282"><a href="events/houston-duck-derby-2/">Houston Duck Derby<i class="caret"></i></a></li>
                                        <li id="menu-item-2457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2457"><a href="events/golfclassic/">Club Classic at TopGolf<i class="caret"></i></a></li>
                                        <li id="menu-item-2458" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2458"><a href="events/nationalday4kids/">National Day For Kids<i class="caret"></i></a></li>
                                        <li id="menu-item-2460" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2460"><a href="events/gala/">Great Futures Gala<i class="caret"></i></a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1047">
                                    <a href="events/">Events<i class="caret"></i></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1057" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1057"><a href="about/our-story/">Our Story<i class="caret"></i></a></li>
                                        <li id="menu-item-1055" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1055"><a href="about/our-goals/">Our Goals<i class="caret"></i></a></li>
                                        <li id="menu-item-1056" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1056"><a href="about/our-impact/">Our Impact<i class="caret"></i></a></li>
                                    </ul>
                                </li>
                                @*<li id="menu-item-1046" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1046"><a href="news/">News &amp; Media<i class="caret"></i></a></li>*@
                                <li id="menu-item-1048" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1048">
                                    <a href="news-and-media/">News &amp; Media<i class="caret"></i></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-1057" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1057"><a href="about/our-story/">Our Story<i class="caret"></i></a></li>
                                        <li id="menu-item-1055" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1055"><a href="about/our-goals/">Our Goals<i class="caret"></i></a></li>
                                        <li id="menu-item-1056" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1056"><a href="about/our-impact/">Our Impact<i class="caret"></i></a></li>
                                        <li id="menu-item-1053" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1053"><a href="about/safeclubs/">Safety &amp; Security<i class="caret"></i></a></li>
                                        <li id="menu-item-1049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1049"><a href="about/board-of-directors/">Board of Directors<i class="caret"></i></a></li>
                                        <li id="menu-item-1058" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1058"><a href="about/staff/">Staff<i class="caret"></i></a></li>
                                        <li id="menu-item-3093" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3093"><a href="careers/">Careers<i class="caret"></i></a></li>
                                        <li id="menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1054"><a href="about/locations/">Boys &amp; Girls Clubs of the Houston Area Locations<i class="caret"></i></a></li>
                                        <li id="menu-item-1048" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1048"><a href="about/abgcfoundation/">Houston Boys &amp; Girls Club Foundation<i class="caret"></i></a></li>
                                        <li id="menu-item-1388" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1388"><a target="_blank" href="http://www.clubbluehouston.org/">Club Blue<i class="caret"></i></a></li>
                                    </ul>
                                </li>
                                @*<li id="menu-item-4012" class="btn-careers menu-item menu-item-type-post_type menu-item-object-page menu-item-4012"><a href="careers/">Careers<i class="caret"></i></a></li>*@
                            </ul>
                        </nav>
                        <a href="donate" class="btn btn-sm btn-block btn-orange btn-donate hidden-sm hidden-md hidden-lg rm-p-lt rm-p-rt">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id='allowScrollParallax' class='allowScrollParallax'>
        @RenderBody()
        <section class='m-siteFooter_footerHero' id='skrollr-body'>
            <div class="parallax-image">
            </div>
        </section>
        <footer class='m-siteFooter'>
            <div class='container footer-container'>
                <img class='footer-logo' src='/assets/images/logoWhite.png' />
                <nav class='nav-footer'>
                    <ul class='nav-footer-ul'>
                        <li>
                            <div class="dropdown">
                                <span class='dropbtn'>about us</span>
                                <div class="dropdown-content">
                                    <a href="/About-Us/#mission">Mission</a>
                                    <a href="/About-Us/#locations">Locations</a>
                                    <a href="/About-Us/#ourTeam">Our Team</a>
                                    <a href="/About-Us/#careers">Careers</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <span class='dropbtn'>members & families</span>
                                <div class="dropdown-content">
                                    <a href="/Members-And-Family/#register">Register</a>
                                    <a href="/Members-And-Family/#programs">Programs</a>
                                    <a href="/Members-And-Family/#parentResources">Parent Resources</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <span class='dropbtn'>donors & partners</span>
                                <div class="dropdown-content">
                                    <a href="/Donors-And-Partners/#Donate">Donate</a>
                                    <a href="/Donors-And-Partners/#inKind">In-Kind Donations</a>
                                    <a href="/Donors-And-Partners/#donors">Distinguished Donors</a>
                                    <a href="/Donors-And-Partners/#annualReport">Annual Report</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <span class='dropbtn'>volunteers</span>
                                <div class="dropdown-content">
                                    <a href="/Volunteers/#individual">Individual Volunteers</a>
                                    <a href="/Volunteers/#corporate">Corporate Volunteers</a>
                                    <a href="/Volunteers/#youngProfs">Young Professionals</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <span class='dropbtn'>news & events</span>
                                <div class="dropdown-content">
                                    <a href="/News-And-Events/#upcoming">Upcoming Events</a>
                                    <a href="/News-And-Events/#calendarLink">Calendar</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <p class='footer-p'>
                    © @DateTime.Now.Year Boys & Girls Clubs of Greater Houston. All rights reserved. 815 Crosby Street, Houston, Texas 77019 · 713-868-3426
                    <br />Boys & Girls Clubs of Greater Houston is a 501(C)(3) charity. Contact us at: <span><a href='mailto:contact@bgcgh.org' style='color:inherit;font-family:inherit;'>contact@bgcgh.org</a>.</span>
                </p>
                <ul class='orgs-ul'>
                    <li><img src='/assets/images/BBB.png' /></li>
                    <li><img src='/assets/images/UW.png' /></li>
                    <li><img src='/assets/images/CN.png' /></li>
                    <li><img src='/assets/images/guideStarSeal_2018_2.png' /></li>
                </ul>
                <p class='footer-p'>
                    <a class='footer-p' id='sitemap' href='/sitemap'>Sitemap</a> &emsp; <a class='footer-p' id="sitemap" href='/donor-policy'>Donor Policy</a>
                </p>
            </div>
            <div class='social-icons'>
                <ul class='social-list'>
                    <li class='social-list-item-fb'><a target='_blank' href='//facebook.com/BGCHouston/'><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a></li>
                    <li class='social-list-item-twit'><a target='_blank' href='//twitter.com/bgcghouston'><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a></li>
                    <li class='social-list-item-insta'><a target='_blank' href='//instagram.com/bgchouston/'><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
    @Html.Partial("_donateModal")
    @RenderSection("outsideBody", false)



    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-86286977-1' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="/assets/js/priority-nav.min.js"></script>
    <script>
        /**
         * Initiate priorityNav
         */
        var wrapper = document.querySelector(".nav-wrapper");
        var nav = priorityNav.init({
            mainNavWrapper: ".nav-wrapper", // mainnav wrapper selector (must be direct parent from mainNav)
            mainNav: ".nav-ul", // mainnav selector. (must be inline-block)
            navDropdownLabel: '<div class="hamburger">more</div>',
            navDropdownBreakpointLabel: '<div class="hamburger">menu</div>',
            navDropdownClassName: "nav__dropdown", // class used for the dropdown.
            navDropdownToggleClassName: "nav__dropdown-toggle", // class used for the dropdown toggle.
            throttleDelay: 50,
            breakPoint: 736
        });
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    @* <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> *@
    @* <script src="/assets/js/debouncedResize.js"></script>
        <script src="/assets/js/slick.min.js"></script> *@
    @* <script src='//cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script> *@
    @* <script src="/assets/js/throttledScroll.js"></script> *@
    @RenderSection("scripts", false)
    <script src="/assets/dist/js/app.min.js"></script>
    @Html.Partial("_CookieConsent")
</body>
</html>
