<div class = 'progressbars container'>
  <div class='bar-container'>
    <div class='graduation'>
      <div id='graduation'>
        <p>
          of our members are on track for school graduation
        </p>
        <img src='/assets/images/hat.png' />
      </div>
    </div>
    <div class='grades'>
      <div id='grades'>
        <p>
          of our middle school youth earned better grades
        </p>
        <img class='paper' src='/assets/images/paper.png' />
      </div>
    </div>
    <div class='homework'>
      <div id='homework'>
        <p>have better homework completion</p>
        <img class = 'apple' src='/assets/images/apple.png' />
      </div>
    </div>
  </div>
</div>
