<form class="cbp-inkind-form flex-container hide" method="post" action="">

    @Html.ValidationSummary(false, "Please correct the following errors:")
    @Html.AntiForgeryToken()
    <p style="width: 100%;margin-left: 30px;">Required fields marked with <span class="required">*</span></p>

    <div class="cbp-inkind-column">
        <label for="Name">Name<span class="required">*</span></label>
        @Html.EditorWithPlaceholderFor(x => x.Name)

        <label for="title">Title</label>
        @Html.EditorWithPlaceholderFor(x => x.Title)

        <label for="title">Company</label>
        @Html.EditorWithPlaceholderFor(x => x.Company)

        <label for="phone">Phone Number<span class="required">*</span></label>
        @Html.EditorWithPlaceholderFor(x => x.Phone, "999 999 9999")

        <label for="email">Email Address <span class="required">*</span></label>
        @Html.EditorWithPlaceholderFor(x => x.Email, "jon@doe.com")

        <label for="street">Street Address</label>
        @Html.EditorWithPlaceholderFor(x => x.StreetAddress)

        <label for="city">City</label>
        @Html.EditorWithPlaceholderFor(x => x.City)

        <label for="state">State</label>
        @Html.StateDropDownListFor(x => x.State)

        <label for="zip">Zip</label>
        @Html.EditorWithPlaceholderFor(x => x.Zip)

        <button type="submit" class='btnAlternate btnMargin cardMatch flex-negate'>Submit</button>
    </div>

</form>