﻿
@{
    ViewBag.Title = "Best Buy Teen Tech Center";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='~/assets/images/scriptTechCenter.png' />
    </div>

    <div class="techCenterCol">
        <ul class="flex-container">
            <li class="flex-item1">
                <img src="~/assets/images/techCenter/teenTechCenter.jpg" class="teenTechTitle" />
                <p><strong>Jim &amp; Barbara Morefield Boys &amp; Girls Club</strong></p>
                <p>
                    <strong>Address:</strong><br />
                    5950 Selinsky Road<br />
                    Houston, TX 77045
                </p>
                <p>
                    <strong>Phone:</strong><br />
                    (832) 714-8237
                </p>
                <p>
                    <strong>Days and Hours:</strong><br />
                    M-Th: 4:00 – 7:00 PM<br />
                    Friday:  varied; extended hours exclusively for teens.
                </p>
                <!-- <p>
                    <strong>Tech Center Coordinator:</strong><br />
                    Deidra Jefferson<br />
                    djefferson@bgcgh.org
                </p> -->
                <p>
                    <strong>Club Director:</strong><br />
                    Jonathan Booker<br />
                    jbooker@bgcgh.org
                </p>
                <p>
                    Want to tour our facility?  Sign up to be a mentor?<br />
                    Stop by, email, or call us and schedule an appointment today!
                </p>
                <br />
                <img src="~/assets/images/techCenter/techCenterLogosV2.jpg" class="teenTechTitle" />
            </li>
            <li class="flex-item2">
                <h2>Best Buy Teen Tech Center</h2>
                <p>Boys &amp; Girls Clubs of Greater Houston is proud to announce the creation of a space for teens, dedicated to encouraging youth to explore new levels of their creativity and help them boost their confidence through the use of technology. The space is sponsored by Best Buy and the Rebuild Texas Fund, in collaboration with The Clubhouse Network, a global community of over 100 clubhouses in 20 countries.</p>
                <p class="title blue">What We Offer</p>
                <p>The Best Buy Teen Tech Center is a place where teens can develop critical skills through hands-on activities and explore interest in a variety of areas.</p>

                <ul class="flex-container-subcol">
                    <li class="flex-item-subcol">
                        <img src="~/assets/images/techCenter/iconProgramming.jpg" class="teenTechIcons" />
                        <h2>Programming</h2>
                        <p style="text-align:center;">
                            &bull; Game Developing<br />
                            &bull; Coding<br />
                            &bull; Robotics<br />
                            &bull; Engineering
                        </p>
                    </li>
                    <li class="flex-item-subcol">
                        <img src="~/assets/images/techCenter/iconFilmMaking.jpg" class="teenTechIcons" />
                        <h2>Film Making</h2>
                        <p style="text-align:center;">
                            &bull; Videography<br />
                            &bull; Film Editing<br />
                            &bull; Photography<br />
                            &bull; Movie Direction
                        </p>
                    </li>
                    <li class="flex-item-subcol">
                        <img src="~/assets/images/techCenter/iconMusicProduction.jpg" class="teenTechIcons" />
                        <h2>Music Production</h2>
                        <p style="text-align:center;">
                            &bull; Music Directing<br />
                            &bull; Music Editing<br />
                            &bull; State of the Art Sound Studio
                        </p>
                    </li>
                    <li class="flex-item-subcol">
                        <img src="~/assets/images/techCenter/iconDesign.jpg" class="teenTechIcons" />
                        <h2>Design</h2>
                        <p style="text-align:center;">
                            &bull; Graphic Design<br />
                            &bull; Digital Art<br />
                            &bull; Fashion Design/T-shirt Designing<br />
                            &bull; 3D Animator &amp; Printing
                        </p>
                    </li>
                </ul>

                <img src="~/assets/images/techCenter/newTechCenter.jpg" class="teenTechConstruction" />
                <div class="grayBox">
                    <ul class="flex-container-gray">
                        <!--<li class="flex-item-gray1">
                            <img src="" class="teenTechCoordinator" />
                        </li>-->
                        <li class="flex-item-gray2">
                            <p class="blue"><strong>Now Hiring for the Best Buy Teen Center!</strong></p>
                            <p>View our <a href="https://bgcgh.gethired.com/">job openings here.</a></p>
                        </li>
                    </ul>
                </div>
                <div class="blueBox">
                    <img src="~/assets/images/techCenter/teenTechCenterMobile.jpg" class="teenTechTitle" style="max-width: 300px;" />
                    <p><strong>Jim &amp; Barbara Morefield Boys &amp; Girls Club</strong></p>
                    <p>
                        <strong>Address:</strong> 5950 Selinsky Road, Houston, TX 77045<br />
                        <strong>Phone:</strong> (832) 714-8237<br />
                        <strong>Days and Hours:</strong> M-Th: 4:00 – 7:00 PM and Friday:  varied; extended hours exclusively for teens.
                    </p>
                    <p>
                        <strong>Tech Center Coordinator:</strong> Deidra Jefferson - djefferson@bgcgh.org<br />
                        <strong>Club Director:</strong> Brian Brunson - bbrunson@bgcgh.org
                    </p>
                    <p>Want to tour our facility?  Sign up to be a mentor? Stop by, email, or call us and schedule an appointment today!</p>
                    <img src="~/assets/images/techCenter/techCenterLogosMobileV2.jpg" class="teenTechTitle" style="margin: 0 auto; max-width: 300px;" />
                </div>
            </li>
        </ul>
    </div>
</section>