﻿
@{
    ViewBag.Title = "Donate";
}

<section class='copyLayout paddingTop'>
    <div class='outer-container donationPage'>
        <img class='scriptWord' src='~/assets/images/generosityWhiteBG.png' />
        <div class='container'>
            <div id="bbox-root"></div>
        </div>
    </div>

</section>

@section scripts {
    <script type="text/javascript">

       window.bboxInit = function () {
           bbox.showForm('10afd3c9-50fb-43c4-9898-a86bf1950e4b');
       };
       (function () {
           var e = document.createElement('script'); e.async = true;
           e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
           document.getElementsByTagName('head')[0].appendChild(e);
       } ());
    </script>
}
