﻿@{
    ViewBag.Title = "Donor Policy";
    ViewBag.Description = "The Boys & Girls Clubs of Greater Houston respects the privacy of its donors and has put in place a Donor Privacy Policy to honor these rights.";
}

<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='~/assets/images/generosityWhiteBG.png' />
        <div class='container align-to-flex'>
            <h2 class='blue'>Donor Policy</h2>
            <h2>Donor Information</h2>
            <p>The Boys & Girls Clubs of Greater Houston respects the privacy of its donors and has put in place a Donor Privacy Policy to honor these rights.</p>
            <p>The Boys & Girls Clubs of Greater Houston collects and maintains the following types of donor information when it is voluntarily provided to us:
                <ul style="list-style:disc; font-family:Georgia, serif; margin-left:40px; font-size: calc(.9em + .3vw + .3vh);">
                    <li>Contact information such as name, address, telephone number and e-mail address</li>
                    <li>Contribution information – date, amount, restricted/unrestricted</li>
                    <li>Information on events attended, publications received and special requests for program information</li>
                    <li>Information provided by the donor in the form of comments and suggestions</li>
                </ul>
            </p>
            <p>This confidential information is kept on file for IRS purposes. It is also used to understand donors' interests in our mission and to update them on our organization's plans and activities. This information is shared with staff and board members on a confidential, need-to-know basis only. It is never shared with other organizations.</p>
        
            <h2>List Sharing</h2>
            <p>The Boys & Girls Clubs of Greater Houston does not sell, rent, trade or share our donor's personal information with any other organizations. Additionally, the Boys & Girls Clubs of Greater Houston never sends out mailings on behalf of other organizations.</p>
            
            <h2>Data Security</h2>
            <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>
        
            <h2>Discontinuing Contact Upon Request</h2>
            <p>It is the policy of the Boys & Girls Clubs of Greater Houston to communicate with donors according to their expressed preferences whenever possible. The Boys & Girls Clubs of Greater Houston will discontinue or change the method used to contact any person upon that person's oral or written request.</p>
            <p>To change your contact information or remove your name for our contact list, please contact Caroline Alvarez at <a href="mailto:calvarez@bgcgh.org ">calvarez@bgcgh.org</a> or <a href="tel:7134002958">713-400-2958</a>.</p>

            <h2>Donor Bill of Rights</h2>
            <p>The Boys & Girls Clubs of Greater Houston subscribes to the Donor Bill of Rights, which was created by the Association of Fundraising Professionals (AFP), the Association for Healthcare Philanthropy (AHP), the Council for Advancement and Support of Education (CASE), and the Giving Institute: Leading Consultants to NonProfits.</p>
        </div>
    </div>
</section>


@Html.Partial("_donateMonthly")