﻿@{
    ViewBag.Title = "Home Page";
}
@*<section class='m-safetyMessageContainer'>
        <div class='container'>
            <div class='inner-container'>
                <h2>Child Safety is Our No. 1 Priority</h2>
                <p>At Boys & Girls Cubs of Greater Houston, Child Safety is Job No. 1! We work every day to create a safe, fun environment so kids can have every opportunity to be successful in life.</p>
            </div>
        </div>
    </section>*@

<section id="m-heroCarousel" class="carousel slide m-heroCarousel" data-interval="5000"
         data-ride="carousel" data-pause="hover" data-wrap="true"  >
    <div class="slideshow-container">

        <div class='mySlides'>
            <a href="/Events/Great-Futures-Dinner">
                <div class='split-right about'>
                    <img data-lazy='/assets/images/greatFuturesDinner.jpg' />
                </div>
            </a>
        </div>

        <div class='mySlides'>
            <a href="/Safety-And-Security/Club-Safety">
                <div class='split-right members'>
                    <img data-lazy='/assets/images/SafetyHeader.jpg' />
                </div>
            </a>
        </div>

        <div class='mySlides'>
            <a href="/Donors-And-Partners/Club-Blue">
                <div class='split-right donors'>
                    <img data-lazy='/assets/images/clubBlue.jpg' />
                </div>
            </a>
        </div>

        <div class='mySlides'>
            <a href="https://www.bgcghprograms.com/">
                <div class='split-right volunteers'>
                    <img data-lazy='/assets/images/summerRegistration.png' />
                </div>
            </a>
        </div>

    </div>
    <br>

    <div style="text-align:center;">
        <span class="dot" onclick='currentSlide(1)'></span>
        <span class="dot" onclick='currentSlide(2)'></span>
        <span class="dot" onclick='currentSlide(3)'></span>
        <span class="dot" onclick='currentSlide(4)'></span>
    </div>
</section>
<!--test-->

<section class='emailSignup'>
    <div class='container coronaOverwriteWidth'>
        <div class='inner-container'>
            @*<h1>Register today to receive our e-newsletter.</h1>
                <p>
                    <strong>Want to know how we're changing lives?</strong> Check out our quarterly newsletter "Behind the Blue Door" to learn about important initiatives of the Boys & Girls Clubs of Greater Houston. <strong>Register today to receive the e-newsletter by email.</strong>
                </p>*@
            <div style="padding: 0 10px;">
                <h1 style="width: 100%;">BGCGH Statement Regarding Racism and Discrimination</h1>
                <p>At Boys & Girls Clubs, we take a stand for the future of America’s children. We stand against racism and discrimination. We stand for safety, health, dignity and equitable opportunity. Boys & Girls Clubs has always been a catalyst for change, and we are long overdue for change in this country. As a city and a nation, we can and must demand change to ensure these basic rights for black people and any others who face systemic injustices.</p>
                <p>To read our full statement, <a href="~/assets/pdf/BGCGH_Statement_Regarding_Racismand_Discrimination.pdf" target="_blank" style="font-size: 18px;">click here.</a></p>
            </div>
            <h1 style="width: 100%;">Coronavirus (COVID 19) Updates</h1>
            <p class="coronaOverwrite">
                <div class="container">
                    <div class="row">
                        <a class='col btn btnGreen' href="~/assets/pdf/Club_Location_Lists.pdf" target="_blank" style="margin:5px 5px 5px 0px">Club Locations</a>
                        <a class='col btn btnAlter' href="https://www.bgcghprograms.com/" target="_blank" style="margin: 5px 0px 5px 5px">Food Distribution</a>
                        <div class="w-100"></div>
                        <a class='col btn btnGreen' href="~/assets/pdf/BGCGHDrive_ThruPantries.pdf" target="_blank"  style="margin:5px 5px 5px 0px">Family Resources</a>
                        <a class='col btn btnAlter' href="https://www.bgcghprograms.com/" target="_blank" style="margin: 5px 0px 5px 5px">Summer Programs</a>
                        <div class="w-100"></div>
                        <a class='col btn btnGreen' href="~/assets/pdf/11-2_Covid-19_Impact_Report.pdf" target="_blank" style="margin:5px 5px 5px 0px">Impact Report</a>
                        <a class='col btn btnAlter' href="https://www.youtube.com/playlist?list=PLVATh35GOL4DfhTRcqvTMSj_OOuL9-nS5" target="_blank" style="margin: 5px 0px 5px 5px">PSAs</a>
                    </div>
                </div>
            </p>
            @* <form>
                    <input class='email' type="email" placeholder="your email">
                    <input class='submit' type="submit" value="+">
                </form> *@
            @*@Html.Partial("_emailSignup")*@
        </div>
    </div>
</section>

<section class='socialFeed' id='socialFeed'>
    <div class='container'>
        <h1>Share Your Love of #GreatFutures!</h1>
        <p>
            <strong>Boys & Girls Clubs of Greater Houston wants to connect with you!</strong> Check out our recent updates, pics and videos plus find out how you can connect with us on social media.
        </p>
    </div>
    <div class='wall-container'>
        <div id='wall'>
            @*<div id="social-stream"></div>*@
            <iframe allowfullscreen id="wallsio-iframe" src="https://walls.io/b4ib8?nobackground=1&amp;show_header=0&amp;initial_posts=6" style="border:0;height:800px;width:100%"></iframe>
        </div>
    </div>
</section>


@section scripts {
   
    <script>
        let slideIndex = 1;
        let myTimer;
        let slideshowContainer;

        window.addEventListener("load", function () {
            showSlides(slideIndex);
            myTimer = setInterval(function () { plusSlides(1) }, 5000);
        })

     
        function plusSlides(n) {
            clearInterval(myTimer);
            if (n < 0) {
                showSlides(slideIndex -= 1);
            } else {
                showSlides(slideIndex += 1);
            }
            if (n === -1) {
                myTimer = setInterval(function () { plusSlides(n + 2) }, 5000);
            } else {
                myTimer = setInterval(function () { plusSlides(n + 1) }, 5000);
            }
        }

        function currentSlide(n) {
            clearInterval(myTimer);
            myTimer = setInterval(function () { plusSlides(n + 1) }, 5000);
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            const slides = document.getElementsByClassName("mySlides");
            const dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 5000); // Change image every 5 seconds
        }
    </script>
    <script type='text/javascript'>
        var localizedErrMap = {};
        localizedErrMap['required'] = 'This field is required.';
        localizedErrMap['ca'] = 'An unexpected error occurred while attempting to send email.';
        localizedErrMap['email'] = 'Please enter your email address in name@email.com format.';
        localizedErrMap['birthday'] = 'Please enter birthday in MM/DD format.';
        localizedErrMap['anniversary'] = 'Please enter anniversary in MM/DD/YYYY format.';
        localizedErrMap['custom_date'] = 'Please enter this date in MM/DD/YYYY format.';
        localizedErrMap['list'] = 'Please select at least one email list.';
        localizedErrMap['generic'] = 'This field is invalid.';
        localizedErrMap['shared'] = 'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
        localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
        localizedErrMap['state_province'] = 'Select a state/province';
        localizedErrMap['selectcountry'] = 'Select a country';
        var postURL = 'https://visitor2.constantcontact.com/api/signup';
    </script>
    <script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
    <script>
        //Set the home links to prevent page refresh, but instead scroll to top of page for a smoother user experience
        $('.scrollToTop').each(function () {
            $(this).attr('href', '#pageTop')
            $(this).click(function (e) {
                e.preventDefault();
                $("html, body, #allowScrollParallax").stop().animate({
                    scrollTop: $($.attr(this, 'href')).offset().top
                }, '250', 'swing');
            })
        });
    </script>
    <script type="text/javascript" src="/assets/js/jquery.plugins.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.site.js"></script>
  
    @*<script type="text/javascript" src="/assets/js/jquery.social.stream.1.6.js"></script>
        <script type='text/javascript' src='/assets/js/jquery.social.stream.wall.1.8.js'></script>
        <link id="desktopWallStyles" rel="stylesheet" href="/assets/css/social-wall.css">
        <script type="text/javascript">
            var desktopSocial = function () {
                $('#social-stream').dcSocialStream({
                    feeds: {
                        twitter: {
                            id: 'bgcghouston',
                            retweets: true,
                            url: 'assets/twitter.php'
                        },
                        //facebook: {
                        //	id: '295976641332343',
                        //	out: 'intro,thumb,text,user,share',
                        //	feed: 'posts',
                        //	url: 'assets/facebook.php'
                        //},
                    },
                    rotate: {
                        delay: 0
                    },
                    twitterId: 'bgcghouston',
                    control: false,
                    filter: true,
                    wall: true,
                    center: true,
                    cache: false,
                    max: 'limit',
                    limit: 10,
                    iconPath: 'images/dcsns-dark/',
                    imagePath: 'images/dcsns-dark/',
                    style: {
                        layout: 'modern',
                        colour: 'light'
                    }
                });
            }
            $(function () {
                desktopSocial();

                // toggle for index social wall hide/reveal

                var scrollTopIndex = $('#allowScrollParallax').scrollTop()
                var elementOffsetIndex = $('#socialFeed').offset().top;
                var distanceIndex = (elementOffsetIndex - scrollTopIndex);

                $('.social-toggle').click(function (e) {
                    $('#wall').toggleClass('show');
                    if ($(this).hasClass('fa-minus')) {
                        $("html, body, #allowScrollParallax").stop().animate({
                            scrollTop: distanceIndex
                        }, '750', 'swing');
                    }
                });
            });
        </script>*@
}
