﻿@{
    ViewBag.Title = "Donate to the Boys & Girls Clubs of Greater Houston";
    ViewBag.Description = "Our mission is to inspire and enable local youth to realize their full potential as productive, responsible and caring citizens.";
}
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' src='/assets/images/inspireWhiteBG.png' />
        <div class='container'>
            <div class='nav-anchor' id='mission'></div>
            <h2>A Place for Youth to Thrive & Achieve</h2>
            <p>The mission of the Boys and Girls Clubs of Greater Houston is to inspire and enable all youth, especially those who need us most, to realize their full potential as productive, responsible and caring citizens.</p>
            <p>We depend on generous individual gifts, fundraising events, foundation grants, corporate contributions and government support to help us reach 10,000 Houston-area youth each year. Although membership is only $5.00, it takes much more to provide the services BGCGH offers. The funds we raise allow us to keep our services affordable to the communities that need us most.</p>
            <h2>Donate</h2>

            @*<button class='recurringDonate btn btnGreen no-margin flex-negate'>Set Up a Recurring Gift<i class="fa fa-repeat" aria-hidden="true"></i></button>*@

            <button id="LB-donate-button" class="btn btnAlternate no-margin flex-negate">Donate with Paypal<i class="fa fa-paypal" aria-hidden="true"></i></button>

            <a href='/assets/pdf/2017 BGC  Donation Card.pdf' target="_blank">
          <button class='btn btnAlternate no-margin flex-negate'>Donate By Mail<i class="fa fa-envelope-open-o" aria-hidden="true"></i></button></a>
        </div>

        <div class='single-item slider-pull-box'>
            <div>
                <img data-lazy='/assets/images/carousels/13.jpg' />
            </div>
            <div>
                <img data-lazy='/assets/images/carousels/15.jpg' />
            </div>
            <div>
                <img data-lazy='/assets/images/carousels/6.jpg' />
            </div>
            <div>
                <img data-lazy='/assets/images/carousels/17.jpg' />
            </div>
        </div>

        <div class='container'>
            <p><span class="title blue">History:</span> &nbsp;Boys & Girls Clubs of Greater Houston is the region’s leading youth-development organization. Since our beginning in 1952 as The Variety Boys Club, we’ve achieved an enviable record of creatively engaging, educating and empowering low-income youth in ways that improve their chances of achieving and sustaining academic and economic success.</p>
            <p>Our vision is to put success within reach for our Club members and keep them on track to graduate from high school.  We help them realize a positive plan for the future that includes good character, citizenship, and a healthy lifestyle.</p>
        </div>
    </div>

    <div class='container'>
        <p>Over 11,000 youth ages 6 to 17 walk through our doors each year for our after school and summer programs. BGCGH is a safe haven for kids  who commonly live in the midst of chaotic, dangerous neighborhoods and have limited positive relationships.  At our Clubs, youth are provided meals, strong role models, homework assistance, organized athletics, character development and access to the arts. At our Clubs, there’s an opportunity for every kid to get involved and learn something new.</p>
        <p>None of our work would be possible without the vision of our founders, Paul Boesch, Eddy Scurlock, Bob Smith and George Strake, Sr., and the commitment of our dedicated Board of Trustees, Leadership Team, full- and part-time employees and our more than 800 corporate and individual volunteers. A private, nonprofit organization, Boys & Girls Clubs of Greater Houston relies on private, corporate, individual and United Way funding to fill the gap between membership dues of just $5.00 per child per year and our operational expenses.</p>
    </div>


</section>

@Html.Partial("_donateMonthly")