﻿
@{
    ViewBag.Title = "News And Events";
    ViewBag.Description = "We host a variety of events for club members, volunteers and donors. Find out how you can get involved and support area youth.";
}
<section class='copyLayout paddingTop calendar-page'>
    <div class='outer-container'>
        <img class='scriptWord' src='~/assets/images/generosityWhiteBG.png' />
        <div class='container contactFlex'>
            <div class='flexSeperator'>
                <h2 class='blue'>News & Events</h2>
                <h2>2021 Great Futures Dinner</h2>
                <p>Honoring Sysco and The Dobson Foundation</p>
                <p>
                    <span class="boldBlue">Thursday, October 21, 2021</span><br />
                    Live Program to begin at 7:00 p.m.
                </p>
                <p>
                    <span class="boldBlue">Chair</span><br />
                    Cynthia Sanford
                </p>
                @*<p>
                    <span class="boldBlue">Keynote Speaker</span><br />
                    Evander Holyfield
                </p>*@
                <p>
                    <span class="boldBlue">Hilton Americas Hotel</span><br />
                    Visit our event website at <a href="https://bgcgh.home.qtego.net/" target="_blank">https://bgcgh.home.qtego.net/</a> for more information or to view the live event.
                </p>
                <p>
                    <span class="boldBlue">About The Great Futures Dinner</span><br />
                    Join us as we celebrate Sysco and The Dobson Foundation for their partnership with Boys & Girls Clubs of Greater Houston! The Great Futures Dinner is the premier annual fundraiser of Boys & Girls Clubs of Greater Houston. This even showcases how youth are positively impacted by our Clubs every day and how the Clubs have helped them overcome seemingly insurmountable obstacles.

                <p>
                    While this event is currently scheduled to be held in person utilizing the latest COVID-19 guidelines set forth by the CDC and health department, we will continue to monitor the situation, and will transition to a virtual event if necessary. We are truly grateful for the support of our community and hope you will join us!

                    For more information or to sponsor the event, please contact Sarah Burns at <a href="sburns@bgcgh.org." target="_blank">sburns@bgcgh.org.</a>
                </p>
                <p>
                    In response to guidelines and information from city, state, and federal officials concerning COVID-19, Boys & Girls Clubs of Greater Houston has transitioned the Great Futures Dinner into a virtual event. This decision was made in the best interest of the safety and well-being of our members, staff, donors and guests. We are truly grateful for the support of our community and hope you can join us!
                </p>
                @*<p>We are also excited to announce this year’s dinner will feature <span class="boldBlue">Evander Holyfield</span>, retired boxing Heavyweight Champion, as guest speaker. Mr. Holyfield is an alumnus of the Boys & Girls Clubs and will be sharing his personal story of how the Clubs have impacted his life.</p>
                <p>Typically, this event is held in the fall. However, given that two of the past three years have had weather related issues on or close to the event during this timeframe, we made the decision to move the event to the spring starting in 2020. We hope you can join us for this amazing night!</p>*@
                <a class="btnAlternate btnMargin" href="~/assets/pdf/2020_GFD_Sponsor_Form_Virtual.pdf" target="_blank">Sponsor a Table<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                @*<a class="btnAlternate btnMargin" href="~/assets/pdf/Auction_Donation_Form_2020.pdf" target="_blank">Donate an Auction Item<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>*@
            </div>

            @* <p><strong>For sponsorship opportunities, contact:</strong></p> *@

            <div class='card-container'>
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Sarah Burns</span>
                        <p>Development Manager – Special Event</p>
                    </div>
                    <div class='card-action'>
                        <span class='tooltipContainer'>
                            <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="tooltip">Copy to clipboard</span>
                        </span>
                        <textarea class='email'>sburns@bgcgh.org</textarea>
                        @* <a href="tel:7134002160"><i class="fa fa-phone left-of" aria-hidden="true"></i>713-400-2160</a> *@
                    </div>
                </div>
            </div>
        </div>

        <hr class='newsHR' />

        <div class='container contactFlex'>
            <div class='flexSeperator flex-right'>
                <h2 class="flex-right">6th Annual Boys & Girls Clubs Sporting Clays Tournament</h2>

                <p>
                    <span class="boldBlue">Benefiting Fort Bend, Galveston and Wharton Clubs</span>

                </p>

                <p>
                    <span class="boldBlue">
                        Friday, November 19, 2021
                    </span><br />
                    Breakfast and Registration 9:00 a.m.<br />
                    Shoot Begins 10 a.m.

                </p>

                <p>
                    <span class="boldBlue">Greater Houston Sports Club</span><br />
                    6700 McHard Rd<br />
                    Houston, TX 77053<br />
                </p>
                <p class="flex-right">
                    The 6th Annual Boys & Girls Clubs Sporting Clays Tournament is your opportunity to support a worthy cause while participating in a fun and challenging sporting

                    clay event! This event raises critical funds to support our Fort Bend, Galveston and Wharton Clubs and ensures they will continue to be accessible to the youth who need us the most. To sponsor a team, complete the sponsorship form below and send to Sarah Burns at <a href="mailto:sburns@bgcgh.org">sburns@bgcgh.org</a>. We hope you can join us!
                </p>
                <a class='btnAlternate btnMargin' href='~/assets/pdf/2021 Sporting Clays Sponsorship Form.pdf' target='_blank' style="margin-bottom:5px;">Sponsorship Form<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            </div>
            <div class='card-container'>
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Sarah Burns</span>
                        <p>Development Manager – Special Event</p>
                    </div>
                    @* <div class="card-action">
                      <a href="mailto:ncantu@bgcgh.org" target="_blank"><i class="fa fa-envelope left-of" aria-hidden="true"></i>ncantu@bgcgh.org</a>
                      <a href="tel:2812327632" target="_blank"><i class="fa fa-phone left-of" aria-hidden="true"></i>281-232-7632</a>
                    </div> *@
                    <div class='card-action'>
                        <span class='tooltipContainer'>
                            <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="tooltip">Copy to clipboard</span>
                        </span>
                        <textarea class='email'>sburns@bgcgh.org</textarea>
                        @*<a href="tel:7134002160"><i class="fa fa-phone left-of" aria-hidden="true"></i>713-400-2160</a>*@
                    </div>
                </div>
            </div>
        </div>

        @*<hr class='newsHR' />*@

        @*<div class='container contactFlex'>
            <div class='flexSeperator'>
                <h2>Pulling for Kids! 5th Annual Boys & Girls Clubs Sporting Clays Tournament</h2>
                <p>
                    <span class="boldBlue">Friday, November 20, 2020</span><br />
                    Breakfast and Registration 9:00 a.m.<br />
                    Shoot Begins 10 a.m.<br />
                </p>
                <p>
                    <span class="boldBlue">Greater Houston Sports Club</span><br />
                    6700 McHard Rd<br />
                    Houston, TX 77053<br />
                </p>
                <p>The 5th Annual Boys & Girls Clubs Sporting Clays Tournament is your opportunity to support a worthy cause while participating in a fun and challenging sporting clay event! This event raises critical funds to support our 23 Clubs across Greater Houston and helps to ensure that our Clubs will continue to be accessible to the youth who need us the most. To sponsor a team, complete the sponsorship form below and send to Sarah Burns at <a href="mailto:sburns@bgcgh.org">sburns@bgcgh.org</a>. We hope you can join us!</p>
                <a class='btnAlternate btnMargin' href='~/assets/pdf/2021 Sporting Clays Sponsorship Form.pdf' target='_blank' style="margin-bottom:5px;">Sponsorship Form<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>


            </div>



            <div class='card-container'>
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Sarah Burns</span>
                        <p>Development Manager – Special Event</p>
                    </div>
                    <div class='card-action'>
                        <span class='tooltipContainer'>
                            <span class="phone copyButton"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="tooltip">Copy to clipboard</span>
                        </span>
                        <textarea class='email'>sburns@bgcgh.org</textarea>

                    </div>
                </div>
            </div>
        </div>*@
    </div>

    @*<hr class='newsHR' />

    <div class='outer-container'>
        <div class='container contactFlex'>
            <div class='flexSeperator'>
                <h2>Behind the Blue Door</h2>
                <p>Learn about upcoming events and important initiatives of the Boys &amp; Girls Clubs of Greater Houston in our quarterly e-newsletter.</p>
                <a class="btnAlternate btnMargin" href="~/assets/pdf/2019-June-Newsletter.pdf" target="_blank">June 2019 Newsletter<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>*@


    <div class='single-item slider-pull-box above-calendar'>
        <div>
            <img data-lazy='/assets/images/carousels/7.jpg' />
        </div>
        <div>
            <img data-lazy='/assets/images/artsAndCrafts.jpg' />
        </div>
        <div>
            <img data-lazy='/assets/images/carousels/3.jpg' />
        </div>
        <div>
            <img data-lazy='/assets/images/carousels/11.jpg' />
        </div>
    </div>
    <div class='pull-box calendar-box'>
        <img src='/assets/images/logo.png' />
        <div id='calendar'>
            <div class='nav-anchor' id='calendarLink'></div>
        </div>
    </div>


</section>
@Html.Partial("_donateMonthly")

@section scripts {
    <script src="~/assets/js/moment.js"></script>
    <script src="~/assets/js/fullcalendar.js"></script>
    <script src="~/assets/js/gcal.min.js"></script>
    <script>
  $('#calendar').fullCalendar({

        googleCalendarApiKey: 'AIzaSyDyjor1ZQm14ieDIjhJaKPgZt4veQRDJl4',
        events: {
            googleCalendarId: 'bgclubsgh@gmail.com',
            color: 'yellow',   // an option!
            textColor: 'black' // an option!
        },
        eventLimit: true, // allow "more" link when too many events
        navLinks: true,
        header: {
  				left: 'prev,next today',
  				center: 'title',
  				right: 'month,basicWeek,basicDay'
  			}
    })
    </script>
}
