﻿@{
    ViewBag.Title = "Our Clubs";
    ViewBag.Description = "Our mission is to inspire and enable local youth to realize their full potential as productive, responsible and caring citizens.";
}

<style>


    @@media only screen and (min-width : 1300px) {

        .specialButton4 {
            width: 306px;
        }
    }
</style>
<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <img class='scriptWord' id='mapAnchor' src='~/assets/images/ourClubs.png' />
        <div class='container'>
            <div class='nav-anchor' id='locations'></div>
            <h2>Our Clubs</h2>
            <p>Our Clubs offer high-quality programs, nutritious meals, sports leagues, caring staff and volunteers, and unique opportunities and experiences for each child and teen that walks through our doors. Check out our locations below!</p>
            <p class="title blue">Clubs throughout Greater Houston!</p>
            <p>If you would like your child to join a Club, please complete a Membership Application and submit the application and membership fee to the Club Director upon registration. Please contact your Club of interest for membership fee information.</p>
            <a class='btnAlternate' href='/assets/pdf/Membership-Application.pdf' target='_blank'>Membership Application<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            <a class='btnAlternate' href='/assets/pdf/Membership-Application-Spanish.pdf' target='_blank'>Solicitud de Membresía<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a><br class="btnBreak" />
            <a class='btnAlternate membershipBtn' href='~/assets/pdf/openclose6-8.pdf' target='_blank'>Our Summer Locations<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            <a class='btnAlternate specialButton4' href='~/assets/pdf/English_Parent_Handbook-5_10_2020.pdf' target='_blank'>Parent Handbook<i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>

            @Html.Partial("_googleMap")

        </div>
    </div>

</section>

@Html.Partial("_donateMonthly")
@section scripts {
    @Html.Partial("_GoogleMapsAPI")
    <script src="~/assets/js/map.js"></script>
}
