﻿
@{
    ViewBag.Title = "Summer Learning Loss";
}

<section class='copyLayout paddingTop'>
    <div class='outer-container'>
        <div class='container'>
            <div class='nav-anchor' id='register'></div>
            <h2>Summer Learning Loss Quiz</h2>
            <div class="quizz-container" data-width="100%" data-iframe-title="QUIZ: Quiz: Suprising Facts on Summer Learning Loss" data-height="auto" data-quiz="418203"></div>
        </div>
    </div>
</section>

<script src="//dcc4iyjchzom0.cloudfront.net/widget/loader.js" async></script>