﻿#cookieConsent.hidden{
  display: none;
}
.navbar button {
  width: auto
}

.navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

  .navbar-right .btn {
    font-size: 18px;
    margin: 5px;
    padding: 10px 15px;
  }

.container-navbar {
  padding-bottom: 10px
}

.navbar-collapse.show {
  display: block
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent
}

@media (min-width:768px) {
  .container-navbar {
    padding: 10px 20px
  }

  .navbar {
    border-radius: 4px
  }

  .navbar-header {
    float: left
  }
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1)
}

  .navbar-collapse.in {
    overflow-y: auto
  }

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 340px
}

@media (max-device-width:480px) and (orientation:landscape) {
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 200px
  }
}

@media (min-width:768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none
  }

    .navbar-collapse.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important
    }

    .navbar-collapse.in {
      overflow-y: visible
    }

  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0
  }

  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container-navbar > .navbar-collapse, .container-navbar > .navbar-header {
    margin-right: 0;
    margin-left: 0
  }

  .navbar-static-top {
    border-radius: 0
  }
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px;
  font-size: 18px;
  line-height: 20px
}

  .navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none
  }

  .navbar-brand > img {
    display: block
  }

@media (min-width:768px) {
  .navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 0
  }

  .navbar > .container-fluid .navbar-brand, .navbar > .container-navbar .navbar-brand {
    margin-left: -15px
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px
}

  .navbar-toggle:focus {
    outline: 0
  }

  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
  }

    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 4px
    }

.navbar-nav {
  margin: 7.5px -15px
}

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
  }

@media (max-width:767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
  }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
      padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu > li > a {
      line-height: 20px
    }

      .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image: none
      }
}

@media (min-width:768px) {
  .navbar-toggle {
    display: none
  }

  .navbar-nav {
    float: left;
    margin: 0
  }

    .navbar-nav > li {
      float: left
    }

      .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px
      }
}

.navbar-form {
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
  margin: 8px -15px
}

@media (min-width:768px) {
  .navbar-form .form-control-static, .navbar-form .form-group {
    display: inline-block
  }

  .navbar-form .control-label, .navbar-form .form-group {
    margin-bottom: 0;
    vertical-align: middle
  }

  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle
  }

  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle
  }

    .navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
      width: auto
    }

    .navbar-form .input-group > .form-control {
      width: 100%
    }

  .navbar-form .checkbox, .navbar-form .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle
  }

    .navbar-form .checkbox label, .navbar-form .radio label {
      padding-left: 0
    }

    .navbar-form .checkbox input[type=checkbox], .navbar-form .radio input[type=radio] {
      position: relative;
      margin-left: 0
    }

  .navbar-form .has-feedback .form-control-feedback {
    top: 0
  }

  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
  }
}

@media (max-width:767px) {
  .navbar-form .form-group {
    margin-bottom: 5px
  }

    .navbar-form .form-group:last-child {
      margin-bottom: 0
    }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-radius: 4px 4px 0 0
}

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px
}

  .navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px
  }

  .navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px
  }

.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px
}

@media (min-width:768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px
  }

  .navbar-left {
    float: left !important
  }

  .navbar-right {
    float: right !important
  }

    .navbar-right ~ .navbar-right {
      margin-right: 0
    }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7
}

  .navbar-default .navbar-brand {
    color: #777
  }

    .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
      color: #5e5e5e;
      background-color: transparent
    }

  .navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
    color: #777
  }

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
      color: #333;
      background-color: transparent
    }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #e7e7e7
  }

  .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:focus, .navbar-default .navbar-nav > .disabled > a:hover {
    color: #ccc;
    background-color: transparent
  }

  .navbar-default .navbar-toggle {
    border-color: #ddd
  }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: #ddd
    }

    .navbar-default .navbar-toggle .icon-bar {
      background-color: #888
    }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: #e7e7e7
  }

@media (max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777
  }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #333;
      background-color: transparent
    }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #555;
    background-color: #e7e7e7
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #ccc;
    background-color: transparent
  }
}

.navbar-default .navbar-link {
  color: #777
}

  .navbar-default .navbar-link:hover {
    color: #333
  }

.navbar-default .btn-link {
  color: #777
}

  .navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
    color: #333
  }

  .navbar-default .btn-link[disabled]:focus, .navbar-default .btn-link[disabled]:hover, fieldset[disabled] .navbar-default .btn-link:focus, fieldset[disabled] .navbar-default .btn-link:hover {
    color: #ccc
  }

.navbar-inverse {
  background-color: #222;
  border-color: #080808
}

  .navbar-inverse .navbar-brand {
    color: #9d9d9d
  }

    .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
      color: #fff;
      background-color: transparent
    }

  .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #9d9d9d
  }

    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
      color: #fff;
      background-color: transparent
    }

  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #080808
  }

  .navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:focus, .navbar-inverse .navbar-nav > .disabled > a:hover {
    color: #444;
    background-color: transparent
  }

  .navbar-inverse .navbar-toggle {
    border-color: #333
  }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
      background-color: #333
    }

    .navbar-inverse .navbar-toggle .icon-bar {
      background-color: #fff
    }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010
  }

  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #080808
  }

@media (max-width:767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d
  }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #fff;
      background-color: transparent
    }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #fff;
    background-color: #080808
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #444;
    background-color: transparent
  }
}

.navbar-inverse .navbar-link {
  color: #9d9d9d
}

  .navbar-inverse .navbar-link:hover {
    color: #fff
  }

.navbar-inverse .btn-link {
  color: #9d9d9d
}

  .navbar-inverse .btn-link:focus, .navbar-inverse .btn-link:hover {
    color: #fff
  }

  .navbar-inverse .btn-link[disabled]:focus, .navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:focus, fieldset[disabled] .navbar-inverse .btn-link:hover {
    color: #444
  }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto
}

.collapse {
  display: none
}

  .collapse.in {
    display: block
  }

.navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before {
  display: table;
  content: " "
}

.navbar-collapse:after, .navbar-header:after {
  clear: both
}
