/*
 * Core styles for PriorityNav.js
 * These styles are not optional and should always be included
 *
 * Free to use under the MIT License.
 * http://twitter.com/GijsRoge
 */
.priority-nav {
  white-space: nowrap;
  /*
    * Makes sure the menu's are inline-block so they don't take up
    * the entire width of its parent. This will break the plugin.
    */
}

.priority-nav > ul {
  display: inline-block;
}

.priority-nav > ul > li {
  display: inline-block;
}

.priority-nav-has-dropdown .priority-nav__dropdown-toggle {
  position: relative;
}

.priority-nav__wrapper {
  position: relative;
}

.priority-nav__dropdown {
  position: absolute;
  visibility: hidden;
}

.priority-nav__dropdown.show {
  visibility: visible;
}

.priority-nav__dropdown-toggle {
  visibility: hidden;
  position: absolute;
  border:none;
  background:transparent;
  outline:none;
  padding:20px;
}
.priority-nav__dropdown-toggle:hover {
  cursor:pointer;
}
.priority-nav__dropdown-toggle:active, .priority-nav__dropdown-toggle:focus {
    border:none;
    background:transparent;
    outline:none;
}
.priority-nav-is-visible {
  visibility: visible;
}

.priority-nav-is-hidden {
  visibility: hidden;
}

.nav .nav_dropdown-toggle {
  position: absolute;
  height: 100%;
  right: 0;
  padding: 0 15px;
  border: 0;
  outline: none;
  background-color: #f57c00;
  color: #fff;
  cursor: pointer;
}
.nav .nav_dropdown-toggle:hover {
  background-color: red;
}
.nav .nav_dropdown-toggle::after {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -16px;
  top: 12px;
  text-align: center;
  background-color: #ef6c00;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  border-radius: 50%;
  border: 3px solid #fff;
  font-weight: bold;
}
.nav .nav_dropdown-toggle button:hover::after {
  transform: scale(1.075);
}

.hamburger {
  position: relative;
  width: 32px;
  height: 4px;
  background: #000;
  margin: auto;
  pointer-events: none;
}
.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 32px;
  height: 4px;
  background: #000;
  pointer-events: none;
}
.hamburger:before {
  top: -8px;
}
.hamburger:after {
  bottom: -8px;
}
