.progressbars {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.progressbars > div {
  height: 20vh;
  width: 100%;
  width: 90%;
}

.progressbars > div > div {
  margin: 20px;
  width: 20%;
  height: 20%;
  position: relative;
}

@media screen and (min0width: 736px) {
  .progressbars > div {
    width: 30%;
    height: 30%;
  }
}

/*# sourceMappingURL=progressBars.css.map */
