* {
	box-sizing: border-box;
}


html, body {
	height: 100%;
	width: 100%;
}

.allowScrollParallax {
	overflow-x: hidden;
	height: 100%;

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		perspective: 300px;
	}
	// -webkit-transform-style: preserve-3d;
	// -moz-transform-style: preserve-3d;
	// -ms-transform-style: preserve-3d;
	// -o-transform-style: preserve-3d;
	// transform-style: preserve-3d;
	@supports (-ms-ime-align:auto) {
		//overflow-x:visible;
		//height:auto;
	}

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		//overflow-x:visible;
		//height:0;
	}

	&.removeParallax {
		overflow-x: visible;
		perspective: none;

		@media screen and (-webkit-min-device-pixel-ratio:0) {
			perspective: none;
		}
	}
}

body {
	position: relative;
	font-size: 16px;
	overflow-x: hidden;

	p {
		font-family: 'EB Garamond', serif;
	}

	h1, h2, h3, a {
		font-family: 'Open Sans', sans-serif;
	}

	h1 {
		font-size: $header-font-size;
	}
}

ol, ul {
	list-style: none;
	padding: 0;
}

.gimme-shadow {
	box-shadow: .25rem .25rem 9px rgba(0,0,0,.24);
}

.m-contentBox {
	width: 100%;
	margin-top: 20px;

	> div > div {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
}



.container {
	position: relative;
	margin: auto;
	width: 90%;

	@media screen and (min-width:1024px) {
		width: 60%;
		max-width: 1200px;
		max-width: 1024px;

		&.mapLocationContainer {
			max-width: 60%;
		}

		.inner-container {
			width: 90%;
			margin: auto;

			@media screen and (min-width:2200px) {
				width: 100%;
			}
		}
	}
}

.wall-container {
	@media screen and (min-width:1024px) {
		max-width: 70%;
		width: 70%;
		margin: auto;
	}

	@media screen and (min-width:1400px) {
		max-width: 60%;
		width: 60%;
	}

	@media screen and (max-width:736px) {
		width: 90%;
		max-width: 300px;
		margin: auto;
		padding-top: 1rem;

		* {
			box-sizing: content-box;
		}
	}
}


@font-face {
	font-family: 'fontello';
	src: url('assets/css/fonts/fontello.eot?14258246');
	src: url('assets/css/fonts/fontello.eot?14258246#iefix') format('embedded-opentype'), url('assets/css/fonts/fontello.woff?14258246') format('woff'), url('assets/css/fonts/fontello.ttf?14258246') format('truetype'), url('assets/css/fonts/fontello.svg?14258246#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

.demo-icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
	/* You can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fullWidth {
	width: 100% !important;
}

.coronaOverwrite {

	@media screen and (min-width:1024px) {
		width: 100%;
	}

	.btn {
		display: block;
		margin: 10px 0;
		font-size: 17px;

		@media screen and (min-width:1024px) {
			display: inline-block;
		}
	}
}

.coronaOverwriteWidth {
	width: 100%;

	.coronaOverwrite {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.btn {
			width: 300px;
			margin: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
