@mixin button($color, $color2) {
  letter-spacing:1px;
    display:inline-block;
    color: $colorWhite;
    background: $color;
    border-color: $color;
    padding: 2.25% 4%;
    // @-moz-document url-prefix() {padding: 2vmin 4.5vmin;} // firefox
    // @supports (-ms-ime-align:auto) {padding: 2vmin 4.5vmin;} // edge
    font-size: $button-size;
    text-align: center;
    border: 2px solid $color;
    text-transform: uppercase;
    position:relative;
    z-index:1;
    outline:none;
    overflow:hidden;
    font-weight: bold;
      &:after {
        //color:$color;
        //border-radius: 7px;
        content: '';
      	position: absolute;
      	z-index:-1;
      	transition: width 0.3s;
      	width: 0%;
      	height: 100%;
      	top: 0;
      	left: 0;
      	background: $color2;
      }
      &:hover, &:active{
        color: $color;
        &:after {
          width:100%;
        }
      }
      a {
        color:inherit;
        text-decoration:none;
        &:hover, &:active, &:focus {
          text-decoration:none;
        }
      }
}  

@mixin buttonAlternate($color, $color2) {
    display:block;
    color: $color;
    background: transparent;
    padding: 10px 50px;
    font-weight: 400;
    width: auto;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    //border: 2px $color solid;
    border-radius: 7px;
    margin-bottom: 20px;
    text-transform: uppercase;
    transition:all .3s;
    margin:0;
    position:relative;
    z-index:1;
    outline:none;
    overflow:visible;
      &:after {
        content: '';
      	position: absolute;
      	z-index:-1;
      	-webkit-transition: all 0.3s;
      	-moz-transition: all 0.3s;
      	transition: all 0.3s;
      	width: 0;
      	height: 100%;
      	top: 0;
      	left: 0;
      	background: $color;
      }
      &:hover, &:active, &:focus{
        color: $color2;
        &:after {
          width:100%;
        }
      }
      a {
        color:inherit;
        text-decoration:none;
        &:hover, &:active, &:focus {
          text-decoration:none;
        }
      }
}   

.btn .fa, .btnAlternate .fa, .btnPaypal .fa, .btnCulture .fa {
  margin-left:1rem;
  vertical-align:baseline;
}

.btn {@include button($colorGreen, $colorWhite)}

.btnAlternate {@include button($colorOrange, $colorWhite)}

.btnPaypal {@include button($colorPaypalBlue, $colorWhite)}

.btnCulture {@include button(desaturate($colorNeonGreen, 10%), $colorBlueGray)}

.btnBreak {
    display: none;

    @media only screen and (min-width : 737px) {
        display: unset;
    }

    @media only screen and (min-width : 1605px) {
        display: none;
    }
}

.membershipBtn {

    @media only screen and (min-width : 737px) {
        margin-top: 1rem;
    }
}