.card-container {
  display:flex;
  margin:1em 0;
}

.copyLayout .container .card {
    //width:100%;
    margin:0;
    display:flex;
    flex-flow:column wrap;
    @media screen and (max-width:736px){
      width:100%;
    }
    @media screen and (min-width:736px) {
      //flex-flow:row wrap;
      width:268px;
      min-width:40%;
    }
    .card-content{
      //border-top:1px solid rgba(160, 160, 160, 0.9);
      background:lighten(#59656F, 15%);
      @media screen and (min-width:736px) {
        //min-width:50%;
        //flex-grow:1;
      }
      @media screen and (max-width: 736px) {
        padding:16px 20px;
      }
      padding:20px;
      display:flex;
      flex-flow:column wrap;
      justify-content:space-around;
      align-items:flex-start;
    }
    .card-action {
      padding:16px 20px;
      display:flex;
      flex-flow:row wrap;
      justify-content:space-between;
      align-items:flex-start;
      .tooltipContainer {
        //flex-grow:1;
        @media screen and (max-width: 736px) {
          font-size:inherit;
          order:2;
          margin-left:auto;
          margin-right:0;
          text-align:right;
        }
        // .tooltip {
        //   @media screen and (max-width: 736px) {
        //     left:-50vw;
        //   }
        // }
      }
      textarea {
        //line-height:1;
        width:auto;
        color:$card-link-color;
        &.lighten {
          color:$card-link-color-light;
          transition:color .2s ease;
        }
        flex-grow:1;
        text-align:right;
        margin-top:.5rem;
        font-size:$p-smaller-size;
        display:inline-block;
        vertical-align:middle;
        @media screen and (max-width:1025px){
          font-size:.9rem;
        }
        @media screen and (max-width: 736px) {
          text-align:left;
        }
      }
      .phone.copyButton{
          margin-top:0;
          .fa{
            color:$card-link-color;
            margin:0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            vertical-align: top;
            border: 2px solid #ffab40;
            border-radius: 50%;
            &:hover {
              color:$card-link-color-light;
              border-color:$card-link-color-light;
              transition:all .2s ease;
            }
            @media screen and (max-width:736px){
              text-align:right;
            }
          }
          flex-grow:1;
          font-size:$p-smaller-size;
          @media screen and (max-width:1025px){
            font-size:.9rem;
          }
      }
      a {
        color:$card-link-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          color:$card-link-color-light;
          transition:color .2s ease;
          .fa {
            color:$card-link-color-light;
            border-color:$card-link-color-light;
            transition:color .2s ease;
          }
        }
        .fa {
          color:$card-link-color;
          &:hover {
            color:$card-link-color-light;
            transition:color .2s ease;
          }
        }
      }
    }
  .card-title {
    font-size:$p-title-text;
    font-weight:bold;
    margin:0;
    margin-bottom:10px;
    @media screen and (max-width:1025px){
      font-size:1rem;
      margin-bottom:0;
    }
  }
  p {
    font-family:'Open Sans', sans-serif;
    color:inherit;
    font-size:$p-small-size;
    margin:0;
    font-weight:400;
    width:100%;
    text-align:left;
    @media screen and (max-width:1025px){
      font-size:.9rem;
    }
  }
  .phone{
    i.fa-envelope {
        font-size:.8rem;
      }
  }
  i, i.fa-envelope {
      font-size:.9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      vertical-align: top;
      border: 2px solid $card-link-color;
      border-radius: 50%;
      @media screen and (max-width: 736px) {
        font-size:inherit;
        order:2;
        margin-left:auto;
        margin-right:0;
        text-align:center;
      }
  }
  a {
    line-height:1;
    display:block;
    margin:0;
    width:100%;
    display:flex;
    font-size:$p-smaller-size;
    @media screen and (max-width:1025px){
      font-size:.9rem;
    }
    @media screen and (max-width:736px){
      order:3;
      margin:.5rem 0;
    }
    &:last-of-type {
      margin-bottom:0;
    }
    @-moz-document url-prefix() {
      margin-top:-.5rem;
    }
  }
  .grey {
    background:lighten(whitesmoke, 2%) url("../images/bg.png");
  }
  @media screen and (min-width: 500px){
    //width:50%;
    //min-width:430px;
  }
  @media screen and (min-width: 1024px){
    //width:33%;
    //min-width:430px;
  }
}

.blue-grey.darken-1 {
  background:#59656F;
}
