.checkbox-custom {
    opacity: 0;
    position: absolute;
}  
.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    align-self:flex-start;
    cursor: pointer;
    font-size:$p-primary-size;
    margin-bottom:2.5rem;
    // /@media screen and (max-width:736px) {margin-bottom:0;}
    line-height:1.5;
    @media screen and (max-width:736px) and (orientation:landscape) {
      margin-bottom:1rem;
      font-size:.8rem;
    }
}
.checkbox-custom-label {
    position: relative;
}
.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    margin-bottom:35px;
    margin-top:2px;
    text-align: center;
    float:left;
    line-height:1;
    @media screen and (max-width:736px) and (orientation:landscape) {
      margin-bottom:0;
    }
}
.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: $colorPaypalBlue;
    color: #fff;
}
.checkbox-custom:focus + .checkbox-custom-label {
  outline: none;
}
