@media screen and (min-width: 768px){
  .container.align-to-flex {
    button:not(.flex-negate) a.btn:not(.flex-negate) {
      width:40%;
      max-width:400px;
      margin-top:2rem;
      &.cardMatch {
        width:40%;
        max-width:400px;
        margin-top:2rem;
      }
    }
  }
  .container.contactFlex {
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items:flex-start;
    width:80%;
    max-width:80%;
    @media screen and (min-width: 1024px){
      width:60%;
      max-width:60%;
    }
    margin:auto;
    margin-bottom:5rem;
    margin-top:3.5rem;
    .flexSeperator{
      width:50%;
    }
    h2 {
      width:100%;
      margin-top:0;
      &:first-of-type {
        margin-top:0;
      }
    }
    .card-container {
      width:40%;
      max-width:400px;
      margin:0;
      align-self:center;
      &.flex-start {
        align-self:flex-start;
        margin-top:2.5rem;
      }
      .card {
        width:100%;
        max-width:100%;
        p {
          width:100%;
        }
      }
    }
    .flex-right {
      order:2;
    }
  }
}

@media screen and (min-width: 1440px){
  .copyLayout{
    .container.align-to-flex {
      p {
        max-width:1024px;
      }
      max-width:1200px;
      // @media screen and (min-width:768px) and (max-width:1025px){
      //   margin-left:10%;
      // }
      button:not(.flex-negate) {
        width:30%;
        min-width:30%;
        max-width:400px;
        margin-top:2rem;
        &.cardMatch {
          width:30%;
          min-width:30%;
          max-width:400px;
          margin-top:2rem;
        }
      }
    }
    .container.contactFlex {
      display:flex;
      flex-flow: row wrap;
      justify-content:space-between;
      align-items:flex-start;
      width:60%;
      max-width:1200px;
      // /margin-left:20%;
      @media screen and (min-width:768px) and (max-width:1025px){
        width:80%;
        max-width:80%;
      }
      margin:auto;
      margin-bottom:5rem;
      margin-top:3.5rem;
      .flexSeperator{
        width:60%;
      }
      h2 {
        width:100%;
        margin-top:0;
        &.flexRight {
          //margin-left:45%;
        }
        &:first-of-type {
          //margin-top:0;
        }
      }
      .card-container {
        width:30%;
        max-width:400px;
        margin:0;
        align-self:center;
        &.flex-start {
          align-self:flex-start;
          margin-top:3rem;
          align-self:center;
          margin-top:0;
        }
        .card {
          width:100%;
          max-width:100%;
          p {
            width:100%;
          }
        }
      }
      button:not(.flex-negate) {
        width:auto;
        min-width:30%;
      }
      .flex-right {
        order:2;
      }
    }
  }
}
