.emailSignup {
  position:relative;
  padding:4rem 0;
  background:#e7e7e7 url("../images/signupBG.png") no-repeat right bottom;
  background-size:25%;
  @media screen and (min-width:2000px) {
    background-size:20%;
   }
  .container {
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-self:center;
    .inner-container{
      display:flex;
      flex-flow:row wrap;
      justify-content:center;
      align-self:center;
      h1 {
        font-weight:100;
        margin-top:0;
        margin-bottom:.5rem;
        text-align:center;
      }
      p {
        @media screen and (orientation:landscape) {text-align:center;}
        font-size:$p-primary-size;
        line-height:1.5;
      }
      form {
        //margin:auto;
        min-width:90%;
        @media screen and (min-width:768px) {
          min-width:60%;
        }
        border:none;
        display:flex;
        flex-flow:row nowrap;
        justify-content: center;
      }
      input {
        border:none;
        width:100%;
        @media screen and (min-width:1024px) {
          width:80%;
        }
        display:inline-block;
        height:40px;
        &.submit {
          width:7%;
          background:transparent;
          font-weight:bold;
        }
        &.email {
          background:$colorSubmitYellow;
          text-align:center;
          font-weight:bold;
          text-transform:uppercase;
        }
      }
      input[placeholder] {
        font-weight:bold;
        text-align:center;
        text-transform:uppercase;
      }
    }
  }
}

#kobe {
    display: block;
    text-align: center;

    h1 {
        margin: .70em auto;
    }

    img {
        display: block;
        width: 80%;
        max-width: 500px;
        margin: 10px auto;
    }

    p {

        a {
            font-family: inherit;
            color: #146dbb;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .btn {
        margin: 0 auto;
    }
}


.donateMonthly {
    position:relative;
    padding:6rem  0;
    background:#16719c url("../images/donateMonthlyBG.png") no-repeat 80% top;
    background-size:100%;
    background-size:cover;
    @media screen and (min-width:737px) {
      padding:10rem  0;
    }
    .container {
        display:flex;
        flex-flow:row wrap;
        justify-content:center;
        align-self:center;
        .inner-container{
            display:flex;
            flex-flow:row wrap;
            justify-content:center;
            align-self:center;
            max-width:90%;
            margin:0;
            @media screen and (min-width:600px){
              max-width:400px;
            }
            @media screen and (min-width:1025px){
                width:100%;
                max-width:500px;
            }
            h2 {
                font-family: Calibri, Helvetica, Arial, sans-serif;
                font-weight:bold;
                color: $colorWhite;
                text-transform: uppercase;
                margin-top:0;
                margin-bottom:0;
                text-align:left;
                font-size:1em;
                @media screen and (min-width:767px){
                  text-align:left;
                  font-size:1.5em;
                }
                @media screen and (orientation:landscape) {text-align:left;}
            }
            p {
                @media screen and (orientation:landscape) {text-align:left;}
                font-size:$p-small-size;
                font-family: Calibri, Helvetica, Arial, sans-serif;
                line-height:1.5;
                margin:1.25rem 0 1.75rem;
                color: $colorWhite;
            }
            form {
                min-width:100%;
                min-height:40px;
                border:none;
                display:flex;
                flex-flow:row nowrap;
                justify-content: center;
            }
            input, button {
                border:none;
                border-radius:0;
                width:100%;
                @media screen and (min-width:1024px) {
                    width:60%;
                }
                display:inline-block;
                &.submit {
                    font-size:$p-smaller-size;
                    font-weight:bold;
                    text-align:center;
                }
                &.email {
                    background:$colorWhite;
                }
            }
            input[placeholder] {
                font-weight:bold;
                text-align:center;
                text-transform:uppercase;
            }
        }
    }
}

#validation-summary-errors {
  position:absolute;
  height:0;
  width:0;
  top:-100px;
}
