input,
textarea,
select,
button,
label {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}
button {
  width:auto;
}
input, textarea {
  height: 36px;
  border-radius: 0;
  color: darken($colorGray, 10%);
}

textarea {
  height: 10em;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="url"], textarea {
  padding: 5px 10px;
}

.selectWrapper {
  $localHeight: 36px;
  border: 0;
  overflow: hidden;
  position: relative;
  vertical-align: bottom;

  &:before {
    content: '';
    position: absolute;
    right: 10px;
    top: 15px;
    height: 0;
    width: 0;
    border-top: 8px solid $colorGray;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    color: darken($colorGray, 10%);
    z-index: 1;
    pointer-events: none;
  }

  &:after {
    content: '';
    width: $localHeight;
    height: $localHeight;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
  }

  select::-ms-expand {
    display: none;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    line-height: 36px;
    height: $localHeight;
    border-radius: 0;
    outline: 0;
    padding-left: 10px;
    margin: 0;
    appearance: none;
    cursor: pointer;
    color: darken($colorGray, 10%);
    box-shadow: inset 0 0 10px 0 rgba($colorGray, .3);
  }
}

input,
select,
textarea {
  // margin-bottom: 20px;
  border: 1px solid lighten($colorGray, 20%);
  font-color: $colorGray;


  &.error {
    border: 1px solid lighten(red, 20%);
    box-shadow: inset 0 0 10px 0 rgba(red, .3);
  }
}

input[type=checkbox],
input[type=radio] {
  width: auto;
  margin-right: ($hspace / 2);
  vertical-align: text-top;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  border-radius: 0;
  margin: 0;
  margin-right: 8px;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  line-height: 20px;
}

input[type="checkbox"], input[type="radio"] {
  opacity: 0;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
  background-color: $colorYellow;

  ~ label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    padding-left: 40px;

    &:before {
      content: '';
      border: none;
      vertical-align: middle;
      width: 17px;
      height: 17px;
      padding: 2px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 1px;
      background-color: $colorYellow;
    }
  }
}

.valErrors {
  background-color: rgba($colorOrange, .75);
  padding: 10px;
  display: none;
  margin-bottom: 20px;
  border: 1px solid lighten($colorGray, 20%);

  ul {
    margin-bottom: 0;


    li {
      label {
        color: $colorWhite;
        font-weight: 400;
      }
    }
  }
}

input[type="checkbox"]:checked {
  ~ label:after {
    content: '';
    color: $colorDarkBlue;
    width: 4px;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 7px;
    border-bottom: 4px solid $colorDarkBlue;
    border-right: 4px solid $colorDarkBlue;
    transform: rotate(45deg);
  }
}

input[type="radio"] {
  ~ label:before {
    border-radius: 100%;
  }

  &:checked ~ label:after {
    content: '';
    width: .6em;
    height: .6em;
    position: absolute;
    top: .445em;
    left: .4em;
    background-color: $colorWhite;
    border-radius: 100%;
  }
}

//Style Placeholder
input::-webkit-input-placeholder {
  color: $colorGray;
}

input:-moz-placeholder { /* Firefox 18- */
  color: $colorGray;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: $colorGray;
}

input:-ms-input-placeholder {
  color: $colorGray;
}

.ui-datepicker {
  box-shadow: inset 0 0 10px 0 rgba($colorGray, .3);
  border: 1px solid lighten($colorGray, 20%);
  background-color: $colorWhite;

  .ui-datepicker-calendar {
    tbody {
      td {
        a {
          text-align: center;
        }
      }
    }
  }
}

div.validation-summary-valid {
  display: none;
}

div.validation-summary-errors {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #eed3d7;
  border-radius: 4px;
  color: #b94a48;
  background-color: #ede0e0;

  ul {
    list-style-type: disc;
    margin: 14px 0 0 14px;
    text-indent: 0;
  }
}

.input-validation-error{
  border-color: red;
}

.photoContainer {
  .fileUpload {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

    input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

  p {
    font-style: italic;
    font-size: 12px;
  }

  a {
    display: none;
    cursor: pointer;
  }
}


.btn-upload {
  background-color: #fff;
  color: #8bab1e;
  font-size: 15px;
  font-weight: normal;
  padding: 0 20px;
  margin-left: 0;
  text-transform: none;
  cursor: pointer;
}

// form validation styles
