@import '_variables.scss';

.copyLayout .container .flex-container.cbp-inkind-form {
	position: relative;
	margin-left: -30px;
	margin-right: -30px;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-inkind-form:before,
.cbp-inkind-form:after {
	content: " ";
	display: table;
}

.cbp-inkind-form:after {
	clear: both;
}

.cbp-inkind-column {
	width: 33%;
	padding: 10px 30px;
	float: left;

	hr {
		width: auto;
		margin: 0 0 1rem 0;
	}

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cbp-inkind-form label, .share-padding {
	display: block;
	padding: 40px 5px 5px 2px;
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.share-padding {
	padding-top: 10px;
	padding-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #cacece;
}

.cbp-inkind-form input,
.cbp-inkind-form textarea,
.cbp-inkind-form select {
	font-family: 'Open Sans', Calibri, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.4em;
	padding: 5px 10px;
	color: $colorBlue;
	display: block;
	width: 100%;
	background: transparent;

	&::placeholder {
		color: rgba($colorBlue, .5);
	}
}

.cbp-inkind-form select {
	cursor: pointer;
}

.cbp-inkind-form input[type="date"] {
	color: rgba($colorBlue, .5);
}

.cbp-inkind-form input,
.cbp-inkind-form textarea {
	border: 3px solid #fff;
}

.cbp-inkind-form textarea {
	min-height: 102px;
}

.cbp-inkind-form input:focus,
.cbp-inkind-form textarea:focus,
.cbp-inkind-form label:active + input,
.cbp-inkind-form label:active + textarea {
	outline: none;
	border: 3px solid lighten($colorBlue, 5%);
}

.cbp-inkind-form select:focus {
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: $colorBlue;
	font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: $colorBlue;
	font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: $colorBlue;
	font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: $colorBlue;
	font-style: italic;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 40px;
	padding-left: 30px;
	clear: both;
}

.cbp-inkind-form input.cbp-mc-submit {
	background: $colorBlue;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}

.cbp-inkind-form input.cbp-mc-submit:hover {
	background: #1478b1;
}

@media screen and (max-width: 70em) {
	.cbp-inkind-column {
		width: 50%;
	}

	.cbp-inkind-column:nth-child(n + 3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-inkind-column {
		width: 100%;
		padding: 10px;
	}

	.copyLayout .container .flex-container.cbp-inkind-form {
		margin-left: -10px;
		margin-right: -10px;
	}

	.cbp-mc-submit-wrap {
		padding-left: 10px;
	}
}





label.checkbox-label {
	display: inline;
	cursor: pointer;
}

.cbp-inkind-form input.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
	color: $colorBlue
}


.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	//font-family: Arial, sans-serif;
	//width: 200px;
	position: relative;
	//top: 5px;
	//font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
	margin-right: 2rem;
	font-size: .8rem;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

/* RADIO */

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
	padding: 16px;
}

.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}

.required {
	color: $colorRed;
}

div.validation-summary-valid {
	display: none;
}

div.validation-summary-errors {
	width: 100%;
	padding: 8px 35px 8px 14px;
	margin: 20px 0 0 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #eed3d7;
	border-radius: 4px;
	color: $colorRed;
	background-color: #ede0e0;

	ul {
		list-style-type: disc;
		margin: 14px 0 0 14px;
		text-indent: 0;
	}
}

.input-validation-error {
	border-color: $colorRed !important;
}

/* ------- IGNORE */

#header {
	width: 100%;
	margin: 0px auto;
}

#header #center {
	text-align: center;
}

#header h1 span {
	color: #000;
	display: block;
	font-size: 50px;
}

#header p {
	font-family: 'Georgia', serif;
}

#header h1 {
	color: #892dbf;
	font: bold 40px 'Bree Serif', serif;
}

#travel {
	padding: 10px;
	background: rgba(0,0,0,0.6);
	border-bottom: 2px solid rgba(0,0,0,0.2);
	font-variant: normal;
	text-decoration: none;
	margin-bottom: 20px;
}

#travel a {
	font-family: 'Georgia', serif;
	text-decoration: none;
	border-bottom: 1px solid #f9f9f9;
	color: #f9f9f9;
}

.copyLayout .container .cbp-inkind-column .btnAlternate.cardMatch {
	margin-left: 0;
	width: 100%;

	@media screen and (max-width: 48em) {
		width: 100%;
	}
}



.volunteerform {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    @media only screen and (min-width : 768px) {
        width: 520px !important;
    }

    label {
        display: inline-block;
        padding: 40px 20px 5px 2px;
        width: 100%;

        @media only screen and (min-width: 768px) {
            width: 160px;
            text-align: right;
        }
    }

    input, select {
        display: inline-block;
        width: 100%;

        @media only screen and (min-width: 768px) {
            width: 300px;
        }
    }

    button {
        margin-left: auto !important;
        margin-right: 0 !important;
        width: 300px !important;
    }
}
