.copyLayout .container{
  .flex-container.flex-image-container {
      flex-flow: row wrap;
      justify-content:space-between;
      li {
        margin:0;
      }
      .flex-item {
        width:24%;
        min-width:24%;
        max-width:24%; 
        @media screen and (max-width:768px){
          width:24%;
        }
        @media screen and (max-width:500px){
          width:100%;
          max-width:100%;
        }
        .image-container {
          position:relative;
          box-shadow:1px 1px 6px rgba(0, 0, 0, 0.25);
          &.kevin{ 
            &:before {
                @media screen and (min-width:501px){
                content:'';
                position:absolute;
                height:100%;
                width:50vw;
                left:100%;
                transform:translateX(-100%);
                background:#ffcc00;
                z-index:-1;
                box-shadow:1px 1px 6px rgba(0, 0, 0, 0.25);
              }
            }
            img {
              box-shadow:none;
            }
          }
        }
        .portrait {
          width:100%;
          display:block;
        }
        .fa {
          font-size:1.75rem;
          position:absolute;
          bottom:1rem;
          right:1rem;
          color:white;
          transition:color.33s ease;
        }
        span {
          display:block;
          text-align:center;
          font-family:'Open Sans', sans-serif;
          &.execName {
            font-weight:700;
            font-size:1.2rem;
            margin: 12px 0 4px 0;
          }
          &.title {
            font-weight:400;
            font-size: 15px;
            line-height: 19px;
          }
        }
        .flex-item-inner {
          &:hover {
            cursor:pointer;
            .fa {
              color:#ffcc00;
              transition:color.33s ease;
            }
          }
        }
      }
  }
}



.copyLayout .container {
  .leaderBio {
      margin:0;
      visibility:hidden;
      height:0;
      opacity:0;
      transition:opacity .2s ease;
      &.reveal {
        margin:1.5em 0 1.75em;
        visibility:visible;
        display:flex;
        opacity:1;
        height:auto;
        transition:opacity .2s ease;
      }
      &.desktop{
        @media screen and (max-width:500px){
          display:none;
        }
      }
      &.mobile{
        @media screen and (min-width:501px){
          display:none;
        }
      }
  }
}
