.m-billboard {
  position: relative;
  width: 100%;
  margin-bottom:85px;

  .m-billboard_imageContainer {
    //height: 40vw;
    height: calc(100vh - 72px);
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    display: flex;
    align-items: center;

    p {
      color: $colorWhite;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      font-size: 7vw;
      font-weight: 500;
      letter-spacing: 3px;

      @media only screen and (min-width: 1024px) {
        font-size: 72px;
      }
    }

    span {
      display: block;
      font-weight: 100;
      font-size: 4vw;
      letter-spacing: normal;

      @media only screen and (min-width: 375px) {
        margin: 5px 0;
      }

      @media only screen and (min-width: 425px) {
        margin: 10px 0;
      }
      @media only screen and (min-width: 768px) {
        margin: 30px 0;
        font-size: 3vw;
      }
      @media only screen and (min-width: 1024px) {
        margin: 40px 0;
        font-size: 32px;
      }
    }
  }

  .m-billboard_home {
    background: url(/assets/images/tv.jpg);
    background-position: center 15%;
    background-size:cover;
  }
}
