.copyLayout {
    z-index:0;
    position:relative;
    padding: 12rem 0 6rem 0;
    background:#f0f0f0 url("../images/bodyBottomBGC.jpg") no-repeat right bottom;
    background-size:45%;
    width: 100%;
    @media screen and (min-width:2000px) {
        width: 100%;
    }
    @media screen and (max-width:1023px) {
        &.calendar-page {
            padding-bottom:0;
        }
    }
    @media screen and (max-width:767px) {
        width:100%;
        padding: 7rem 0 3rem 0;
    }
    
    
    .resp-container {
        position: relative;
        overflow: hidden;
        padding-top: 47%;
    }
    .resp-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        border: 0;
    }
}
.copyLayout{
    .container {
        .btn,.btnAlternate, a.btnAlternate, a.btn {
            &.no-margin {
                @media screen and (min-width:737px) and (max-width:1024px){
                    min-width:44%;
                    min-width:50%;
                    &:nth-of-type(2) {
                        margin-bottom:2rem;
                        margin-top:2rem;
                    }
                    //margin-left:50%;
                    //transform:translatex(-50%);
                }
            }
            margin-right:2rem;
            padding: 12px 17px;
            font-size:$p-smaller-size;
            @media screen and (max-width:736px){
                font-size:.8rem;
                width:100%;
                margin-bottom: 7.25%;
                margin-right:0;
                &:first-of-type {
                    margin-bottom:2rem;
                }
            }
        }
        .btnAlternate.cardMatch {
            @media screen and (min-width:768px) {
                width:50%;
                min-width:50%;
            }
            @media screen and (min-width:1024px) {
                width:30%;
                min-width:300px;
            }
        }
        .btnGreen {
            background-color: $colorGreen;
            border-color: $colorGreen;
        }
        .btnGreen:hover {
            color: $colorGreen;
        }
        .btnMargin {
            margin-top: 2rem;
        }
    }

}

.copyLayout{

    /* NEW DONATION PAGE */
    div#bboxdonation_BBEmbeddedForm.BBFormContainer{
        background-color: transparent;
    }

    .BBFormContainer[data-bbox-part-id="4a792a6c-5a8f-49cd-8960-cc0b4619cb46"] .BBFormSectionHeading, .BBFormContainer[data-bbox-part-id='10afd3c9-50fb-43c4-9898-a86bf1950e4b'].BBFormContainer .BBFormSectionHeading label{
        font-family: Calibri, Helvetica, Arial, sans-serif;
        color: $colorOrange;
        font-size: 29px;
        line-height: 34px;
    }

    .BBFormContainer[data-bbox-part-id="4a792a6c-5a8f-49cd-8960-cc0b4619cb46"] .BBDFormSectionComments .BBFormFieldLabel {
        padding: 8px 0 !important;

        @media screen and (max-width: 800px) {
            text-align: left !important;
            margin-left: 0 !important;
        }
    }

    div.BBRecurrenceFieldContainer {
        @media screen and (max-width: 475px) {
            line-height: 45px !important;
        }
    }

    .BBFormContainer[data-bbox-part-id="4a792a6c-5a8f-49cd-8960-cc0b4619cb46"] .BBDFormSectionComments .BBFormTextArea {
        @media screen and (max-width: 800px) {
            text-align: left !important;
            margin-left: 0 !important;
        }
    }

    .BBFormContainer[data-bbox-part-id="4a792a6c-5a8f-49cd-8960-cc0b4619cb46"] .BBFormTextbox, .BBFormContainer[data-bbox-part-id="4a792a6c-5a8f-49cd-8960-cc0b4619cb46"] .BBFormTextArea, .BBFormContainer[data-bbox-part-id="4a792a6c-5a8f-49cd-8960-cc0b4619cb46"] .BBThreeFields .BBFormTextbox, .BBFormContainer[data-bbox-part-id="4a792a6c-5a8f-49cd-8960-cc0b4619cb46"] .BBTwoFields .BBFormTextbox, .BBFormContainer[data-bbox-part-id="4a792a6c-5a8f-49cd-8960-cc0b4619cb46"] .BBDFormSectionComments .BBFormTextArea, .BBFormContainer[data-bbox-part-id="4a792a6c-5a8f-49cd-8960-cc0b4619cb46"] .BBFormSelectListWrapper .BBFormSelectList {

        @media screen and (max-width: 700px) {
            text-indent: 4px !important;
            padding-left: 2px !important;
        }
    }

    .popupResponsive {
        @media screen and (max-width:600px) {
            width: 95% !important;
            left: 10px !important;
        }
    }

    /* END OF NEW DONATION PAGE */


    hr {
        width: 65%;
        margin-top: 8rem;
        position:relative;
        z-index:1;
        &.newsHR {
            margin:6rem auto;
        }
        @media screen and (max-width:736px) {
            margin-top:4rem;
            &.newsHR {
                margin:4rem auto;
            }
        }
        &.special-hr {
            margin-top:0;
        }
    }
    .outer-container {
        position:relative;
        width:100%;
        .scriptWord {
            z-index:-1;
            position:absolute;
            top:0;
            left:0;
            height:300px;
            width:auto;
            opacity:.6;
            transform:translateY(-150px);
            @media screen and (min-width:2000px){
                transform:translate(5vw,-150px);
            }
            @media screen and (max-width:1550px) {
                height:200px;
                transform:translateY(-100px);
            }
            @media screen and (max-width:1000px) {
                height:150px;
                transform:translateY(-75px);
            }
            @media screen and (max-width:767px) {
                height:100px;
                transform:translateY(-50px);
            }
            @media screen and (max-width:550px) {
                height:70px;
                transform:translateY(-48px);
            }
            @media screen and (max-width:360px) {
                height:60px;
                transform:translateY(-48px);
            }
        }
    }

    .distinguished-donors {
        @media screen and (min-width:736px) {
            background:#f0f0f0 url("../images/distinguishedDonorsBG.jpg") no-repeat right bottom;
            //background-size:contain;
        }
        background-size:contain;
        padding-bottom:8rem;
        @media screen and (max-width:736px) {
            padding-bottom:4rem;
        }
    }

}

.copyLayout {
    .container {
        text-align: left;
        width: 60%;

        @media screen and (max-width:1023px) {
            width: 80%;
        }

        h2 {
            font-family: Calibri, Helvetica, Arial, sans-serif;
            font-weight: 300;
            font-size: $header-font-size;

            @media screen and (max-width:1025px) {
                font-size: 1.75rem;
            }

            color: $colorOrange;
            margin: 1em 0;
            text-align: left;
            // &:first-of-type {
            //   margin-top:2em;
            // }
        }

        .blue {
            color: $colorBlue;
        }

        .boldItalic {
            font-weight: bold;
            font-style: italic;
        }

        .titleExec {
            color: $colorBlue;
            font-size: $p-title-text;
            // @media screen and (max-width:1025px) {
            //   font-size:1rem;
            // }
            margin-bottom: 0;
        }

        .titleBoard {
            color: $colorOrange;
            font-size: $p-title-text;
            margin-bottom: 0;
            margin-top: 3rem;
        }

        ul {
            font-size: $p-small-size;

            @media screen and (max-width:1025px) {
                font-size: $p-smaller-size;
            }

            @media screen and (max-width:736px) {
                font-size: 1rem;
            }

            font-family: Georgia, serif;
            line-height: 1.66;
            color: $colorBlack;
            margin-bottom: 1em;
        }

        p {
            font-size: $p-primary-size;

            @media screen and (max-width:1025px) {
                font-size: $p-small-size;
            }

            @media screen and (max-width:736px) {
                font-size: 1rem;
            }

            font-family: Georgia, serif;
            line-height: 1.66;
            color: $colorBlack;
            margin-bottom: 1em;
            // /@media screen and (min-width:1024px){text-align:justify;}
            &.title {
                margin: 1em 0;
                //font-size:$p-larger-size;
                font-weight: bold;
                text-align: left;

                @media screen and (max-width:1025px) {
                    font-size: 1.4rem;
                }
            }
            // @media screen and (min-width:1024px) {
            //   text-align:justify;
            // }
            &.cardMatch {
                @media screen and (min-width:768px) {
                    justify-content: space-between;
                    width: 50%;
                    min-width: 300px;

                    .toggle.fa {
                        padding-right: .5rem;
                    }
                }

                @media screen and (min-width:1024px) {
                    width: 30%;
                }
            }
        }

        a:not(.btnAlternate, .btn, .btnCulture, .btnGreen, .btnMargin, .btnPaypal) {
            color: $colorBlue;
            font-family: inherit;
            text-decoration: none;
            font-weight: 400;
        }

        button a {
            color: inherit;
            font-weight: inherit;
        }
    }
}

.copyLayout {
    .container {
        .flex-container {
            padding: 0;
            margin: 0;
            list-style: none;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            // IE and older Safari have issues with flex-flow so we have to use flex-direction backup
            flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            justify-content: flex-start;
        }
        /*----- THREE COLUMN FLEX -----*/
        .flex-item {
            color: $colorBlack;
            font-size: $p-small-size;
            line-height: 1.1rem;
            text-align: left;
            font-family: Georgia, serif;
            margin-right: auto;
            max-width: 40%;
            min-width: 40%;
            width: 40%;

            @media screen and (min-width:1400px) {
                max-width: 30%;
                min-width: 30%;
                width: 30%;
            }

            &:last-of-type {
                margin-right: 0;
            }

            @media screen and (max-width:767px) {
                width: 100%;
                max-width: 100%;
                min-width: 100%;
            }

            .first {
                order: 1;
            }

            .second {
                order: 2;

                @media screen and (min-width: 768px) {
                    order: 3;
                }
            }

            .third {
                order: 3;

                @media screen and (min-width: 768px) {
                    order: 2;
                }
            }
        }

        .flex-item-inner {
            padding-top: 1.1rem;
            width: 100%;
            color: $colorBlack;
            font-size: $p-small-size;
            line-height: 1.75;
            text-align: left;
            font-family: Georgia, serif;

            @media screen and (max-width:1025px) {
                font-size: .9rem;
            }

            .space-left {
                margin-left: 2.5rem;
            }
        }
        /*----- TWO COLUMN FLEX -----*/
        .flex-item-two {
            color: $colorBlack;
            font-size: $p-small-size;
            line-height: 1.1rem;
            text-align: left;
            font-family: Georgia, serif;
            margin-right: 8%;
            max-width: 23%;
            min-width: 23%;

            @media screen and (min-width:1400px) {
                max-width: 30%;
                min-width: 30%;
            }

            &:last-of-type {
                margin-right: 0;
            }

            @media screen and (max-width:768px) {
                width: 40%;
                max-width: 40%;
            }

            @media screen and (max-width:520px) {
                width: 100%;
                max-width: 100%;
            }
        }
        /*--------------------------*/
        .distinguishedDonors {
            color: $BGCBlue;
            font-weight: bold;
            font-size: $p-title-donors;
            font-family: Georgia, serif;

            @media screen and (max-width:520px) {
                font-size: $p-primary-size;
            }
        }

        .corporateDonorsContainer {
            .flex-item-inner {
                padding-top: 0;
            }

            .donorStatus {
                display: block;
                padding-bottom: 5px;
                margin-top: 0;
            }

            .headlinePaddingBottom {
                display: block;
                padding-bottom: 5px;
            }

            .hideOnMobile {
                display: block;

                @media screen and (max-width:600px) {
                    display: none;
                }
            }
        }

        .boldBlue {
            color: $BGCBlue;
            font-weight: bold;
            font-family: Georgia, serif;
        }

        .annualReportImg {
            opacity: 1;
            width: 45%;
            height: auto;
            margin: 6% 0 0 33%;
        }

        .donorStatus {
            color: $colorOrange;
            font-weight: bold;
            font-size: $p-title-donors;
            font-family: Georgia, serif;
            font-style: italic;
            display: block;
            margin-top: 1rem;

            @media screen and (min-width:736px) {
                margin-top: 0;
                display: initial;
            }
        }

        .name {
            color: $colorBlue;
            font-weight: bold;
        }

        .position {
            color: $colorOrange;
        }

        .company {
            color: $colorBlack;
            font-style: italic;
        }

        .location {
            color: $colorBlue;

            &.headquarters {
                color: $colorNeonGreen;

                .name {
                    color: inherit;
                }

                &:hover .name, &:hover .fa {
                    color: lighten($colorNeonGreen, 15%);
                }
            }

            &:hover .name, &:hover .fa {
                color: lighten($colorBlue, 15%);
                transition: color .2s ease;
            }

            .fa {
                cursor: pointer;
                margin-right: 1rem;
                text-align: center;
                width: 1.5rem;
            }
        }

        .phone {
            color: $colorBlack;
            font-weight: bold;
            margin-top: .5rem;

            .fa {
                color: $colorBlue;
                cursor: pointer;
                margin-right: 1rem;
                text-align: center;
                width: 1.5rem;
                transition: color .2s ease;

                &.fa-envelope {
                    font-size: $p-smaller-size;
                }

                &:hover {
                    color: lighten($colorBlue, 15%);
                }

                &.headquarters {
                    color: $colorNeonGreen;

                    .name {
                        color: inherit;
                    }

                    &:hover .name, &:hover .fa {
                        color: lighten($colorNeonGreen, 15%);
                    }
                }
            }
        }

        .email {
            border: none;
            overflow: auto;
            outline: none;
            background: transparent;
            padding: 0;
            resize: none;
            outline: none;
            margin-top: .175rem;

            @media screen and (max-width:736px) {
                margin-top: .4rem;
            }

            width: calc(100% - 3rem);

            &:active, &:focus {
                border: none;
                overflow: auto;
                outline: none;
                background: transparent;
                padding: 0;
                resize: none;
                outline: none;
            }
        }

        .director {
            color: $colorOrange;
            font-style: italic;

            &.headquarters {
                color: $colorNeonGreen;

                .name {
                    color: inherit;
                }
            }
        }
    }

    .mapLocations {
        .flex-item-inner {
            padding-top: 2.1rem;

            .tooltipContainer .tooltip {
                transform: translate(0,-20px);

                @media screen and (-webkit-min-device-pixel-ratio:0) {
                    transform: translate(calc(-50% + 1rem - 50px),0px);
                }

                @-moz-document url-prefix() {
                    transform: translate(calc(-50% + 1rem - 50px),0px);
                }
            }

            @media screen and (max-width:736px) {
                line-height: 2;
            }

            @media screen and (min-width:737px) {
                min-height: 175px;
            }

            @media screen and (min-width:1024px) {
                min-height: 200px;
            }

            @media screen and (min-width:1400px) {
                min-height: 260px;
            }

            @media screen and (min-width:1700px) {
                min-height: 280px;
            }
        }
    }

    .report-container {
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: space-between;

        @media screen and (min-width:768px) {
            margin-top: 5rem;
        }

        h2 {
            width: 100%;

            @media screen and (min-width:768px) {
                //width:50%;
            }
        }

        button {
            @media screen and (min-width:768px) {
                margin-right: 0;
                max-width: 50%;
                letter-spacing: 0;
                margin-right: auto;
            }
        }

        .annualReportImage {
            margin: 2rem 0;
            width: 100%;
            height: auto;

            @media screen and (min-width:768px) {
                height: auto;
                width: 50%;
                margin-top: -10%;
                margin-left: auto;
                margin-bottom: 0;
            }
        }
    }
}

// COLUMN ORDER FOR BOARD OF DIRECTORS AND EXEC. COMMITTEE
.first {
    order: 1;
}

.second {
    order: 2;

    @media all and (min-width: 768px) {
        order: 3;
    }

    @media all and (min-width: 1400px) {
        order: 2;
    }
}

.third {
    order: 3;

    @media all and (min-width: 768px) {
        order: 2;
    }

    @media all and (min-width: 1400px) {
        order: 33;
    }
}

    .copyLayout {

        .teenTechTitle {
            width: 90%;
            max-width: 200px;
            display: block;
        }

        .teenTechIcons {
            width: 100%;
            max-width: 190px;
            display: block;
            margin: 0 auto;

            @media screen and (max-width:950px) {
                max-width: 120px;
            }
        }

        .teenTechConstruction {
            width: 100%;
            max-width: 1000px;
            display: block;
            margin: 20px 0 20px -30px;

            @media screen and (max-width:900px) {
                margin: 20px auto;
            }
        }

        .teenTechCoordinator {
            width: 100%;
            max-width: 300px;
            display: block;
            margin: 0 auto;

            @media screen and (max-width:900px) {
                max-width: 250px;
            }
        }

        .grayBox {
            width: 100%;
            max-width: 1000px;
            background-color: #e4e4e4;
            margin: 0 0 0 -30px;

            @media screen and (max-width:900px) {
                margin: 0 auto;
            }
        }

        .blueBox {
            display: none;

            @media screen and (max-width:900px) {
                display: block;
                width: 100%;
                max-width: 1000px;
                margin: -15px auto 30px;
                padding: 5px 30px 20px;
                background-color: #0046be;
            }
        }

        .nav-anchor {
            position: absolute;
            top: -150px;

            @media screen and (max-width: 1024px) and (min-width: 768px) {
                top: -200px;
            }
        }


        .techCenterCol {
            .flex-container {
                padding: 0;
                margin: 0;
                max-width: 1700px;
                list-style: none;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row wrap;
                justify-content: space-around;
            }

            .flex-item1 {
                padding: 25px 20px 0 20px;
                margin-top: 115px;
                width: 18%;
                height: auto;
                color: #ffffff;
                background-color: #0046be;

                @media screen and (max-width:1300px) {
                    padding: 25px 10px 0 10px;
                }

                @media screen and (max-width:1025px) {
                    margin-top: 85px;
                }

                @media screen and (max-width:900px) {
                    display: none;
                }

                p {
                    font-size: $p-primary-size;

                    @media screen and (max-width:1300px) {
                        font-size: $p-small-size;
                    }

                    font-family: Georgia, serif;
                    line-height: 1.3;
                    color: $colorWhite;
                    margin-bottom: 1em;
                    // /@media screen and (min-width:1024px){text-align:justify;}
                    &.title {
                        margin: 1em 0;
                        //font-size:$p-larger-size;
                        font-weight: bold;
                        text-align: left;

                        @media screen and (max-width:1025px) {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

            .flex-item2 {
                padding: 0 50px 0 30px;
                width: 82%;
                height: auto;

                @media screen and (max-width:900px) {
                    width: 100%;
                }

                h2 {
                    font-family: Calibri, Helvetica, Arial, sans-serif;
                    font-weight: 300;
                    font-size: $header-font-size;

                    @media screen and (max-width:1025px) {
                        font-size: 1.75rem;
                    }

                    color: $colorOrange;
                    margin: 1em 0;
                    text-align: left;
                    // &:first-of-type {
                    //   margin-top:2em;
                    // }
                }

                p {
                    font-size: $p-primary-size;

                    @media screen and (max-width:736px) {
                        font-size: $p-small-size;
                    }

                    font-family: Georgia, serif;
                    line-height: 1.66;
                    color: $colorBlack;
                    margin-bottom: 1em;
                    // /@media screen and (min-width:1024px){text-align:justify;}
                    &.title {
                        margin: 1em 0;
                        //font-size:$p-larger-size;
                        font-weight: bold;
                        text-align: left;

                        @media screen and (max-width:1025px) {
                            font-size: 1.4rem;
                        }
                    }
                }

                .blueBox {
                    p {
                        color: #f5f5f5;
                        font-size: $p-small-size;
                    }
                }

                .blue {
                    color: $colorBlue;
                }


                .flex-container-subcol {
                    padding: 0;
                    margin: 0 20px 0 0;
                    list-style: none;
                    max-width: 1300px;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-flow: row wrap;
                    justify-content: space-around;
                }


                .flex-item-subcol {
                    padding: 20px;
                    width: 20%;
                    height: auto;

                    @media screen and (max-width:950px) {
                        width: 45%;
                    }

                    @media screen and (max-width:550px) {
                        width: 100%;
                        margin: 0;
                        padding: 20px 0 0 0;
                    }

                    h2 {
                        font-family: Calibri, Helvetica, Arial, sans-serif;
                        font-weight: 300;
                        font-size: $p-larger-size;
                        color: $colorOrange;
                        margin: 0;
                        text-align: center;
                    }

                    p {
                        font-size: $p-small-size;
                    }
                }

                .flex-container-gray {
                    padding: 30px 10px;
                    margin: -20px 0 0 0;
                    list-style: none;
                    max-width: 1000px;
                    background-color: #e4e4e4;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-flow: row wrap;
                    justify-content: space-around;
                }

                .flex-item-gray1 {
                    padding: 0;
                    margin-top: 30px;
                    width: 27%;
                    height: auto;

                    @media screen and (max-width:900px) {
                        width: 100%;
                        margin-top: 0;
                    }
                }

                .flex-item-gray2 {
                    padding: 0;
                    width: 65%;
                    height: auto;

                    @media screen and (max-width:1200px) {
                        p {
                            font-size: $p-small-size;
                        }
                    }

                    @media screen and (max-width:900px) {
                        width: 92%;
                        margin-top: 0;

                        p {
                            font-size: $p-small-size;
                        }
                    }
                }
            }
        }
    }
