.m-contentBox {
  width: 100%;
  margin-top: 20px;  

  > div > div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  h1, h2 {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 38px;
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 85px;
  }

}

.m-contentBox_firstBox {
  width: 100%;
  justify-content: center;
  order: 2;

  @media only screen and (min-width: 768px) {
    width: 50%;
    order: 1;

    > .btn {
      padding-right: 20px;
      padding-left: 20px;
    }

    > p {
      padding-bottom: 20px;
    }
  }
}

.m-contentBox_firstButton {

  @media only screen and (min-width: 768px) {
    margin-right: 5px;
  }
}

.m-contentBox_secondBox {
  margin-bottom: 20px;
  width: 100%;
  order: 1;
  text-align: center;

    .fa {
    font-size:15vmax;
    margin-top:50%;
    transform:translateY(-50%);
  }

  @media only screen and (min-width: 768px) {
    margin-top: 0;
    width: 50%;
    order: 2;
  }
}
