.donate-button {
  transition: all 0.3s;
}

.donate-button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	width: 0%;
	height: 50%;
	top: 0;
	right: 0;
	background: lighten($BGcolorDonate, 10%);
}

.donate-button:hover,
.donate-button:active {
	//color: #0e83cd;
}

.donate-button:hover:after,
.donate-button:active:after {
	width: 100%;
}
