@media screen and (max-width:767px) {
    #mobile-donate {
        display:none;
        button{
            min-height:50px;
            min-width:150px;
            font-size:inherit;
        }
    }
    .preventScroll {
        overflow:hidden;
    }
    #m-siteHeader {
        height:70px;
        min-height:70px;
        @media screen and (orientation:landscape) {
            height:50px;
            min-height:50px;
        }
        .logo-holder {
            width:30%;
        }
        // #mobile-close {
        //   position:absolute;
        //   display:block;
        //   bottom: 40px;
        //   right: 20px;
        //   padding: 1rem;
        //   width:auto;
        //   @media screen and (orientation:landscape) {
        //     display:none;
        //   }
        // }
        &.past-main {
            #mobile-donate {
                display:block;
            }
            height:50px;
            min-height:50px;
            .logo-holder {
                margin-left:5%;
                width:70%;
                order:1;
            }
            .logo {
                height:80%;
                width:100%;
                background:url("../images/logoMobile.png") no-repeat;
                background-position:left center;
                background-size:contain;
                transition: all .166s ease;
                transition-delay:.2s;
            }
            .donate-button {
                display:none;
                width:0;
                min-width:0;
                transition:width .2s ease, min-width .2s ease;
            }
            // .nav {
            //   width:25%;
            // }
            .priority-nav__dropdown {
                .contact-list-item {
                    @media screen and (orientation:portrait){
                        margin-top:50px;
                    }
                }
            }
        }
        .priority-nav__wrapper {
            background:transparent;
            width:100%;
        }
        .nav__dropdown-toggle {
            transform:scale(.85) translate(-12px, -7.5px);
        }
        .priority-nav__dropdown {
            left:auto;
            position:fixed;
            height:101vh;
            background-color:white;
            top:0;
            left:auto;
            overflow:hidden;
            text-align:right;
            @media screen and (orientation:landscape) {
                flex-flow:row wrap;
                padding:70% 0 0;
            }
            li {
                padding-right:20px;
                //width:auto;
                &#mobile-donate{
                    @media screen and (orientation:landscape) {
                        margin:auto;
                    }
                }
                @media screen and (orientation:landscape) {
                    width:33%;
                    text-align:center;
                }
                &:first-child {
                    @media screen and (orientation:landscape) {
                        //padding-top:20px;
                    }
                }
            }
            .contact-list-item {
                margin-top:70px;
                margin-bottom:20px;
                display:flex;justify-content:flex-end;
                @media screen and (orientation:landscape){
                    margin-top:0;
                    justify-content:center;
                }
                .contact-ul {
                    align-self:flex-end;
                    li {
                        width:auto;
                    }
                    li:last-child {
                        padding-right:0;
                    }
                }
            }
        }
    }
}


@media screen and (min-width:768px){
    #mobile-donate {
        display:none;
    }
    #m-siteHeader.past-main {
        #google_translate_element{
            transform:translateY(-100px);
            opacity:0;
            transition:opacity .2s ease;
        }
        .countdown {
            transform:translateY(-8px);
            left: 35%;

            .headline{
                font-size: 16px;
                line-height: 20px;
            }
            .time{
                font-size: 18px;
                line-height: 22px;
            }

            .hideOnScroll {
                display: none;
            }

            @media screen and (max-width:1137px) {
                left: 30%;
                top: 10px;
            }

            @media screen and (max-width:1011px) {
                left: 25%;
                top: 15px;
            }

            @media screen and (max-width:900px) {
                left: 20%;
            }
            
            @media screen and (max-width:768px) {
                display: none;
            }
        }
        //box-shadow:2px 2px 9px lighten(#000, 50%);
        transition:height .33s ease, min-height .33s ease;
        height:75px;
        min-height:75px;
        box-shadow: 1px 1px 6px rgba(0,0,0,.25);
        //background:rgba(255,255,255,.925);
        .nav {
            transition: align-self .2s ease;
            align-self:center;
            height:100%;
            .nav-ul {
                top:65%;
                transform:translateY(-50%);
                // /height:auto;
                bottom:auto;
                overflow:hidden;
                li {
                    @media screen and (-webkit-min-device-pixel-ratio:0){
                        overflow-Y:visible;
                        // vertical-align:initial;
                    }
                    a {
                        text-transform:uppercase;
                        color:$colorBlue;
                        text-decoration:none;
                        font-weight:bold;
                        display:inline-block;
                        padding:26px 20px;
                        @media screen and (max-width:1366px){
                            padding:30px 15px 22px;
                        }
                        position:relative;
                        &:after {
                            content: '';
                            position: absolute;
                            // display: block;
                            width:80%;
                            width: calc(100% - 40px);
                            bottom: 10px;
                            left: 0;
                            right:0;
                            margin:auto;
                            visibility: hidden;
                            transform: scale(0, 1);
                            background-color: $colorOrange;
                            height: 5px;
                            transition: all .25s ease-in-out 0s;
                            @media screen and (max-width:768px) {
                                display:none;
                            }
                        }

                        &:hover:after, &.active:after {
                            visibility: visible;
                            transform: scale(1, 1);
                        }
                    }
                }
                .contact-list-item {
                    transform:translate(0, 0);
                    position:relative;
                    transition: transform .166s ease, opacity .166s ease;
                    li{
                        a{
                            color:black;
                            padding: 0 10px;
                            &:hover {
                                color:$colorOrange;
                                transition:color .2s;
                            }
                        }
                    }
                }
            }

            .priority-nav__wrapper {
                top:50%;
                transform:translateY(-50%);
            }
        }
        .logo-holder {
            max-height:100%;
        }
        .logo {
            height:70%;
            background: url('../images/logoNaked.png') no-repeat 85% center;
            background-size:contain;
            transition: all .166s ease;
            backface-visibility: hidden;
            transform: translateZ(0) scale(1.0, 1.0);
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
            @media screen and (orientation:portrait) {
                background: url('../images/logoNaked.png') no-repeat center center;
                background-size:contain;
                height:65%;
            }
        }
        .donate-button {
            //width:15%;
            //min-width:185px;
            transition:all .2s ease;
        }
        .priority-nav__dropdown {
            top:50px;
        }
    }
}

@media screen\0 {
    #m-siteHeader.past-main {
        //   .priority-nav__dropdown {
        //   top:50px;
        //   transition: all .3s ease;
        // }
    }
}
