.m-heroCarousel {
    height: 100vh;
    position: relative;
    width: 100%;

    .slick-slide {
        display: flex;
    }

    .split-left {
        background: #0082bf;
        width: 50%;
        height: 100vh;
        margin: 0;
        padding: 0;

        .container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: auto;
            height: 100%;

            @media screen and (min-width:1024px) {
                width: 100%;
                padding-top: 140px;

                @media screen and (min-width:0\0) { //IE 11
                    transform: translateY(130px);
                }

                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { //IE 10
                    transform: translateY(0);
                }

                align-self: center;
                //padding-right:5vw;
                justify-content: center;
                align-items: center;
            }

            @media screen and (max-width:767px) and (orientation:landscape) {
                padding-top: 50px;
            }
        }

        .text {
            position: relative;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            align-self: center;
            width: 100%;
            height: 100%;

            img {
                @media screen and (orientation:portrait) {
                    width: 55%;
                    max-width: 55%;
                    height: auto;
                }

                @media screen and (orientation:landscape) {
                    height: 48vmin;
                    max-width: 80%;
                }

                &.bgScript {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: auto;
                    width: auto;
                    max-width: inherit;
                    height: 25%;
                    transform: translate(-5%, 5%);

                    @media screen and (orientation:portrait) {
                        transform: translate(-15vw, 0%);
                        height: auto;
                        width: 90vw;
                        max-width: 90vw;
                    }

                    &.success {
                        //transform:translate(-10%, -80%);
                        @media screen and (min-height:700px) {
                            //transform:translate(0, -90%);
                        }
                    }

                    &.support {
                        //transform:translate(-10%, -75%);
                        @media screen and (min-height:700px) {
                            //transform:translate(0, -75%);
                        }
                    }

                    &.mentor {
                        //transform:translate(-10%, -90%);
                        @media screen and (min-height:700px) {
                            //transform:translate(0, -90%);
                        }
                    }
                }
            }

            .button-holder {
                position: relative;
                width: 54vh;
                max-width: 90%;
                align-self: center;
                display: flex;
                justify-content: space-between;

                @media screen and (orientation:portrait) {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-end;
                    align-items: center;
                }

                margin-top: 7%;

                @media screen and (max-width:767px) {
                    margin-right: 0;
                }

                @-moz-document url-prefix() {
                    margin-top: 50px;
                }
                // firefox
                @supports (-ms-ime-align:auto) {
                    margin-top: 50px;
                }
                // edge
                @media screen and (orientation:portrait) {
                    justify-content: space-around;
                }

                button, a {
                    text-align: center;
                    width: 47.5%;
                    padding-top: .5rem;
                    padding-bottom: .5rem;

                    @media screen and (orientation:portrait) {
                        &.btn, &.btnAlternate {
                            font-size: $p-small-size;
                            padding: 12px 17px;
                        }

                        margin: auto;
                        width: 40%;

                        &:first-of-type {
                            margin-left: auto;
                            //margin-bottom:5%;
                        }

                        @media screen and (max-width:767px) {
                            margin: auto auto 0;
                            width: 80%;
                            max-width: 80%;
                            min-height: auto;

                            &:first-of-type {
                                margin-bottom: 5%;
                                margin-top: 5%;
                            }

                            &:last-of-type {
                                margin-left: auto;
                            }
                        }
                    }

                    @media screen and (min-width:1024px) {
                        padding-top: .55rem;
                        padding-bottom: .55em;
                    }
                }
            }

            h1, h2, h3, h4, p {
                color: white;
                text-transform: uppercase;
                width: 100%;
                margin: 0 auto;
                font-size: 2rem;
            }

            h1, h2, h3, h4 {
                text-align: center;
            }

            p {
                @media screen and (orientation:landscape) {
                    text-align: center;
                }
            }
        }
    }

    .split-right {
        width: 50%;
        height: 100vh;
        margin: 0;
        padding: 0;

        &.about {
            background: url('../images/BGCH_Slide1.png') no-repeat center center;
            background-size: cover;
            background-position: 50% 0;
        }

        &.members {
            background: url('../images/BGCH_Slide2.png') no-repeat center center;
            background-size: cover;
            background-position: 100% 0;
        }

        &.donors {
            background: url('../images/donors2.jpg') no-repeat center center;
            background-size: cover;
            background-position: 100% 70px;

            @media screen and (orientation:landscape) {
                background-position: 100% 50px;
            }

            @media screen and (min-width:768px) {
                background-position: 50% 120px;
            }
        }

        &.volunteers {
            background: url('../images/volunteers2.jpg') no-repeat center center;
            background-size: cover;
            background-position: 100% 50px;

            @media screen and (min-width:768px) {
                background-position: 50% 60px;
            }
        }

        &.harvey {
            background: url('../images/homeslide_harvey.jpg') no-repeat center center;
            background-size: cover;
            background-position: 100% 50px;

            @media screen and (min-width:200px) {
                background-position: 48% 60px;
            }

            @media screen and (min-width:768px) {
                background-position: 50% 60px;
            }
        }
    }
}


.slick-prev, .slick-next {
  opacity:0;
}

.slick-prev {
      // @media screen and (min-width:1025px){
      //   display:none !important; // needed to get to div's behind for dev
      // }
      top: 0;
      left: 0;
      height: 70%;
      width:50%;
      width: calc(50% - 13px);
      z-index:1;
    &:hover {
      cursor:url('../images/mouseIconLeft.png'), pointer;
    }
    @media screen and (orientation:portrait) {
      height:40px;
      margin:auto;
      bottom:0;
      top: 10%;
      width:30px;
      opacity:1;
      background: url('../images/mouseIconLeft.png') no-repeat center center;
      &:before {
        content:'';
      }
      &:hover, &:focus {
        background:url('../images/mouseIconLeft.png') no-repeat center center;
        cursor:pointer;
      }
    }
}

.slick-next {
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      width: calc(50% + 13px);
    &:hover {
      cursor:url('../images/mouseIconRight.png'), pointer;
    }
    @media screen and (orientation:portrait) {
      height:40px;
      margin:auto;
      bottom:0;
      top: 10%;
      width:30px;
      opacity:1;
      background: url('../images/mouseIconRight.png') no-repeat center center;
      &:before {
        content:'';
      }
      &:hover, &:focus {
        background:url('../images/mouseIconRight.png') no-repeat center center;
        cursor:pointer;
      }
    }
}
@media screen and  (orientation:landscape){
  .m-heroCarousel{
      .split-left{
      .container {
        align-items:flex-end;
      }
      .text {
        align-self:center;
        @media screen and (min-aspect-ratio:1280/949){
          margin-left:10%;
        }
        @media screen and (max-width:767px){
          margin-left:0;
          margin-right:0;
          justify-content:center;
          .button-holder {
            display:flex;
            align-items:center;
            justify-content:center;
            button, a {
              min-height:auto;
              min-width:35%;
              &:last-of-type {
                margin-left:1rem;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and  (orientation:portrait) {
  .m-heroCarousel{
    height:1900px;
    @media screen and (max-height:1300px) {
      height:1800px;
      //height:1375px;
    }
    // @media screen and (max-height:950px) {
    //   height:1375px;
    // }
    @media screen and (max-height:800px) {
      height:900px;
      @media screen and (min-aspect-ratio: 469/700){
        height:180vh;
      }
    }
    // @media screen and (max-height:600px) {
    //   height:840px;
    // }
    .slick-slide {
      flex-flow:column;
      height:1900px;
      @media screen and (max-height:1300px) {
        height:1800px;
        //height:1375px;
      }
      // @media screen and (max-height:950px) {
      //   height:1375px;
      // }
      @media screen and (max-height:800px) {
        height:900px;
        @media screen and (min-aspect-ratio: 469/700){
          height:180vh;
        }
      }
      // @media screen and (max-height:600px) {
      //   height:840px;
      // }
    }
    .split-left, .split-right {
        cursor:move;
        cursor:grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        &.touch_mode_grabbing {
          cursor:grabbing;
        }
      height:50%;
      width:100%;
      margin:auto;
    }
    .split-left{
      .container {
        padding-top:0;
        justify-content:flex-start;
      }
      .text {
        width:70%;
        img {
          width:100%;
          max-width:100%;
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            width:auto;
            max-width:auto;
            height:50%;
          }
          @media screen and (max-width:450px){
            max-width:222px;
          }
        }
      }
      order:2;
      height:50%;
    }
    .split-right {
      &.academic {
        background-position: 50% 25%;
      }
      &.inspire  {
        background-position: 50% 0;
      }
    }
  }
  .slick-next, .slick-prev {
    top: 0;
  }
}

html.touch {
  .slick-next, .slick-prev {
    height: 40px;
    margin: auto;
    bottom: auto;
    top:50%;
    @media screen and (orientation:portrait) {
      top:25%;
    }
    transform:translateY(50%);
    width: 30px;
    opacity: 1;
    background: url(../images/mouseIconRight.png) no-repeat center center;
    &:before {
      content:'';
    }
  }
  .slick-prev {
    background: url(../images/mouseIconLeft.png) no-repeat center center;
  }
  .split-left, .split-right {
      cursor:move;
      cursor:grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      &.touch_mode_grabbing {
        cursor:grabbing;
      }
    }
}

.single-item{
  .slick-next {
      &:hover {
        cursor:url('../images/mouseIconRightGreen.png'), pointer;
      }
    }
  .slick-prev {
      &:hover {
        cursor:url('../images/mouseIconLeftGreen.png'), pointer;
      }
    }
  }
