
.pull-box.map-box {
    img {
      background:transparent;
    }
    #map {
      position:relative;
      height:100%;
      width:100%;
      padding:0;
    }
  a {
      text-decoration:none;
      color:$BGCBlue;
      &:active, &:hover, &:visited {
        color:$BGCBlue;
        text-decoration:none;
      }
  }
}

.mapContent {
  display:flex;
  flex-flow:column wrap;
  justify-content:flex-start;
  align-items:center;
  padding:1.5rem 0 2rem;
  @media screen and (max-width:1024px){
    padding:.5rem 0 .2rem;
  }
  margin-left:18px;
  img {
    margin:0;
    padding:0;
    width:auto;
    height:75px;
    @media screen and (max-width:1024px){
      height:50px;
    }
    @media screen and (max-width:736px){
      height:40px;
    }
    box-shadow:none;
  }
  p:first-of-type {
    font-family:'Open Sans', sans-serif;
    text-decoration:none;
    font-size:1rem;
    @media screen and (max-width:1024px){
    font-size:.8rem;
    margin:.5rem 0 .25rem;
    }
    margin:1.5rem 0 1.25rem;
    font-weight:bold;
    line-height:1;
    text-decoration:none;
  }
  p:last-of-type{
    font-size:1.25rem;
    @media screen and (max-width:1024px){
    font-size:.8rem;
    }
    margin:0;
    line-height:1;
    color:black;
    &:active, &:hover, &:visited {
      color:black;
      text-decoration:none;
    }
  }
}
