.pull-box {
  position:relative;
  margin:2rem 0 4rem;
  @media screen and (min-width:736px){
    margin:5rem 0 5rem;
  }
  img, .quote-box {
    width:100%;
    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.25);
    @media screen and (min-width:1024px){
      width:80%;
      padding:0 0 0 20%;
      background:#ffcc00;
    }
  }
}

.slider-pull-box {
  position:relative;
  margin:2rem 0 4rem;
  background:rgba(255, 204, 0, .9);
  box-shadow:1px 1px 6px rgba(0, 0, 0, 0.25);
  margin-bottom:90px;
  margin-top:2em;
  height:auto;
  @media screen and (min-width:736px){
    margin:5rem 0;
    &.extra-margin {
      margin-bottom:8rem;
    }
  }
  @media screen and (min-width:1024px){
    width:100%;
    padding:0;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
     width:80%;
     padding:0 0 0 20%;
    }
  }
  img {
    width:100%;
    height:auto;
  }
  .slick-dots {
    bottom:-50px;
    @media screen and (min-width:1024px){
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {width:59.5vw;}
      width:100%;
    }
  }
  .slick-prev {
    height:100%;
    opacity:0;
    @media screen and (min-width:1024px){
      left:20vw;
    }
    @media screen and (min-width:1024px) and (orientation:landscape){
      left:0;
      width:50vw;
    }
  }
  .slick-next {
    opacity:0;
    @media screen and (min-width:1024px) and (orientation:landscape){
      //margin-right:-20vw;
      width:50vw;
    }
  }

  .slick-dots li button {
    padding:1rem;
    &:before {
      font-size:15px;
    }
  }

  .slick-slide:not(.slick-current){
    opacity:.5;
  }
}

html.touch .slider-pull-box {
  .slick-prev{
    @media screen and (min-width:1024px){
      //left:20vw;
      //transform:translateX(100%);
    }
  }
}

.pull-box.quotes {
  margin:1rem 0 2rem;
  margin-left:10%;
  width:85%;
  @media screen and (max-width:736px){
    margin-left:auto;
    margin-right:auto;
  }
  @media screen and (min-width:1024px){
    margin-left:0;
    margin:3.5rem 0;
    background-color:#ffcc00;
  }
  > img, .quote-box {
    position:relative;
    box-shadow:none;
    @media screen and (min-width:1024px){
      box-shadow:none;
      width:80%;
      padding:0;
      padding-left:2rem;
      margin-left:20%;
      background-color:#f0f0f0;
    }
    h2 {
      font-family:'Georgia', serif;
      font-weight:100;
      font-style:italic;
      color:#ff9900;
      line-height:1.5;
      font-size:$pull-quotes;
      @media screen and (max-width:736px){
        font-size:1.33rem;
      }
    }
  }
}

  .pull-box.map-box {
    #mapTop {
      position:absolute;
      top:-100px;
      @media screen and (max-width:736px) {
        top:-50px;
      }
    }
    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.25);
    margin:1rem auto 2rem;
    height:420px;
    width:80vw;
    position:relative;
    @media screen and (min-width:736px){
      margin:4rem 0 2rem;
    }
    @media screen and (min-width:1024px){
      width:80%;
      padding-left:20%;
      background:#ffcc00;
    }
    @media screen and (min-width:1367px){
      height:50vh;
    }
  }

  .pull-box.calendar-box {
    z-index:-1;
    background:rgba(255, 255, 255, 0.5);
    box-shadow:1px 1px 6px rgba(0, 0, 0, 0.25);
    margin:-5px auto 0;
    width:100%;
    position:relative;
    overflow-x:hidden;
    @media screen and (min-width:1024px){
      min-height:auto;
      margin:-5px auto 2rem;
      width:60%;
    }
    img {
      background:transparent;
      box-shadow:none;
      width:25%;
      max-width:300px;
      min-width:200px;
      margin-left:50%;
      transform:translate(-50%, 0%);
      padding:6rem 0 0;
      @media screen and (min-width:768px){
        padding:6rem 0 3rem;
      }
    }
  }

  .pull-box.above-calendar, .slider-pull-box.above-calendar {
    margin-bottom:0;
  }
