﻿.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 255);
    font-weight: 700;
}

.btn .btn-success .donate a:hover:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    width: 48px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…wyNyw3LjkzLDI3LTEuMjYsMTUuNzUtMi4yNiwxMy41LDMuODlaIi8+PC9nPjwvZz48L3N2Zz4=) no-repeat 50%;
    background-size: 27px 25px;
}
