.goog-te-gadget-icon {
    display: none;
}
#google_translate_element{
    position: fixed;
    top: 22px;
    right:265px;
    border: none;
    transition:opacity .4s ease;
    .goog-te-banner-frame {
        bottom:0;
        top:auto;
    }
    .goog-te-gadget-simple {
        border:none;
    }
    @media screen and (max-width:768px){
        display:none;
    }
    @media screen and (min-width:1250px){
        right:20%;
        right: calc(20% + 25px);
    }
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        right:30%;
        right:calc(30% + 20px);
        @media screen and (orientation:landscape) {
            right:20%;
            right:calc(20% + 20px);
        }
    }
}



.mobileTimer {
    display: none;
    
    @media screen and (max-width:768px){
        display: inline;
        position: absolute;
        z-index: 5;
        background-color: #0082bf;
        width: 100%;
        text-align: center;
        color: #ffffff;
        padding: 12px 5px;
        top: -40px;
        font-size: 16px;
        line-height: 20px;
    }
    @media screen and (max-width:400px){
        font-size: 13px;
        line-height: 17px;
    }
}

#m-siteHeader {
    transition:height .166s ease, min-height .166s ease;
    top:0;
    //z-index:9999;
}
#mobile-close {
    display:none;
}
.m-siteheader {
    white-space:nowrap;
    width:100%;
    max-width:100%;
    @media screen and (min-width:1025px){
        width:calc(100% - 17px);
        max-width:calc(100% - 17px);
    }
    @supports (-ms-ime-align:auto) {
        width:100%;
        max-width:100%;
        width:calc(100% - 12px);
        max-width:calc(100% - 12px);
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  {
        width:100%;
        max-width:100%;
        width:calc(100% - 17px);
        max-width:calc(100% - 17px);
    }
    display:flex;
    flex-flow:row nowrap;
    align-items:flex-end;
    justify-content:space-between;
    position:fixed;
    height:175px;
    //min-height:135px;
    @media screen and (max-width:973px) and (orientation:landscape){
        max-height:70px;
    }
    z-index:2;
    background:#fff;
    @media screen and (max-width:768px) {
        height:10vmax;
        min-height:10vmax;
    }
    .logo-holder {
        position:relative;
        //:auto 2.5% auto 5%;
        height:100%;
        max-height:80%;
        width:25%;
        display:flex;
        align-self:center;
        justify-content:center;
        align-items:center;
        transition: all .2s ease;
        z-index:2;
        // @media screen\0 {
        //   margin-right:5%;
        // }
        @media screen and (max-width: 768px) and (orientation:portrait) {
            width:28%;
        }
        @media screen and (max-width:767px) {
            width:35%;
            margin-left:0;
            margin:0;
            order:2;
        }
        @media screen and (min-width: 1024px) and (orientation:portrait) {
            margin-right:0;
        }
    }
    .logo {
        height:100%;
        width:100%;
        background: url('../images/logo.png') no-repeat center right;
        background-size:contain;
        position:relative;
        //transition: background .33s ease;
        .scrollToTop {
            position:absolute;
            height:100%;
            width:100%;
            &:focus, &:active, &:hover {
                border:0;
                outline:0;
            }
        }
        @media screen and (max-width:767px) {
            background: url('../images/logoNaked.png') no-repeat center center;
            background-size:contain;
            width:70%;
            height:75%;
        }
    }
    .countdown {
        position: fixed;
        left: 38%;
        top: 10px;
        text-align: center;
        
        .headline{
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 5px;
        }
        .time{
            font-size: 22px;
            line-height: 30px;
        }
        @media screen and (max-width:1100px) {
            left: 28%;
        }
        @media screen and (max-width:1012px) {
            left: 21%;
            
            .headline{
                font-size: 16px;
                line-height: 20px;
            }
            .time{
                font-size: 18px;
                line-height: 22px;
            }
        }
        @media screen and (max-width:768px) {
            display: none;
        }
    }
    .nav {
        white-space:nowrap;
        position:relative;
        width:55%;
        max-width:55%;
        width:calc(55% - 40px);
        max-width:calc(55% - 40px);
        margin-left:40px;
        //margin-right:20px;
        height:50%;
        // @media screen\0 {
        //   align-self:center;
        //   height:100%;
        // }
        transition: align-self .33s ease;
        @media screen and (max-width:1024px) {
            margin-right:0;
        }
        @media screen and (max-width:767px) {
            order:3;
            margin:0;
            width:20%;
            height:100%;
            .priority-nav__wrapper {
                right:50%;
                top:50%;
                transform:translate(50%,-50%);
            }
        }
        li {
            //padding:20px;
            a {
                font-size:1rem;
                @media screen and (min-width:768px) and (max-width:1366px){
                    font-size:.8rem;
                    padding:21px 15px;
                }
                text-transform:uppercase;
                color:$colorBlue;
                text-decoration:none;
                font-weight:bold;
                display:inline-block;
                padding:20px;
                position:relative;
                &.highlight {
                    &:after {
                        content: '';
                        position: absolute;
                        width:80%;
                        width: calc(100% - 40px);
                        @media screen and (min-width:768px) and (max-width:1366px){
                            width: calc(100% - 30px);
                        }
                        bottom: -30px;
                        left: 0;
                        right:0;
                        margin:auto;
                        visibility: visible;
                        background-color: lighten($colorOrange, 10%);
                        height: 45px;
                        transform:scaleY(.8);
                        @media screen and (max-width:768px) {
                            display:none;
                        }
                    }
                    &:hover:after, &.active:after {
                        background-color: $colorOrange;
                        transform: scaleY(1);
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    // display: block;
                    width:80%;
                    width: calc(100% - 40px);
                    @media screen and (min-width:768px) and (max-width:1366px){
                        width: calc(100% - 30px);
                    }
                    bottom: -30px;
                    left: 0;
                    right:0;
                    margin:auto;
                    visibility: hidden;
                    transform: scaleY(0);
                    background-color: $colorOrange;
                    height: 45px;
                    transition: all .2s ease-in-out 0s;
                    @media screen and (max-width:768px) {
                        display:none;
                    }
                }

                &:hover:after, &.active:after {
                    visibility: visible;
                    transform: scaleY(1);
                }
            }
        }
    }
    .donate-button {
        position:relative;
        border:none;
        outline:none;
        margin-right:0;
        height:50%;
        padding:0;
        width:20%;
        min-width:245px;
        text-transform:uppercase;
        font-size:$button-font-size;
        background-color:$BGcolorDonate;
        letter-spacing:2px;
        color:white;
        margin-left:0;
        z-index:1;
        align-self:flex-end;
        @media screen and (max-width:767px) {
            width:50%;
            min-width:50%;
            order:1;
            transition:width .2s ease, min-width .2s ease;
        }
    }

    .donateLinkText {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateY(-25%);
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 1366px) and (min-width:768px) {
    .m-siteheader {
        height:120px;
    }
}
@media screen and (max-width: 1024px) and (min-width:768px) {
    .m-siteheader {
        height:120px;
        min-height:120px;
        .logo-holder {
            width:20%;
            max-height:70%;
        }
        .nav {
            width:50%;
            max-width:50%;
            @media screen and (orientation:landscape) {
                width:60%;
                max-width:60%;
            }
        }
        .donate-button {
            min-width:30%;
            width:30%;
            @media screen and (orientation:landscape) {
                min-width:20%;
                width:20%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        margin-top: 0;
    }

    .dropdown-toggle {
        margin-bottom: 2px;
    }

    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle {
        margin-bottom: 0;
    }
}

//note to self: try inline block liek you did for IE


@media screen and (max-width: 1024px) and (min-width:768px) and (orientation:portrait) {
    .m-siteheader {
        height:120px;
        min-height:120px;
        .logo-holder {
            width:25%;
            //margin-right:5%;
            max-height:70%;
        }
        .nav {
            width:45%;
            max-width:45%;
        }
        // .nav {
        //   align-self:center;
        //   width:30%;
        //   width:calc(35% - 20px);
        // }
    }
}