/*
 * Core styles for PriorityNav.js
 * These styles are not optional and should always be included
 *
 * Free to use under the MIT License.
 * http://twitter.com/GijsRoge
 */
.priority-nav {
  white-space: nowrap;
  // display:flex;
  // justify-content:flex-end;
  // align-items:center;
  height:100%;
  max-width:100%;
  position:relative;
  /*
    * Makes sure the menu's are inline-block so they don't take up
    * the entire width of its parent. This will break the plugin.
    */
}

.priority-nav > ul { // NEEDS TO BE INLINE BLOCK FOR IE
  padding-left:0;
  margin:0;
  display:inline-block;
  height:100%;
  max-width:100%;
  float:right;
  position:relative;
}

.priority-nav > ul > li {
  display:inline-block;
  height:100%;
  overflow-Y:hidden;
}

.priority-nav__wrapper {
  background:transparent;
}

.priority-nav-has-dropdown .priority-nav__dropdown-toggle {
  position: relative;
}

.priority-nav__wrapper {
      float:right;
      position:relative;
}

.m-siteheader {
.priority-nav__dropdown {
  position: absolute;
  margin:auto;
  opacity:0;
  right:0;
  left:0;
  width:100vw;
  transform:translateX(700px);
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-flow: column nowrap;
  background:transparent;
  z-index:-1;
  overflow:hidden;
    li {
        a {
          font-size:.8rem;
          font-size:$p-smaller-size;
          text-transform:uppercase;
          color:$colorBlue;
          text-decoration:none;
          font-weight:bold;
          display:inline-block;
          padding:20px;
          position:relative;
            &:after {
            content: '';
            position: absolute;
            // display: block;
            width:80%;
            width: calc(100% - 40px);
            bottom: 10px;
            left: 0;
            right:0;
            margin:auto;
            visibility: hidden;
            transform: scale(0, 1);
            background-color: $colorOrange;
            height: 5px;
            transition: all .25s ease-in-out 0s;
            @media screen and (max-width:768px) {
              display:none;
            }
          }

          &:hover:after, &.active:after {
            visibility: visible;
            transform: scale(1, 1);
          }
        }
    }
  // @media screen and (max-width: 973px) and (orientation: portrait){top:80px;}
    li {
      height:auto;
      //padding:20px;
      background:white;
      width:100%;
      opacity:0;
      transform:translateX(100%);
      &:first-child {
        padding-top:20px;
      }
    }
    .contact-list-item > ul > li:first-child {
      padding-top:0;
    }
}
}

.priority-nav__dropdown.show {
  opacity:1;
  transform:translateX(0px);
  height:auto;
  li {
    transform:translateX(0%);
    transition: transform .2s ease, opacity .35s ease;
    opacity:1;
    &:nth-child(1){
      transition: transform .2s ease, opacity .35s ease;
      transition-delay: .2s;
    }
    &:nth-child(2){
      transition: transform .2s ease, opacity .35s ease;
      transition-delay: .275s;
    }
    &:nth-child(3){
      transition: transform .2s ease, opacity .35s ease;
      transition-delay: .325s;
    }
    &:nth-child(4){
      transition: transform .2s ease, opacity .35s ease;
      transition-delay: .4s;
    }
    &:nth-child(5){
      transition: transform .2s ease, opacity .35s ease;
      transition-delay: .475s;
    }
    &:nth-child(6){
      transition: transform .2s ease, opacity .35s ease;
      transition-delay: .55s;
    }
    &:nth-child(7){
      transition: transform .2s ease, opacity .35s ease;
      transition-delay: .625s;
    }
  }
}

.priority-nav__dropdown-toggle {
  visibility: hidden;
  position: absolute;
  border:none;
  background:transparent;
  outline:none;
  padding: 20px;
  transform: translateY(-8px);
  transition:all .2s;
}
.priority-nav__dropdown-toggle:hover {
  cursor:pointer;
  .hamburger {
    color:$colorOrange;
    transition:color .2s;
    &:before, &:after {
      background:$colorOrange;
      transition:background .2s;
    }
  }
}
.priority-nav__dropdown-toggle:active, .priority-nav__dropdown-toggle:focus {
    border:none;
    background:transparent;
    outline:none;
}
.priority-nav-is-visible {
  visibility: visible;
}

.priority-nav-is-hidden {
  visibility: hidden;
}



.hamburger {
  position: relative;
  margin: auto;
  pointer-events: none;
  text-align:center;
  text-transform:uppercase;
  font-weight:bold;
}
.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  left: 8px;
  width: 32px;
  height: 4px;
  background: #000;
  pointer-events: none;
}
.hamburger:before {
  top: 22px;
}
.hamburger:after {
  top: 30px;
}

.nav-ul {
  li {
    padding:0;
    display:inline-block;
  }
}


//contact nav

.contact-nav {
  position:relative;
  min-width:300px;
  align-self:flex-start;
  margin-left:auto;
  height:auto;
}
.m-siteheader{
  .nav {
      .contact-list-item {
        padding:0;
        > ul > li {
          padding:0;
          a{
            padding:0 10px;
            &:hover {
              color:$colorOrange;
              transition:color .2s;
            }
            &:after {
              display:none;
            }
          }
        }
        @media screen and (max-width:973px) {
          transform:none;
        }
      }



    .contact-ul {
      //margin:auto;
        padding:0;
        display:flex;
        align-items:center;
        justify-content:center;
        height:100%;
      @media screen and (max-width:973px) {
        padding:0;
      }
      li {
        display:inline-block;
        padding:0;
        padding:10px 7.5px;
        padding:10px calc(.2rem + .13vw + .13vh);
        .fa:before {
          margin-right:10px;
        }
        @media screen and (max-width:973px) {
          padding-left:0;
        }
        a {
          color:inherit;
          padding:0;
          font-size:inherit;
        }
      }
    }
  }
}
