.m-siteFooter {
  width:100%;
  background-color:$colorFooter;
  display:flex;
  flex-flow: row wrap;
  justify-content:flex-start;
  img {
    align-self:center;
  }
}

.footer-container {
  display:flex;
  flex-flow:column nowrap;
  justify-content:flex-start;
  margin:auto;
  max-width:90%;
  width:90%;
}

.footer-logo {
  align-self:center;
  margin:auto;
  max-width:300px;
  height:auto;
  margin-top:75px;
  margin-bottom:75px;
}

.nav-footer {
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  align-self:center;
  margin:auto;
  //margin-bottom:50px;
}

.nav-footer-ul {
  width:100%;
  margin:auto;
  color:white;
  align-self:center;
  //display:flex;
  //justify-content:space-between;
  //align-items:center;
  align-self:center;
  text-transform:uppercase;
  font-weight:bold;
  font-size:$p-small-size;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  @media screen and (min-width:2000px){
    max-width:80%;
  }
  @media screen and (max-width:1024px){
    justify-content: space-around;
  }
  @media screen and (max-width:767px) and (orientation:portrait) {
    justify-content:space-between;
    max-width:300px;
  }
  li {
    margin:0 1rem 35px;
    color:$colorFooterBlue;
    display:inline-block;
    @media screen and (min-width:1420px){
      &:first-child {
        margin-left:0;
      }
      &:last-child {
        margin-right:0;
      }
    }
    @media screen and (max-width:1024px){
      margin:0 0 35px;
    }
    @media screen and (max-width:767px) and (orientation:portrait) {
      display:block;
      span {
        padding-left:0;
        padding-right:0;
      }
    }
  }
}

.footer-p {
  margin:auto;
  color:white;
  @media screen and (min-width:768px) {text-align:center;}
  margin-bottom:35px;
  line-height:1.5;
  font-size:$p-small-size;
  color:#999;
  span {
    color:#ffcc00;
  }
  @media screen and (max-width:767px) and (orientation:portrait) {
    max-width:300px;
  }
}

.orgs-ul {
  margin:auto;
  align-self:center;
  margin-bottom:0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  @media screen and (max-width:767px) and (orientation:portrait){
    justify-content:space-between;
    max-width:300px;
  }
  li{
    display:inline-block;
    margin:0 10px 35px;
    @media screen and (max-width:767px) and (orientation:portrait){
      width:40%;
      margin:5% 0;
    }
    img {
      height:55px;
      @media screen and (max-width:767px) and (orientation:portrait){
        width:100%;
        height:auto;
      }
    }
  }
}

.social-icons {
  background:$colorSocialIconsBackground;
  width:100%;
  height:75px;
  align-self:flex-end;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  .social-list {
    position:relative;
    margin:auto;
    width:60%;
    margin:0;
    @media screen and (max-width:992px) {
      width:100%;
    }
    height:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    li {
      height:100%;
      width:33.333%;
      display:flex;
      justify-content:center;
      align-items:center;
      transition: background .2s ease;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover{cursor:pointer;}
      .fa {
        //margin:auto;
        color:white;
      }
      &.social-list-item-fb{
        background:$facebook;
        &:hover {
          background: lighten($facebook, 10%);
        }
      }
      &.social-list-item-twit{
        background:$twitter;
        &:hover {
          background: lighten($twitter, 20%);
        }
      }
      &.social-list-item-insta{
        background:$instagram;
        &:hover {
          background: lighten($instagram, 10%);
        }
      }
    }
  }
}

.m-siteFooter_footerHero {
  position:relative;
  overflow:hidden;
  height:65%;
  box-shadow: inset 0px 12px 14px rgba(0,0,0, 0.34);
  &:before {
  box-shadow: 0px -9px 14px rgba(0, 0, 0, 0.34);
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  background: transparent;
  height: 16px;
  bottom: -16px;
  z-index:1;
  }
  @media screen and (orientation:portrait) {
    height:1000px;
    @media screen and (max-height:1366px) {
      height:700px;
    }
    @media screen and (max-height:1024px) {
      height:600px;
    }
    @media screen and (max-height:800px) {
      height:500px;
    }
    @media screen and (max-height:700px) {
      height:450px;
    }
  }
  @media screen and (min-width:1024px) and (orientation:landscape) {
    height:60vh;
  }

}


/* Dropdown Button */
.dropbtn {
    padding: 16px;
    padding-bottom:25px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-weight:400;
    display: none;
    position: absolute;
    left:16px;
    margin-top:16px;
    background-color: #171717;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    //top:-20px;
    //transform:translateY(-100%);
    @media screen and (max-width:767px) and (orientation:portrait) {
          left: 50%;
          transform: translateX(-50%);
          min-width: auto;
    }
}

/* Links inside the dropdown */
.dropdown-content a {
    color: lighten($colorOrange, 25%);
    transition:color .2s;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:inherit;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color:$colorOrange;
  transition:color .2s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.m-siteFooter_footerHero{
  position:relative;
}
.parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:url("../images/parallaxFooterSmall.jpg") no-repeat center center;
    background-size:cover;
    @media screen and (min-width:736px){
    background:url("../images/parallaxFooterMedium.jpg") no-repeat center center;
    background-size:cover;
    }
    @media screen and (min-width:1400px){
    background:url("../images/parallaxFooterLarge.jpg") no-repeat center center;
    background-size:cover;
    }
    width:100%;
    height:100%;
    z-index:-1;
    background-attachment:fixed;
    @media screen and (-webkit-min-device-pixel-ratio:0){
      height:150%;
      transform: translateZ(-300px) scale(2);
      background-attachment:initial;
    }
    @media screen and (max-width:1025px){
      height:150%;
      transform: translateZ(-300px) scale(2);
      background-attachment:initial;
    }
    @supports (-ms-ime-align:auto) { 
      height:100%;
      transform: none;
      background-attachment:initial;
    }
    @supports (-ms-accelerator:true) {
      height:100%;
      transform: none;
      background-attachment:initial;
    }
    &.removeParallax {
      height:100%;
      transform: none;
    }
}

#sitemap {
display: inline;
font-family:'EB Garamond', serif;
align-self: center;
text-align: center;
}

.m-siteFooter.sitemap { 
  padding:120px 0;
  img {
    margin-bottom:20px;
  }
  min-height:100vh;
  .nav-footer-ul {
    align-items:flex-start;
    justify-content:space-between;
    flex-flow:row wrap;
    @media screen and (max-width:1024){
      flex-flow:column wrap;
    }
    li {
      margin:0 2rem;
      margin-top:3rem;
      .dropbtn a {
        color:inherit;
      }
    }
  }
  .dropdown-content {
    min-width:0;
    display:block;
    background-color:transparent;
    box-shadow:none;
    position:relative;
    a {
      padding:10px 0;
    }
  }
}
