.copyLayout{
  .flex-container.hide {
    visibility:hidden;
    height:0;
    opacity:0;
    transition:opacity .2s ease;
    &.reveal {
      visibility:visible;
      display:flex;
      opacity:1;
      height:auto;
      transition:opacity .2s ease;
    }
    &.hide-desktop-only {
      @media screen and (min-width:736px) {
        visibility:visible;
        display:flex;
        opacity:1;
        height:auto;
      }
    }
    &.hide-desktop-only-map {
      @media screen and (min-width:1025px) {
        visibility:visible;
        display:flex;
        opacity:1;
        height:auto;
      }
    }
  }
}

.toggle {
  &.fa{
    font-size:1.25rem;
    vertical-align:middle;
    color:$colorBlue;
    margin-top:.25em;
    @media screen and (min-width:736px) {
      //color:#171717;
      margin-left:0;
      margin-top:0;
    }
    &:before {
      vertical-align:top;
    }
  }
  padding:0 1rem;
  margin-left:.25rem;
  color:inherit;
  &:hover {
    color:$colorBlue;
    cursor:pointer;
  }
  &.fa-minus {
    @media screen and (min-width:736px) {
      transform:none;
    }
  }
  &.desktop-only {
    @media screen and (min-width:736px) {
      display:none;
    }
  }
  &.desktop-only-map {
    @media screen and (min-width:1025px) {
      display:none;
    }
  }
}

.toggleParent {
  display:flex;
  justify-content:space-between;
  font-weight:bold;
  &:hover {
    cursor:pointer;
  }
  @media screen and (min-width:736px) {
    align-items:center;
    &:not(.matchWidth){
      justify-content:flex-start;
    }
    &.matchWidth {
      max-width:50%;
    }
  }
  @media screen and (min-width:1200px) {
    &.matchWidth {
      max-width:400px;
    }
  }
  &.desktop-only {
    @media screen and (min-width:736px) {
      display:none;
    }
  }
  &.desktop-only-map {
    @media screen and (min-width:1025px) {
      display:none;
    }
  }
}

.distinguishedDonors{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  .toggle.fa {
    margin-left:auto;
    margin-right:0;
  }
  span {
    width:100%;
    order:2;
  }
}

.fa.social-toggle {
  margin-top:2rem;
  margin-left:50%;
  transform:translateX(-50%);
  cursor:pointer;
  color:#494949;
  transition:color.2s ease;
  padding:1em;
  &:hover {
    color: lighten($colorBlue, 15%);
  }
  @media screen and (max-width:735px) {
    display:none;
  }
}
