.tooltipContainer {
  position:relative;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
  transform: translateZ(0); /* webkit flicker fix */
  font-smoothing: antialiased; /* webkit text rendering fix */
}

.tooltipContainer .tooltip {
  font-size:1rem;
  font-family:'Open Sans', sans-serif;;
  background: darken($colorOrange, 5%);
  bottom: 100%;
  color: #fff;
  display: block;
  left: 50px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 15px 10px;
  pointer-events: none;
  position: absolute;
  @media screen and (min-width:1025px){
    width:153px;
  }
  text-align:center;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
          @media screen and (-webkit-min-device-pixel-ratio:0)
            {
              transform: translate(calc(-50% + 1.25rem - 50px),10px);
            }
          @-moz-document url-prefix() {
              transform: translate(calc(-50% + 1.25rem - 50px),10px);
          }
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.tooltipContainer .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.tooltipContainer .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid darken($colorOrange, 5%) 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.tooltipContainer:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
          @media screen and (-webkit-min-device-pixel-ratio:0)
            {
              transform:translate(calc(-50% + 1.25rem - 50px),0px);
            }
          @-moz-document url-prefix() {
              transform: translate(calc(-50% + 1.25rem - 50px),0px);
          }
}
