#donate-background {
  display:block;
  position:fixed;
  width:0;
  height:0;
  top:0;
  left:0;
  background-color:rgba(0,0,0,.4);
  &.open {
    height:100%;
    width:100%;
    z-index:2;
  }
  &:hover {
    cursor:url('../images/xWhite.png'), pointer;
  }
}

.donate-area {
    position: fixed;
    background: transparent;
    visibility:hidden;
    z-index: 2000;
    top:0;
    left: 50%;
    width: 75%;
    height:auto;

    // @media screen and (min-height:500px){
    //   height:100%;
    // }
    //
    // @media screen and (min-height:700px){
    //   height:700px;
    // }
    //
    // @media screen and (min-height:800px){
    //   height:750px;
    // }

    transform:translateX(-50%);
    border-radius: 0 0 3px 3px;
    box-shadow: none;
    transition:box-shadow .05s;
    @media screen and (max-width:767px){
      width:100%;
      height:100%;
      min-height:100%;
      overflow:hidden;
    }

    @media screen and (min-width:1400px){
      max-width:1000px;;
    }

    .inner-content {
      display: flex;
      flex-flow: column nowrap;
      position:relative;
      align-items:center;
      justify-content:flex-start;
      width: 100%;
      height:100%;
      transform:translateY(-200%);
      transition:all .3s;
      opacity:0;
      //background:#f0f0f0 url("../images/bg.png");
      background:#f0f0f0;
      transition: all .5s;
      padding:5rem 0;
      overflow:auto;
    }

    &.open {
      visibility:visible;
      opacity: 1;
      overflow: hidden;
      box-shadow: 0.25rem 0.25rem 9px rgba(0, 0, 0, 0.24);
      transition-delay:.45s;
      .inner-content {
        transform: translateY(0%);
        opacity: 1;
      }
    }

    .paypal {
      margin:0 auto 2.25rem;
      display:block;
      width:250px;
      @media screen and (max-width:736px) and (orientation:landscape) {
        margin:2rem auto 1rem;
        width:200px;
        margin:0;
      }
    }

    .exit-donate {
      position:absolute;
      top:1rem;
      right:2rem;
      padding:1rem;
      z-index:9999;
      opacity:.7;
      transition:all .2s ease;
      &:hover {
        cursor:pointer;
        @media screen and (min-width:1024px){
          transition:all .2s ease;
          opacity:.9;
        }
      }
    }

    .cbp-mc-form {
    	position: relative;
      width:85%;
      @media screen and (min-width:736px) and (orientation:landscape) {
        width:100%;
      }
    }

    /* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
    .cbp-mc-form:before,
    .cbp-mc-form:after {
    	content: " "; display: table;
    }

    .cbp-mc-form:after {
    	clear: both;
    }
    .userChoice{
      .cbp-mc-column {
        padding-top:0;
        justify-content:flex-start;
      }
      @media screen and (max-width:736px) and (orientation:landscape) {
        position: Absolute;
        bottom: 1vmax;
        right: 0;
        width: 66%;
        left: auto;
        align-items:flex-start;
        .column-user-choice {
          @media screen and (max-width:736px) and (orientation:landscape) {
            padding:0 5px;
          }
        }
      }
    }

    .cbp-mc-column {
    	width: 66%;
    	padding: 10px 30px 0;
    	margin:auto;
      display:flex;
      flex-flow:row wrap;
      justify-content:space-between;
      &.hide-me {
        display:none;
      }
      .btn {
        font-size:$p-small-size;
        padding: 1rem 0;
        margin-bottom:2.5rem;
        width:47%;
        //box-shadow:.25rem .25rem 9px rgba(0,0,0,.24);
        @media screen and (max-width:736px){
          margin-bottom:3vmax;
          @media screen and (orientation:landscape) {
            width:33%;
            margin-bottom:1vmax;
            padding:.5rem 0;
            font-size:.5rem;
          }
        }
        &.last {
          width:100%;
          padding: 1.15rem 0;
          margin-bottom:0;
          @media screen and (max-width:736px) and (orientation:landscape) {
            width:66%;
            margin-bottom:1vmax;
            padding:.5rem 0;
          }
        }
        &.btn-recur-input {
          margin-bottom:0;
          width:100%;
          @media screen and (min-width:1024px) {
            width:100%;
            transition: width .25s ease;
            &.shrink {
              width:50%;
            }
          }
          @media screen and (max-width:736px) and (orientation:landscape) {
            width:100%;
            padding:.5rem 0;
            margin-bottom:0;
            &.shrink {
              width:100%;
            }
          }
        }
      }
      &.GFD {
        .btn {
          width:100%;
          @media screen and (max-width:736px){
            margin-bottom:3vmax;
            @media screen and (orientation:landscape) {
              width:33%;
              margin-bottom:1vmax;
              padding:.5rem 0;
              font-size:.5rem;
            }
          }
        }
      }
      &.LB {
        .btn {
          width:100%;
          @media screen and (max-width:736px){
            margin-bottom:3vmax;
            @media screen and (orientation:landscape) {
              width:33%;
              margin-bottom:1vmax;
              padding:.5rem 0;
              font-size:.5rem;
            }
          }
        }
      }
      .gimme-shadow {
        width:100%;
        display:flex;
        flex-flow:row wrap;
        box-shadow:none;
      }
      input {
        &#recurringInput{
            visibility:hidden;
            width:0;
            text-align:center;
            height:auto;
            transform: translateY(-100%);
            border-radius:0;
            border:none;
            &.affixInput{
              position: fixed;
              top: 2rem;
              bottom: auto;
              z-index: 9999;
              width:calc(85% - 20px;)
            }
            &.grow {
              border: 2px solid $BGcolorDonate;
              visibility:visible;
              height:52px;
              transform: translateY(0);
              transition: transform .25s ease, border .25s .2s ease;
            }
          @media screen and (min-width:1024px) {
            transform: translateY(0);
            &.grow {
              visibility:visible;
              width:50%;
              transition: width .25s ease, border 0s ease .25s;
              height:auto;
            }
          }
          @media screen and (max-width:1023px) and (max-width:80em) {
            position:absolute;
            width:calc(80% - 60px);
            left:0;
            right:0;
            margin:auto;
            bottom:-52px;
            @media  (-ms-high-contrast: active), (-ms-high-contrast: none), screen\0 {
              position:relative;
              width:100%;
              bottom:auto;
            }
          }
          @media screen and (max-width: 48em) {
            width:calc(100% - 20px);
          }
          @media screen and (max-width: 767px) {
            width:calc(100% - 20px);
          }
          @media screen and (max-width:736px) and (orientation:landscape) {
            transform:none;
            display:none;
            position:initial;
            height:auto;
            &.grow{
              display:inline;
              width:100%;
              z-index: 100;
              height: auto;
              padding: .25rem 0;
              }
          }
        }
      }

      .last  {
        letter-spacing:0;
      }

    .cbp-mc-form input,
    .cbp-mc-form textarea,
    .cbp-mc-form select {
    	font-family: 'Lato', Calibri, Arial, sans-serif;
    	line-height: 1.5;
    	font-size: 1.4em;
    	padding: 5px 10px;
    	display: block;
    	background: #fff;
    }


    #recurringInput {
    	outline: none;
    	border: none;
      text-align:center;
    }

    #recurringInput:focus {
    	outline: none;
      border: 2px solid $BGcolorDonate;
    }
}
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #10689a;
        font-style: italic;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #10689a;
        font-style: italic;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #10689a;
        font-style: italic;
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #10689a;
        font-style: italic;
    }



    @media screen and (max-width: 80em) {
    	.cbp-mc-column {
    		width: 80%;
    	}
    }

    @media screen and (max-width: 48em) {
    	.cbp-mc-column {
    		width: 100%;
    		padding: 10px 10px 0;
    	}
    }


    h2 {
      color:white;
      &.GFD {
            font-family: Calibri, Helvetica, Arial, sans-serif;
            font-weight: 300;
            font-size: calc(1.5em + .5vw + .5vh);
            color: $colorBlue;
            margin: 0 0 .5em;
            text-align: center;
            width:100%;
      }

      &.LB {
            font-family: Calibri, Helvetica, Arial, sans-serif;
            font-weight: 300;
            font-size: calc(1.5em + .5vw + .5vh);
            color: $colorBlue;
            margin: 0 0 .5em;
            text-align: center;
            width:100%;
      }

      &.H {
            font-family: Calibri, Helvetica, Arial, sans-serif;
            font-weight: 300;
            font-size: calc(1.5em + .5vw + .5vh);
            color: $colorBlue;
            margin: 0 0 .5em;
            text-align: center;
            width:100%;
      }
    }

    p.GFD {
    display: inline-block;
    vertical-align: middle;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    cursor: pointer;
    font-size: calc(.9em + .3vw + .3vh);
    margin-bottom: 2.5rem;
    margin-top:0;
    line-height: 1.5;
    }

    p.LB {
    display: inline-block;
    vertical-align: middle;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    cursor: pointer;
    font-size: calc(.9em + .3vw + .3vh);
    margin-bottom: 2.5rem;
    margin-top:0;
    line-height: 1.5;
    }

    p.H {
    display: inline-block;
    vertical-align: middle;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    cursor: pointer;
    font-size: calc(.9em + .3vw + .3vh);
    margin-bottom: 2.5rem;
    margin-top:0;
    line-height: 1.5;
    }


.recurring, .non-recurring, .userChoice {
  &.hide-me {display:none;}
}

}
