.progressbars {
  padding:2em 0;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
  //background-color:#f0f0f0;
  .bar-container {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items:flex-start;
    width:100%;
    > div {
      width:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      margin: 1rem 0;
      @media screen and (min-width:736px) {
        width: 33%;
        margin:0;
      }
      > div {
        position:relative;
        width:70%;
        display:flex;
        flex-flow:column wrap;
        p {
          order:3;
          text-align:center;
          margin:0 0 2rem;
          font-size:$p-small-size;
          @media screen and (max-width:767px) {
            font-size:.85rem;
          }
          font-family:'Open Sans', sans-serif;
          color:#626262;
        }
        img {
          width: 50%;
          height: auto;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          transform: translate(50%, 110%);
          &.paper {
            transform: translate(50%, 42%);
            @media all and (-ms-high-contrast:none) {
              transform: translate(150%, 50%);
            }
          }
          &.apple {
            transform: translate(48%, 30%);
            @media all and (-ms-high-contrast:none) {
              transform: translate(144%, 37%);
            }
          }
          @media all and (-ms-high-contrast:none) {
            width: 25%;
            transform: translate(150%, 120%);
          }
        }
      }
    }
  }

  .progressbar-text {
    position:relative;
    text-align:center;
  }
}
