@import 'variables';

.safetyLogo {
    width: 100%;
    padding: 0 1rem;

    @media only screen and (min-width: 600px) {
        width: 50%;
        float: right;
    }
}

.safetyList {
    @extend p;
    list-style: unset;
    padding-left: 3rem;
}

.safetyBold {
    font-weight: 700;
}