.sitePopup {
	background-color: rgba(black, .4);
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 999;
  overflow: auto;
}

.sitePopup_container {
	width: 85%;
	max-width: 350px;
	background-color: $colorWhite;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px;
	box-shadow: 0 0 5px 3px rgba(black, .3);

	.m-previewWork_previewImage {
		max-width: none;
	}
}

.sitePopup_closeBtn {
	height: 20px;
	width: 20px;
	background-color: $colorBlack;
	border: 2px $colorWhite solid;
	box-shadow: 0 0 5px 3px rgba(black, .3);
	border-radius: 100%;
	position: absolute;
	top: -10px;
	right: -10px;

	&:before,
	&:after {
		content: '';
		height: 2px;
		width: 10px;
		background-color: white;
		position: absolute;
		top: 7px;
		left: 3px;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}
}
