.socialFeed {
  position:relative;
  padding:6rem 0;
  @media screen and (max-width:736px){
    padding:5rem 0;
  }
  background:url("../images/bg.png");
  .container {
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-self:center;
    h1 {
      font-weight:100;
      margin-top:0;
      margin-bottom:.5rem;
      color:#0082bf;
      text-align:center;
    }
    p {
      @media screen and (orientation:landscape) {text-align:center;}
      font-size:$p-primary-size;
      line-height:1.5;
    }
  }
}

#wall {
  @media screen and (min-width:736px) {
    height:100%;
    max-height:calc(100vh - 150px);
    overflow:hidden;
    transition:max-height .5s ease,  box-shadow .1s;
    position:relative;
    &:before{
      z-index:1;
      margin:auto;
      content: "";
      width:90%;
      @media screen and (min-width:1024px){
        width: 100%;
      }
      height:6px;
      top:100%;
      transform:translateY(-8px);
      left:0;
      right:1%;
      position:absolute;
      box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
      transition:  box-shadow .1s;
    }
    &.show {
      max-height:1500vh;
      box-shadow: none;
      transition:max-height 5s ease;
      &:before{
        box-shadow: none;
        transition:  box-shadow .1s;
      }
    }
  }
}
