$colorBlack: #000000;
$colorOffBlack: #01161E;
$colorWhite: #ffffff;
$colorBlueGray: #627084;
$linkColor: white;
$colorBlue: #146dbb;
$colorNeonGreen: #32d200;
$colorMedGray: #7A7A7A;
$colorDarkGray: #2d2d2d;
$colorLightGray: #CDCDCD;
$colorWhyGray: #e7e9ec;
$colorMidGray:#DEDFE0;
$colorLightestGray: #eff1f2;

$colorLightBlue: #8eb6cb;
$colorDarkBlue: #003366;
$colorBlue: #0082bf;
$colorYellow: #ffdf2d;
$colorGreen: #66cc33;
$colorOrange: #ff9900;
$colorGray: #666666;
$colorRed: #cc0000;
$backgroundColor: #f5f5f5;
$BGCBlue:#0081be;

$card-link-color: #ffab40 !default;
$card-link-color-light: lighten($card-link-color, 20%) !default;

// LAYOUT
$vspace: 10px;
$hspace: 30px;
$narrow:83%;
$universal-space:85px;







$p-primary-size:calc(.9em + .3vw + .3vh);
$p-larger-size:calc(1.2em + .3vw + .3vh);
$p-title-donors:calc(0.7em + .3vw + .3vh);
$p-title-text:calc(.8em + .3vw + .3vh);
$p-small-size:calc(.7em + .2vw + .2vh);
$p-smaller-size:calc(.6em + .2vw + .2vh);
$p-smallest-size:calc(.4em + .2vw + .2vh);
$button-size:calc(.3em + .75vw + .06vh);
$button-font-size:calc(1.2em + .4vw + .4vh);
$header-font-size:calc(1.5em + .5vw + .5vh);
$pull-quotes:calc(1.2em + .45vw + .45vh);

$colorSubmitYellow: #ffcc00;
$colorSubmitGreen: #66cc33;
$colorBlue: #146dbb;
$colorFooterBlue: #0082bf;
$colorPaypalBlue: #336699;
$BGcolorDonate: #66cc33;
$colorFooter: #333333;
$colorSocialIconsBackground: #171717;
$twitter: #00aced;
$facebook: #3b5998;
$instagram: #bc2a8d;
